<!DOCTYPE html>
<html lang="en">
<head>
{% include_relative _includes/header.html %}

</head>
<body>
<div class="container">        I believe iOS you tap "Trust"

        ========================
        Dan Matthews
        Manager, Network Engineering and Unified Communications
        Case Western Reserve University
        Office 216-368-8834
        Mobile 330-671-0002
        ========================

        On Tue, Sep 15, 2015 at 2:49 PM, Kevin Chan <wxc16@case.edu> wrote:

            Windows ...
            Please  click   "Connect"

            MacOS
            Please click "Continue"
            Inline image 1


            Android:
            I actually didn't see an warning message.


            Kevin

            On Tue, Sep 15, 2015 at 2:45 PM, David Uhrin <dxu20@case.edu> wrote:

                And please provide the specific path to follow....is it click connect to accept the cert?  Does a user have to take other specific action?

                On Tue, Sep 15, 2015 at 2:43 PM, Kevin Chan <wxc16@case.edu> wrote:

                    I'm getting the mac version ... and iOS version ..


                    On Tue, Sep 15, 2015 at 2:42 PM, Kevin Chan <wxc16@case.edu> wrote:

                        For windows people

                        Inline image 2





                        Inline image 3



                        -- 
                        ______________________________________________________
                        Kevin W. Chan, CCNP, , CCNA VWS, IT Engineer III
                        Case Western Reserve University
                        Information Technology Services - Enterprise System
                        10900 Euclid Ave. Phone: 216-368-1082
                        Crawford Hall Rm 416 FAX: 216-368-3165
                        Cleveland, Ohio 44106-7072 EMAIL: kevin.chan@case.edu




                    -- 
                    ______________________________________________________
                    Kevin W. Chan, CCNP, , CCNA VWS, IT Engineer III
                    Case Western Reserve University
                    Information Technology Services - Enterprise System
                    10900 Euclid Ave. Phone: 216-368-1082
                    Crawford Hall Rm 416 FAX: 216-368-3165
                    Cleveland, Ohio 44106-7072 EMAIL: kevin.chan@case.edu




                -- 
                 
                David Uhrin
                Delivery Manager- Information Technology Services(ITS)
                Case Western Reserve University
                Office:  216-368-5674
                Cell:     216-212-9207
                Office location:  Crawford Hall - 4th Floor - Rm 424

                http://case.edu/its/news/itsksl-care-center-to-open-march-9.html





            -- 
            ______________________________________________________
            Kevin W. Chan, CCNP, , CCNA VWS, IT Engineer III
            Case Western Reserve University
            Information Technology Services - Enterprise System
            10900 Euclid Ave. Phone: 216-368-1082
            Crawford Hall Rm 416 FAX: 216-368-3165
            Cleveland, Ohio 44106-7072 EMAIL: kevin.chan@case.edu






-- 
 
David Uhrin
Delivery Manager- Information Technology Services(ITS)
Case Western Reserve University
Office:  216-368-5674
Cell:     216-212-9207
Office location:  Crawford Hall - 4th Floor - Rm 424

http://case.edu/its/news/itsksl-care-center-to-open-march-9.html


:wq
wq
q
{% include_relative _includes/survey.html %}
{% include_relative _includes/footer.html %}
</div>
</body>
</html>