<!DOCTYPE html>
<html lang="en">
<head>
{% include_relative _includes/header.html %}

</head>
<body>
<div class="container"><span><!-- navigation object : Page Name template -->ITS KBA 4668 CWRU Apartments Network</span>
</section>
</div>
</div>
  
<div class='displayNone'><!-- navigation object : Breadcrumbs hidden template -->
  <div class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- navigation object : Home Link template --><a href='SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27574'><img src='https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=345024848' alt="Go to Home" /></a><!-- navigation object : Breadcrumbs Template --> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=27574&amp;chid=144&amp;lang=en">ITS</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=41906&amp;chid=144&amp;lang=en">ITS Development</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67312&amp;chid=144&amp;lang=en">rpretzer</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67341&amp;chid=144&amp;lang=en">KBA</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67393&amp;chid=144&amp;lang=en">ITS KBA 4668 CWRU Apartments Network</a>
  </div><!-- .breadcrumb -->
</div>
  
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-col">
    
    <div class="row"><a id="d.en.200243"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200243"></a>
<h3>CWRU Apartments Network and Cable</h3>
  

  
<p>High-speed wired Internet access in the following CWRU Property Management Apartments is not provided or supported by the university. Adelphia/Time Warner is responsible for providing and servicing the cable modem/router and necessary connectivity to these locations. Please refer to the following websites for additional information.</p>
<p>Division of Student Affairs Network Connection for Property Management Apartments: <a href="http://studentaffairs.case.edu/living/services/network/cablemodem.html" target="_blank"> </a><a class="a" href="http://studentaffairs.case.edu/living/services/network/cablemodem.html" target="_blank">studentaffairs.case.edu/living/services/network/cablemodem.html</a></p>
<p>Division of Student Affairs Housing and Residence Life list of CWRU Property Management Apartments:</p>
<p><a class="a" href="http://studentaffairs.case.edu/living/facilities/pma/" target="_blank">studentaffairs.case.edu/living/facilities/pma/</a></p>
<p>Adelphia/Time Warner Customer Service contact information:</p>
<p>Customer Service Phone Number for Cleveland: 1.877.314.3618</p>
<p>Links to online chat and email support services: <a href="https://www.timewarnercable.com/NortheastOhio/about/contactus.ashx" target="_blank"> </a><a class="a" href="https://www.timewarnercable.com/NortheastOhio/about/contactus.ashx" target="_blank">www.timewarnercable.com/NortheastOhio/about/contactus.ashx</a></p>
</div>
<div style="clear:both"></div>
</div><!--.row-->
</div><!-- end main content area-->{% include_relative _includes/survey.html %}
{% include_relative _includes/footer.html %}
</div>
</body>
</html>