<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
 	<meta http-equiv="X-UA-Compatible" content="IE=edge">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

		<style>
		h2 { padding-top: 30px; }
		h3 { padding-top: 20px; }
		</style>

	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container"><!DOCTYPE html>
<html lang="en">
<head>
{% include_relative _includes/header.html %}

</head>
<body>
<div class="container"><span><!-- navigation object : Page Name template -->ITS KBA 23433 Macintosh VPN</span>
</section>
</div>
</div>
  
<div class='displayNone'><!-- navigation object : Breadcrumbs hidden template -->
  <div class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- navigation object : Home Link template --><a href='SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27574'><img src='https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1102657476' alt="Go to Home" /></a><!-- navigation object : Breadcrumbs Template --> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=27574&amp;chid=144&amp;lang=en">ITS</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=41906&amp;chid=144&amp;lang=en">ITS Development</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67312&amp;chid=144&amp;lang=en">rpretzer</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67341&amp;chid=144&amp;lang=en">KBA</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67400&amp;chid=144&amp;lang=en">ITS KBA 23433 Macintosh VPN</a>
  </div><!-- .breadcrumb -->
</div>
  
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-col">
    
    <div class="row"><a id="d.en.200272"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200272"></a>
<h2>Install the Cisco AnyConnect Client on a Mac</h2>
  

  
<ol>
<li>Download <strong>Cisco AnyConnect VPN Client </strong>installation file from the Software Center.</li>
<li>Launch the installation program if it does not begin automatically.</li>
<li>Click or tap the <strong>Connect </strong>button to begin.</li>
<li>Click or tap the <strong>Continue </strong>button to display the Software License Agreement.</li>
<li>Review <span class="p">the Software License Agreement and click or tap </span>Continue<span class="p">.</span></li>
<li>Click or tap <strong>Agree </strong>to continue or Disagree to cancel installation.</li>
<li><strong>UNCHECK</strong> <span class="p">the Web Security, Diagnostics and Reporting Tool and Posture options.</span><strong>NOTE</strong>: <span class="p">These options are not supported on the CWRU network.</span></li>
<li>Click or tap the <strong>Continue </strong>button.</li>
<li>Click or tap the <strong>Install </strong>button. Do not change the default Install Location.</li>
<li>Enter computer administrator name and password into Name and Password fields.</li>
<li>Click or tap <strong>OK</strong>.</li>
<li>Click or tap the <strong>Close </strong>button after the confirmation screen appears.</li>
</ol>
<h4>Configure the VPN connection and Connect</h4>
<ol>
<li>Click or tap the Spotlight icon.</li>
<li>Enter <strong>vpn </strong>into the Spotlight field.</li>
<li>Click or tap Cisco AnyConnect VPN Client.</li>
<li>Enter <strong>vpn.case.edu </strong>in <strong>connect to </strong>field.</li>
<li>Click or tap the <strong>Select </strong>button.</li>
<li>Enter CWRU Network ID and password when prompted.</li>
<li>Click or tap the <strong>Connect </strong>button.</li>
<li>Click or tap the <strong>Accept </strong>button to agree to the Case Acceptable Use Policy.</li>
<li>The connection will minimize to the menu bar.</li>
</ol>
<h4>Disconnecting and reconnecting</h4>
<ol>
<li>Right click the AnyConnect icon to and lock the icon to the Dock.</li>
<li>The disconnect feature is available from the menu bar or application.</li>
<li>Click or tap the AnyConnect icon in the Dock to open the application.</li>
<li>Select <strong>vpn.case.edu </strong>from the dropdown box, and click or tap Connect to reestablish VPN connection.</li>
</ol>
</div>
<a id="d.en.200275"></a>


<div class='tinyMCE   col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200275"></a>
<h3>About VPN at CWRU</h3>
  

  
<p class="p1">Virtual Private Networking (VPN) software is used to remotely connect to the campus network, and yet appear to on-line resources as though you are directly connected. This software also helps secure your computer on the network so that traffic to and from your computer is encrypted.</p>
<p class="p1">The provider for VPN software at CWRU is Cisco AnyConnect. It is available at&nbsp;<a href="https://vpnsetup.case.edu" target="_blank">vpnsetup.case.edu</a>.</p>
</div>
<div style="clear:both"></div>
</div><!--.row-->
</div><!-- end main content area-->{% include_relative _includes/survey.html %}
{% include_relative _includes/footer.html %}
</div>
</body>
</html><hr>

<p>&nbsp;</p>
<p>&nbsp;</p>


<div class="well">
<p class="lead">Answer three questions to help us improve your experience</p>

<iframe name="confirm" id="confirm" style="display:none;" onload="if(typeof sent_confirm!='undefined'){window.location='https://googledrive.com/host/0B5e4Smfyuda_dEJRRlZ1UmhSTGM/thank-you-webex.html';}"></iframe>
<form action="https://docs.google.com/forms/d/1XYrNCfwy4w_Cx_k7FkaTN5LhYN8e2920DOna_n7l-jQ/formResponse" method="POST" id="ss-form" target="confirm" onsubmit="sent_confirm=true">

    <div class="form-group">
  		<p><label>Would you recommend WebEx to a colleague or friend? *</label><br>
    		<select class="form-control" name="entry.535955540" id="entry_535955540" placeholder="Yes">
    		<option selected disabled hidden value=''></option>
    		<option value="Yes">Yes</option> 
    		<option value="No">No</option>
  		</select></p>

  		<p><label>Do the included instructions lead naturally to an expected outcome? *</label><br>
    		<select class="form-control" name="entry.1059610721" id="entry_1059610721" placeholder="Yes">
    		<option selected disabled hidden value=''></option>
    		<option value="Yes">Yes</option> 
    		<option value="No">No</option>
  		</select></p>

  		<p><label>Are the included instructions clear and understandable? *</label><br>
    		<select class="form-control" name="entry.1188770357" id="entry_1188770357" placeholder="Yes">
    		<option selected disabled hidden value=''></option>
    		<option value="Yes">Yes</option> 
    		<option value="No">No</option>
  		</select></p>

  		<p><label>Feedback</label><br>
  		<textarea name="entry.1986528048" class="form-control" rows="3" id="entry_1986528048" placeholder="Survey responses are anonymous. So if you want personal followup, add your contact information here."></textarea></p>
		<p>&nbsp;</p>
		<button type="submit" name="submit" value="Submit" id="ss-submit" class="btn btn-primary">Submit response</button>
		</form>
	</div>
</div>


<hr>

<div class="pull-right">
<p>&copy; 2015, Case Western Reserve University</p>
</div>
<div class="clearfix"></div>

</div>
</body>
</html>