<!DOCTYPE html>
<html lang="en">
<head>
{% include_relative _includes/header.html %}

</head>
<body>
<div class="container">
<span><!-- navigation object : Page Name template -->ITS KBA 84230 Account Lockout</span>
</section>
</div>
</div>
  
<div class='displayNone'><!-- navigation object : Breadcrumbs hidden template -->
  <div class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- navigation object : Home Link template --><a href='SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27574'><img src='https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=355098324' alt="Go to Home" /></a><!-- navigation object : Breadcrumbs Template --> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=27574&amp;chid=144&amp;lang=en">ITS</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=41906&amp;chid=144&amp;lang=en">ITS Development</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67312&amp;chid=144&amp;lang=en">rpretzer</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67341&amp;chid=144&amp;lang=en">KBA</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67466&amp;chid=144&amp;lang=en">ITS KBA 84230 Account Lockout</a>
  </div><!-- .breadcrumb -->
</div>
  
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-col">
    
    <div class="row"><a id="d.en.200658"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200658"></a>
<h3>Account Lockout</h3>
  

  
<p class="p1"><strong>How do I unlock my account?</strong></p>
<p class="p2">If you receive an error message while using your CWRU account with Active Directory (e.g., using a public computer lab with CWRU network ID and password) that states your account has been locked out, <a href="https://its-services.case.edu/my-case-identity/password/change/"><span class="s1">sync your CWRU network ID password with your Active Directory password</span></a>.</p>
<p class="p2">Wait 15 minutes and then attempt to log on again.</p>
<p class="p2">If you are still unable to access your account, contact the ITS Service Desk at 216-368-HELP (4357).</p>
<p class="p1"><strong>Active Directory account lockout policy</strong></p>
<p class="p2">The Active Directory account lockout policy helps prevent attackers from guessing user passwords, thereby decreasing the likelihood of a successful attack on our network.</p>
<p class="p2">If an incorrect account password is entered a specified number of times over a set period (precise conditions are defined by school or department IT administrators), then your account will be temporarily unavailable.</p>
<p class="p2">Account lockout will also occur if you are logged into one computer via Active Directory and use a second computer to change your Active Directory password.</p>
</div>
<div style="clear:both"></div>
</div><!--.row-->
</div><!-- end main content area-->

{% include_relative _includes/survey.html %}
{% include_relative _includes/footer.html %}
</div>
</body>
</html>