<!DOCTYPE html>
<html lang="en">
<head>
{% include_relative _includes/header.html %}

</head>
<body>
<div class="container"><h2>Blackboard Learn</h2>
  

  
<p>Blackboard Learn is the learning management software used by instructors to create course &ldquo;sites&rdquo; for their students where they can distribute class information, materials and assignments, as well as keep track of grades and communication with students. Blackboard Learn is used in many different ways. It is accessed by instructors, staff and students at&nbsp;<a href="http://blackboard.case.edu" target="_blank"><span class="s2">blackboard.case.edu</span></a></p>
<p><span>ITS has written training material for instructors on how to use Blackboard. Technology partner lynda.com also has a video series. Users can go to help.case.edu/Lynda, click the &ldquo;Click Here to Log In&rdquo; button, and when the lynda.com site appears, search for &ldquo;Blackboard&rdquo; or use the menus at the top of the page to search by software name.</span></p>
</div>
<a id="d.en.200398"></a>


<div class='tinyMCE   col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200398"></a>
<h3>ITS Resources for Instructors</h3>
  

  
<p><span>&zwnj;</span><span>&zwnj;</span><span>&zwnj;</span><span>&zwnj;</span><a href="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1355253560" target="_blank">Quick Reference Guide</a></p>
<p>Instructor Manual: Topic Index</p>
<p><a href="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1628198162" target="_blank">Instructor Manual: Full Text</a></p>
<p><a href="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1406098302" target="_blank">How To: Format Test Questions for Upload from Excel</a></p>
<p><a href="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1816313585" target="_blank">Frequently Asked Questions</a></p>
</div>
<a id="d.en.200399"></a>


<div class='tinyMCE   col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200399"></a>
<h3>Blackboard POS</h3>
  

  
<p>Blackboard is also the provider of point-of-sale software and fixtures that are used for the Case Card. Fixtures can be seen on the outside of vending machines. Blackboard Learn does not interact with point-of-sale functions.</p>
</div>
<div style="clear:both"></div>
</div><!--.row-->
</div><!-- end main content area-->{% include_relative _includes/survey.html %}
{% include_relative _includes/footer.html %}
</div>
</body>
</html>