<!DOCTYPE html>
<html lang="en">
<head>
{% include_relative _includes/header.html %}

</head>
<body>
<div class="container"><span><!-- navigation object : Page Name template -->ITS KBA 6318 Computer Purchases</span>
</section>
</div>
</div>
  
<div class='displayNone'><!-- navigation object : Breadcrumbs hidden template -->
  <div class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- navigation object : Home Link template --><a href='SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27574'><img src='https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1215841628' alt="Go to Home" /></a><!-- navigation object : Breadcrumbs Template --> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=27574&amp;chid=144&amp;lang=en">ITS</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=41906&amp;chid=144&amp;lang=en">ITS Development</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67312&amp;chid=144&amp;lang=en">rpretzer</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67341&amp;chid=144&amp;lang=en">KBA</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67386&amp;chid=144&amp;lang=en">ITS KBA 6318 Computer Purchases</a>
  </div><!-- .breadcrumb -->
</div>
  
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-col">
    
    <div class="row"><a id="d.en.200202"></a>


<div class='tinyMCE   col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200202"></a>
<h2>Educational Discounts for Computer Purchases</h2>
  

  

</div>
<a id="d.en.200197"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200197"></a>
<h3>Institutional partners</h3>
  

  
<p>CWRU has partnered with Dell&trade; and Apple&reg; to offer discount prices to faculty, staff and students for the purchase of both personal use and work computers. Institutional purchases should be placed using the <a href="http://www.case.edu/fin" target="_blank">eProcurement system</a>. Or, visit the <a target="_blank" href="SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27613">CWRU eStore</a> to make personal puchases.</p>
</div>
<a id="d.en.200201"></a>


<div class='tinyMCE   col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200201"></a>
<h3>Where to purchase</h3>
  

  

</div>
<a id="d.en.200200"></a>


<div class='tinyMCE   col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200200"></a>
<h3>Questions?</h3>
  

  
<p>For additional information, policies and procedures, visit <a href="http://case.edu/procurement" target="_blank">case.edu/procurement</a>.</p>
</div>
<div style="clear:both"></div>
</div><!--.row-->
</div><!-- end main content area-->
{% include_relative _includes/survey.html %}
{% include_relative _includes/footer.html %}
</div>
</body>
</html>