<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
 	<meta http-equiv="X-UA-Compatible" content="IE=edge">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

		<style>
		h2 { padding-top: 30px; }
		h3 { padding-top: 20px; }
		</style>

	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container"><!DOCTYPE html>
<html lang="en">
<head>
{% include_relative _includes/header.html %}

</head>
<body>
<div class="container"><span><!-- navigation object : Page Name template -->ITS KBA 18972 Case Daily</span>
</section>
</div>
</div>
  
<div class='displayNone'><!-- navigation object : Breadcrumbs hidden template -->
  <div class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- navigation object : Home Link template --><a href='SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27574'><img src='https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=864821780' alt="Go to Home" /></a><!-- navigation object : Breadcrumbs Template --> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=27574&amp;chid=144&amp;lang=en">ITS</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=41906&amp;chid=144&amp;lang=en">ITS Development</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67312&amp;chid=144&amp;lang=en">rpretzer</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67341&amp;chid=144&amp;lang=en">KBA</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67420&amp;chid=144&amp;lang=en">ITS KBA 18972 Case Daily</a>
  </div><!-- .breadcrumb -->
</div>
  
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-col">
    
    <div class="row"><a id="d.en.200447"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200447"></a>
<h3>The Daily</h3>
  

  
<p>The Daily (formerly known as Case Daily) is the daily electronic newsletter issued to the university community from by the Case Western Reserve University office of Marketing and Communications. It is the official internal communication record of the university's administration. The Daily is emailed each weekday to all faculty, staff and students who are currently at the university or have been associated with Case over the last six to eight months. It is usually sent to the individual&rsquo;s @case.edu email address, unless one subscribes using a different address. It can also be viewed online at <a href="http://thedaily.case.edu/" target="_blank">http://thedaily.case.edu/</a></p>
<p>To subscribe to the Daily, go to <a href="http://thedaily.case.edu/" target="_blank">http://thedaily.case.edu/ </a>and scroll to the bottom of the page. Enter your email address into the Subscribe box.</p>
<p>Editorial guidelines for the daily can be found at <a href="http://thedaily.case.edu/news/?p=77" target="_blank">http://thedaily.case.edu/news/?p=77</a>.</p>
<h3 class="s2">Frequently Asked Questions</h3>
<h4>What if I don&rsquo;t want to receive the Daily?</h4>
<p>It is important for members of the Case community to receive messages from the university. Valuable information&mdash;facility closings and human resource notices, among others&mdash;will be included in the Daily.</p>
<h4>I am no longer a student/ I no longer work at Case. Why am I on the distribution list?</h4>
<p>If you left the university more than six or eight months ago and are still receiving Case emails, you should contact our Human Resources department (if you were faculty or staff) or the Registrar's office (if you were a student) to ensure that your information has been updated in the university's information systems.</p>
<h4>Why can&rsquo;t I read the text or see the design in the Daily?</h4>
<p>Individual email clients interpret html-enhanced messages in different ways, so the design of the Daily will vary from person to person and computer to computer. If you have problems viewing the Daily email, you can read the newsletters at <a class="s5" href="http://thedaily.case.edu/" target="_blank"> </a><a href="http://thedaily.case.edu/" target="_blank">http://thedaily.case.edu/</a>.</p>
<h4>Why can&rsquo;t I get the links in the menu to work?</h4>
<p>Individual email clients interpret html-enhanced messages in different ways, so the design of the Daily will vary from person to person and computer to computer. If you have problems viewing the Daily email, you can read the newsletters at <a class="s5" href="http://thedaily.case.edu/" target="_blank"> </a><a href="http://thedaily.case.edu/" target="_blank">http://thedaily.case.edu/</a>.</p>
<h4>Why do I receive the Daily so late in the day?</h4>
<p>The Daily is sent to more than 30,000 faculty, staff, students and friends of the university each day. The e-newsletter is sent through the SYMPA system, an automated electronic mailing-list manager that is employed by the university's Information Technology Services. It can sometimes take hours for the email to work its way through the distribution system, depending on the time of day and other messages in the queue, among other variables.</p>
<h4>How can I send a campus-wide email message?</h4>
<p>All campus-wide messages can be included in the Daily. Submit information to <a class="s3" href="mailto:daily@case.edu" target="_blank">daily@case.edu</a>. Submissions for the Daily are reviewed for timeliness and relevance to a university-wide audience.</p>
<h4>What information will be published in the Daily?</h4>
<p>The Daily includes sections on general campus information; notices for students, faculty and staff; Case in the news and higher education news; events and occasional profiles on university people and programs; and other relevant news and information.</p>
<h4>Why didn&rsquo;t my submission appear in the Daily?</h4>
<p>All submissions must meet the e-newsletter's guidelines for publication as well as be timely and relevant for a university-wide audience. Email specific questions and submissions to <a class="s3" href="mailto:daily@case.edu" target="_blank">daily@case.edu.</a></p>
<h4>If my notice won&rsquo;t appear in the Daily, how else can I promote it?</h4>
<p>One fast, simple way to promote your campus event is to post the event details to your department, school or college calendar. Events that have broad audience appeal and are open to the public may also be submitted for entry to the University Events Calendar, which feeds the events listing on the university home page.</p>
<p>To submit your event for University Events Calendar consideration, you can:</p>
<ol id="l1">
<li>
<p>Create an event on your personal Google Calendar, complete with a title, date/time, location and brief description of your event. Send an invitation to that event to <a class="s3" href="mailto:ehm23@case.edu" target="_blank">ehm23@case.edu</a></p>
</li>
<li>
<p>Already have your event listed on your department, school and/or college calendar? Send the public link to the event posting to <a class="s3" href="mailto:ehm23@case.edu" target="_blank">ehm23@case.edu</a> with email subject line "Events Calendar Submission."</p>
</li>
</ol>
<p>Emails without proper subject lines will not be opened. Because a great number of events are submitted for the central listing, not all submissions will be accepted.</p>
<p>Submissions not provided as Google Calendar events will <span style="text-decoration: underline;">not </span>be processed.</p>
<p>The University Events Calendar, whose listing appears on the university home page, is maintained by <a href="http://www.case.edu/umc" target="_blank">University Marketing and Communications</a><a class="s3" href="http://www.case.edu/events/calendars/events.html#othercals" target="_blank">.</a> A number of departments, schools and centers have also created event calendars for their respective areas. <a href="http://www.case.edu/events/calendars/events.html#othercals" target="_blank">See a listing of existing calendars</a>.</p>
<p>You can also post your news in the Community Postings. These items must be university-related and appropriate for the university audience (e.g., no advertisements, spam, profanity, defamatory language or events featuring alcohol). These items are subject to approval by the editor. Individuals not operating in an official capacity with the university cannot post to the community page.</p>
<h4>Why can't I choose how often I want to receive the Daily?</h4>
<p>It is important for members of the Case community to receive messages from the university throughout the week. Valuable information--facility closings, traffic updates and human resource notices, among others&mdash;will be included in the Daily.</p>
<h4>How do people without a CWRU Network ID access the Daily?</h4>
<p>A Case ID is not required to access Case Daily. Interested readers can subscribe to Case Daily by RSS feed or email. To subscribe by email, go to <a href="http://thedaily.case.edu/" target="_blank">http://thedaily.case.edu/</a> and enter an email address in the submission box.</p>
<h4>Why wasn't my submission selected as the top story?</h4>
<p>Top stories are typically messages from the university administration, or events and programs that have a university-wide appeal such as commencement or convocation.</p>
<h4>Why wasn't the media article that featured my school or professor included in the Daily?</h4>
<p>The Daily tries to highlight articles and news stories that feature a variety of university people and resources. Most of the articles selected come from major media outlets that are found via major search engines. We welcome members of the campus community to submit news items for consideration to <a href="mailto:daily@case.edu" target="_blank">daily@case.edu</a>.</p>
<h4>How do you decide which articles to feature?</h4>
<p>When selecting news stories we choose items that prominently feature Case Western Reserve or a member of the university community and may be of interest to a broad range of our reading audience. We do not censor stories based on topic or opinion, but will leave out articles that duplicate stories we've already featured.</p>
<h4>Why can't my submission appear in the Daily twice?</h4>
<p>Because it is a weekday publication, our goal is to keep the content fresh and engaging. The Daily is designed to show the range of programs, events and services available to the campus community on any given day.</p>
<h4>What criteria do you use to decide which submissions will appear in the Daily?</h4>
<p>Items (e.g., news, events, programs) considered for publication in the Daily must be sanctioned by the university and have a university-wide appeal. News and events should be free, open to the public and important to the university administration and its goals. Should registration and/or a fee be involved, the event or news item will be considered if it is of general interest to a broad segment of the university community.</p>
<p>Submissions should be sent to <a href="mailto:daily@case.edu" target="_blank">daily@case.edu</a>.</p>
<h4>Why aren't all University Circle events and specials from area businesses included in the Daily?</h4>
<p>From time to time, the Daily will include items of interest about University Circle, such as community meetings, traffic updates or special programs. In addition, the Daily will occasionally reference the university's Supplier Diversity Program and Preferred Vendor List, which has information about special programs and discounts offered to the university community from UCI and Cleveland-area businesses. In general, off-campus listings can be posted if there is a strong university connection and/or the university has established a partnership with the sponsoring organization or group.</p>
<h4>Why are some obituaries included in the Daily and others are not?</h4>
<p>The Daily includes obituaries about members of the university and/or alumni community who have made a significant contribution(s) to their department, school, college or the university at large.</p>
<h4>Why are some messages sent separately from the Daily, and others not?</h4>
<p>On occasion, when warranted by breaking news&mdash;and only at the direction of the president, provost or chair of the university's board of trustees&mdash;University Marketing and Communications will issue a Daily Extra, a special edition of the newsletter that comes separate from and later in the day than the Daily. The issue will contain news so timely that it cannot be held until the next issue of the Daily</p>
</div>
<div style="clear:both"></div>
</div><!--.row-->
</div><!-- end main content area-->{% include_relative _includes/survey.html %}
{% include_relative _includes/footer.html %}
</div>
</body>
</html><hr>

<p>&nbsp;</p>
<p>&nbsp;</p>


<div class="well">
<p class="lead">Answer three questions to help us improve your experience</p>

<iframe name="confirm" id="confirm" style="display:none;" onload="if(typeof sent_confirm!='undefined'){window.location='https://googledrive.com/host/0B5e4Smfyuda_dEJRRlZ1UmhSTGM/thank-you-webex.html';}"></iframe>
<form action="https://docs.google.com/forms/d/1XYrNCfwy4w_Cx_k7FkaTN5LhYN8e2920DOna_n7l-jQ/formResponse" method="POST" id="ss-form" target="confirm" onsubmit="sent_confirm=true">

    <div class="form-group">
  		<p><label>Would you recommend WebEx to a colleague or friend? *</label><br>
    		<select class="form-control" name="entry.535955540" id="entry_535955540" placeholder="Yes">
    		<option selected disabled hidden value=''></option>
    		<option value="Yes">Yes</option> 
    		<option value="No">No</option>
  		</select></p>

  		<p><label>Do the included instructions lead naturally to an expected outcome? *</label><br>
    		<select class="form-control" name="entry.1059610721" id="entry_1059610721" placeholder="Yes">
    		<option selected disabled hidden value=''></option>
    		<option value="Yes">Yes</option> 
    		<option value="No">No</option>
  		</select></p>

  		<p><label>Are the included instructions clear and understandable? *</label><br>
    		<select class="form-control" name="entry.1188770357" id="entry_1188770357" placeholder="Yes">
    		<option selected disabled hidden value=''></option>
    		<option value="Yes">Yes</option> 
    		<option value="No">No</option>
  		</select></p>

  		<p><label>Feedback</label><br>
  		<textarea name="entry.1986528048" class="form-control" rows="3" id="entry_1986528048" placeholder="Survey responses are anonymous. So if you want personal followup, add your contact information here."></textarea></p>
		<p>&nbsp;</p>
		<button type="submit" name="submit" value="Submit" id="ss-submit" class="btn btn-primary">Submit response</button>
		</form>
	</div>
</div>


<hr>

<div class="pull-right">
<p>&copy; 2015, Case Western Reserve University</p>
</div>
<div class="clearfix"></div>

</div>
</body>
</html>