<!DOCTYPE html>
<html lang="en">
<head>
{% include_relative _includes/header.html %}

</head>
<body>
<div class="container"><span><!-- navigation object : Page Name template -->ITS KBA 75797 Computer Recycling</span>
</section>
</div>
</div>
  
<div class='displayNone'><!-- navigation object : Breadcrumbs hidden template -->
  <div class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- navigation object : Home Link template --><a href='SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27574'><img src='https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1282632086' alt="Go to Home" /></a><!-- navigation object : Breadcrumbs Template --> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=27574&amp;chid=144&amp;lang=en">ITS</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=41906&amp;chid=144&amp;lang=en">ITS Development</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67312&amp;chid=144&amp;lang=en">rpretzer</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67341&amp;chid=144&amp;lang=en">KBA</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67380&amp;chid=144&amp;lang=en">ITS KBA 75797 Computer Recycling</a>
  </div><!-- .breadcrumb -->
</div>
  
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-col">
    
    <div class="row"><a id="d.en.200173"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200173"></a>
<h3>Computer Recycling</h3>
  

  
<p>Case Western Reserve University has an enhanced partnership with RET3 Job Corp., a nonprofit organization dedicated to refurbishing and recycling electronic equipment to donate to the community. The Green Computing Program provides refurbished computers to schools and non-profits in Northeast Ohio.</p>
<p>RET3 accepts the following equipment:</p>
<ul>
<li>desktops</li>
<li>laptops</li>
<li>monitors</li>
<li>servers</li>
<li>docking stations</li>
<li>printers</li>
<li>keyboards</li>
<li>mouse</li>
<li>other input devices</li>
<li>cables</li>
<li>cell phones</li>
</ul>
<p>Please be sure to include all corresponding power supply cords with each piece of equipment. If the equipment does not work, still donate it; parts will be reused or recycled in the proper manner.</p>
<p>Please follow this protocol for university e-waste recycling:</p>
<ol>
<li>If any computer destined for recycling is known to have stored restricted information (e.g. SSN data, academic records, HR files, patient research data, etc.), then the computer hard drive is to be purged of any data before transfer to the RET3 Green Computing program. The established procedure for media sanitization can be found at <a target="_blank" href="SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27668">case.edu/its/its-policies/iii-5a-media-sanitization-procedure/</a>&nbsp;Otherwise, RET3 staff will remove donated hard drives to be cleaned using the (DOD3) drive wipe program provided by Blancco, which rewrites the drive three times.</li>
<li>Fill out the <a class="a" href="https://docs.google.com/a/case.edu/spreadsheet/viewform?formkey=dFQ4MG9SWU9XRlUyMWQwajVOTDFHVXc6MA" target="_blank">e-waste pickup form </a>and wait to be contacted by RET3 by phone to schedule a pick-up. E-waste donors must ensure equipment is not left in unmonitored public areas so that it is in the best possible condition. RET3 will require that a university contact be present when they make their pickup.</li>
</ol>
</div>
<div style="clear:both"></div>
</div><!--.row-->
</div><!-- end main content area-->{% include_relative _includes/survey.html %}
{% include_relative _includes/footer.html %}
</div>
</body>
</html>