<!DOCTYPE html>
<html lang="en">
<head>
{% include_relative _includes/header.html %}

</head>
<body>
<div class="container"><span><!-- navigation object : Page Name template -->ITS KBA 74394 Libraries</span>
</section>
</div>
</div>
  
<div class='displayNone'><!-- navigation object : Breadcrumbs hidden template -->
  <div class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- navigation object : Home Link template --><a href='SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27574'><img src='https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=2081590279' alt="Go to Home" /></a><!-- navigation object : Breadcrumbs Template --> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=27574&amp;chid=144&amp;lang=en">ITS</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=41906&amp;chid=144&amp;lang=en">ITS Development</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67312&amp;chid=144&amp;lang=en">rpretzer</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67341&amp;chid=144&amp;lang=en">KBA</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67383&amp;chid=144&amp;lang=en">ITS KBA 74394 Libraries</a>
  </div><!-- .breadcrumb -->
</div>
  
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-col">
    
    <div class="row"><a id="d.en.200185"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200185"></a>
<h3>Libraries</h3>
  

  
<p>The university operates eight libraries, including the Kelvin Smith Library (KSL), which is the main library supporting the teaching and research of CWRU. All collections can be searched using the CWRU online catalog at catalog.case.edu and participate in OhioLINK.</p>
<ul>
<li><strong>Kelvin Smith Library </strong>The main university library, KSL houses scholarly books and journals as well as the CPL@Case, a selection of popular titles from the Cleveland Public Library; the Cramalot Caf&eacute;; and the Freedman Center, which provides full-service digital library, language learning and multimedia services so that members of the CWRU community can achieve their research, scholarly and artistic goals. Many electronic and multimedia devices, such as audio recorders, Flip&trade; cameras, headsets and laptops can be checked out with a CWRU ID card for free. Visit <span class="s1"><a href="http://library.case.edu/ksl/freedmancenter/" target="_blank">library.case.edu/ksl/freedmancenter</a> to learn more.</span></li>
<li><strong>Astronomy Library</strong> This satellite library of KSL, located in room 556 of the Sears building, holds over 3,000 books, 4,000 bound periodical volumes and 480 linear feet of observatory publications. It subscribes to 210 serials and observatory publications. For more information, go to <span class="s1"><a href="http://library.case.edu/ksl/facilities/astronomy/" target="_blank">library.case.edu/ksl/astronomy</a></span></li>
<li><strong>Cleveland Health Sciences Library</strong> The CHSL operates in two locations: The Allen Memorial Medical Library and the Health Center Library (see below). The combined collections total about 380,000 volumes and 1,700 journal subscriptions. Both libraries are open to the public for in-house use of most materials. Faculty, students and staff of CWRU have borrowing privileges. The CHSL provides electronic access to PubMed, MEDLINE&reg;, SpringerProtocols, WorldCat&reg; and ILLiad Interlibrary Loan for the Health Sciences. For more information, go to <a href="http://case.edu/chsl/library/index.html" target="_blank">case.edu/chsl/library/index.html</a>
<ul>
<li><strong>Allen Memorial Medical Library</strong> This library on the corner of Adelbert Road and Euclid Avenue houses a collection of clinical books and journals, as well as the Dittrick Medical History Center and its collection of rare books, archives, medical artifacts and books on the history of medicine.</li>
<li><strong>Health Center Library</strong> Located in the Sears Tower, it houses a collection of basic sciences, nursing, dentistry and biology books, journals, audiovisuals and microforms.</li>
</ul>
</li>
<li><strong>Kulas Music Library</strong> This KSL satellite library, located in Haydn Hall, houses the university&rsquo;s library collections in the area of music and contains 42,000 items, including music scores, books on music, sound recordings, microforms and music periodicals. The library also contains a listening room for using the sound recording collection.</li>
<li><strong>Law School Library and Technology Resources</strong> Located in the Law School, it supports the curriculum, instructional needs and programs of the Law School and is a resource for the university community.</li>
<li><strong>Lillian F and Milford J Harris Library</strong> One of only a few social work libraries to be administered by a school of social work, the collection consists of approximately 40,000 books and pamphlets, 325 journal titles and 700 media items. Located in the Mandel School of Applied Social Sciences, it supports the MSASS curriculum, as well as faculty and doctoral research interests.</li>
</ul>
</div>
<div style="clear:both"></div>
</div><!--.row-->
</div><!-- end main content area-->{% include_relative _includes/survey.html %}
{% include_relative _includes/footer.html %}
</div>
</body>
</html>