<!DOCTYPE html>
<html lang="en">
<head>
{% include_relative _includes/header.html %}

</head>
<body>
<div class="container"><span><!-- navigation object : Page Name template -->ITS KBA 78089 Cable Television Services</span>
</section>
</div>
</div>
  
<div class='displayNone'><!-- navigation object : Breadcrumbs hidden template -->
  <div class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- navigation object : Home Link template --><a href='SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27574'><img src='https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=992789238' alt="Go to Home" /></a><!-- navigation object : Breadcrumbs Template --> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=27574&amp;chid=144&amp;lang=en">ITS</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=41906&amp;chid=144&amp;lang=en">ITS Development</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67312&amp;chid=144&amp;lang=en">rpretzer</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67341&amp;chid=144&amp;lang=en">KBA</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67504&amp;chid=144&amp;lang=en">ITS KBA 78089 Cable Television Services</a>
  </div><!-- .breadcrumb -->
</div>
  
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-col">
    
    <div class="row"><a id="d.en.200821"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200821"></a>
<h3>Cable Television Service</h3>
  

  
<p>Case Western Reserve University offers an extensive digital cable television lineup to all residential and Greek students. The CWRU network brings local channels, popular cable networks and Case channels to all corners of the residential communities.</p>
<p>Campus Televideo will be the provider for academic, administrative and residential buildings. Time Warner will only be servicing buildings operated by the Office of Property Management.</p>
<p>In order to receive cable television services, you must have a television (or other device) which supports a digital QAM tuner. Although digital tuners have been required in televisions since 2007, not all televisions included the QAM tuner which is used for digital cable reception.</p>
<p>For more information on cable television, see the Student Affairs website: <a href="http://studentaffairs.case.edu/living/services/cable" target="_blank"> </a><a class="a" href="http://studentaffairs.case.edu/living/services/cable" target="_blank">http://studentaffairs.case.edu/living/services/cable</a></p>
<p>Cable TV Setup: <a class="a" href="http://studentaffairs.case.edu/living/services/cable/setup.html" target="_blank">http://studentaffairs.case.edu/living/services/cable/setup.html</a></p>
<p>Cable TV Troubleshooting: <a href="http://studentaffairs.case.edu/living/services/cable/troubleshooting.html" target="_blank"> </a><a class="a" href="http://studentaffairs.case.edu/living/services/cable/troubleshooting.html" target="_blank">http://studentaffairs.case.edu/living/services/cable/troubleshooting.html</a></p>
<p>For help with cable television problems, call the ITS Service Desk at 216.368.HELP (4357), email <a class="a" href="mailto:help@case.edu" target="_blank">help@case.edu</a>, or go to help.case.edu and click on &ldquo;Live Chat.&rdquo;</p>
</div>
<div style="clear:both"></div>
</div><!--.row-->
</div><!-- end main content area-->{% include_relative _includes/survey.html %}
{% include_relative _includes/footer.html %}
</div>
</body>
</html>