<!DOCTYPE html>
<html lang="en">
<head>
{% include_relative _includes/header.html %}

</head>
<body>
<div class="container"><section class="page-name">
<span><!-- navigation object : Page Name template -->ITS KBA 154948 HCM Phone Update</span>
</section>
</div>
</div>
  
<div class='displayNone'><!-- navigation object : Breadcrumbs hidden template -->
  <div class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- navigation object : Home Link template --><a href='SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27574'><img src='https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1891015390' alt="Go to Home" /></a><!-- navigation object : Breadcrumbs Template --> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=27574&amp;chid=144&amp;lang=en">ITS</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=41906&amp;chid=144&amp;lang=en">ITS Development</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67312&amp;chid=144&amp;lang=en">rpretzer</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67341&amp;chid=144&amp;lang=en">KBA</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67424&amp;chid=144&amp;lang=en">ITS KBA 154948 HCM Phone Update</a>
  </div><!-- .breadcrumb -->
</div>
  
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-col">
    
    <div class="row"><a id="d.en.200464"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200464"></a>
<h2>Update Campus Directory phone number</h2>
  

  
<ol class="ol1">
<li class="li1">Sign in to PeopleSoft Human Capital Management (HCM).</li>
<li class="li1">Click the menu labeled <strong>Main Menu</strong>, then <strong>Self Service</strong>.</li>
<li class="li1">Click <strong>Personal Information</strong>, then <strong>Phone Numbers</strong>.</li>
<li class="li1">Click the button labeled <strong>Add Phone Number</strong>.</li>
<li class="li1">Choose the phone type <strong>Business</strong> from the drop-down list and type in the new phone number.</li>
<li class="li1"><span style="font-size: 12px;">Click the text box in the column labeled </span><strong style="font-size: 12px;">Telephone</strong><span style="font-size: 12px;"> to edit its contents.</span></li>
<li class="li1">Replace the outdated phone number with the new one.</li>
<li class="li1">Select the <strong>Preferred</strong> check box.</li>
<li class="li1">Click the button labeled <strong>Save</strong>. The ERP system will update employee record within 24 hours.</li>
</ol>
</div>
<div style="clear:both"></div>
</div><!--.row-->
</div><!-- end main content area-->{% include_relative _includes/survey.html %}
{% include_relative _includes/footer.html %}
</div>
</body>
</html>