<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
 	<meta http-equiv="X-UA-Compatible" content="IE=edge">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

		<style>
		h2 { padding-top: 30px; }
		h3 { padding-top: 20px; }
		</style>

	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container"><!DOCTYPE html>
<html lang="en">
<head>
{% include_relative _includes/header.html %}

</head>
<body>
<div class="container"><span><!-- navigation object : Page Name template -->ITS KBA EvaluationKit</span>
</section>
</div>
</div>
  
<div class=''><!-- navigation object : Breadcrumbs hidden template -->
  <div class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- navigation object : Home Link template --><a href='SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27574'><img src='https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=138128759' alt="Go to Home" /></a><!-- navigation object : Breadcrumbs Template --> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=27574&amp;chid=144&amp;lang=en">ITS</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=41906&amp;chid=144&amp;lang=en">ITS Development</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67312&amp;chid=144&amp;lang=en">rpretzer</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67341&amp;chid=144&amp;lang=en">KBA</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67468&amp;chid=144&amp;lang=en">ITS KBA EvaluationKit</a>
  </div><!-- .breadcrumb -->
</div>
  
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-col">
    
    <div class="row"><a id="d.en.200666"></a>


<div class='tinyMCE   col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200666"></a>
<h4>Accessing the System</h4>
  

  
<p>If you are a course instructor, department chair or dean, a custom link to the new course evaluation system will be sent to your Case Western Reserve email account. Upon clicking the link, you will be prompted to sign in to EvaluationKIT using your CWRU Network ID and password.</p>
<p>Once logged in, you will see evaluations for each of the courses with which you are associated.</p>
</div>
<a id="d.en.200667"></a>


<div class='tinyMCE   col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200667"></a>
<h4>Distributing the Evaluation</h4>
  

  
<p>The system will deliver the course evaluation to students and issue periodic reminders. Course instructors are encouraged to reenforce the importance of course evaluations during class time.</p>
</div>
<a id="d.en.200668"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200668"></a>

  

  
<p class="normal">Instructors and academic administrators (e.g., department chairs and deans) may run reports to view the results of course evaluations. Before following these instructions, please visit the&nbsp;<a href="SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=46914">Understanding results reporting in EvaluationKIT</a>&nbsp;page to learn more about how CWRU's new system compares to the system used in previous years. For additional assistance, or with help in creating more advanced reports, contact the ITS Service Desk at 216.368.HELP (4357).</p>
<ul>
<li><a href="#instruct">Instructions for course instructors</a></li>
<li><a href="#admin">Instructions for academic administrators<br /></a></li>
</ul>
<h4 class="normal"><a id="instruct"></a><br />Course Instructors</h4>
<ol>
<li>Navigate to <a href="http://case.evaluationkit.com" target="_blank">case.evaluationkit.com</a>; sign in with your CWRU Network ID and password, if prompted.</li>
<li>Go to the&nbsp;<strong>Results</strong>&nbsp;tab.</li>
<li>Select&nbsp;<strong>Instructor Results</strong>.<br /><span class='fig-img-' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1385374436"  /></span></li>
<li>Check the box next to the appropriate project(s) from the project drop down menu (e.g., Undergraduate spring 2015 [93]). Click&nbsp;<strong>Select</strong>.<br /><span class='fig-img-' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1518826985"  /></span></li>
<li>You now have the option to create a report for each course that you instruct, or a "batch report" containing the evaluation responses from more than course that you instruct.</li>
</ol>
<p><strong>Individual Course Reporting</strong></p>
<ol>
<li>To create a report for a specific course, click the&nbsp;<strong>View</strong> button adjacent to the desired course.&zwnj;<br /><span class='fig-img-' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=888833071"  /></span>&zwnj;&zwnj;</li>
<li>Choose desired format (e.g., PDF, PDF+Comments, Raw Data).<br /><span class='fig-img-' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=515823766"  /></span></li>
<li>The system will display a message confirming that the report is being generated.</li>
<li>Choose to save the report to a location, or open with an application (e.g., Adobe Acrobat, Microsoft Excel).</li>
<li>Open report using the appropriate application (e.g., Adobe Acrobat, Microsoft Excel).&zwnj;</li>
</ol>
<p><strong>Batch Course Reporting</strong><strong>&zwnj;</strong></p>
<ol>
<li>To report the results of more than one course together, click the selection box for each and then click&nbsp;<strong>Batch Report</strong>.&zwnj;<br />&zwnj;<span class='fig-img-' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1085235399"  /></span>&zwnj;</li>
<li>Name the batch report.</li>
<li>Select one of the following options and click <strong>Go</strong>:</li>
</ol>
<p style="padding-left: 60px;">Merge Multiple PDF Reports into one PDF for Selected Courses:<br /><em>Individual course sections reports will be compiled into a single PDF report</em><em>&mdash;</em><em>data is not aggregated</em></p>
<ol style="padding-left: 60px;"></ol>
<p style="padding-left: 60px;">Download Multiple PDF Reports/Batch as ZIP File for Selected Courses:&nbsp;<br /><em>Course section reports will be downloaded as individual PDF files into a ZIP file</em><em>&mdash;</em><em>data is not aggregated</em></p>
<ol style="padding-left: 60px;"></ol>
<p style="padding-left: 60px;">Comparison Report with Selected Courses in one report and organized by survey questions as PDF:<br /><em>Comparison of each survey question from course to course</em><em>&mdash;</em><em>data is not aggregated</em></p>
<p style="padding-left: 30px;"><em><span class='fig-img-' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1288725503"  /></span></em></p>
<p style="padding-left: 30px;">The system will display a message confirming that the report is being generated and email the resulting file to you.</p>
<h4><a id="admin" style="font-size: 1em; background-color: #ffffff;"></a><span style="font-size: 1em;">Academic Administrators</span></h4>
<p><span style="font-size: 1em;">Academic administrators (e.g., department chairs and deans) may preview the results of one, some or all courses in their area.</span></p>
<ol class="ol1">
<li class="li1">Navigate to <a href="http://case.evaluationkit.com" target="_blank">case.evaluationkit.com</a>; sign in using your CWRU Network ID and password, if prompted.</li>
<li>Go to the&nbsp;<strong>Results</strong>&nbsp;tab; select&nbsp;<strong>Project Results.</strong><br /><span class='fig-img-' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=810971589"  /></span></li>
<li>Click&nbsp;<strong>magifying glass</strong> in "View" column to open results.<br /><span class='fig-img-' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1994751580"  /></span></li>
<li class="li1"><span class="s2">Choose to create a report of by hiearchy (e.g., department, school, college), Course Section or Instructor.<br /><span class='fig-img-' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=537942468"  /></span><br /></span>&zwnj;
<ul>
<li class="li1"><span class="s2"><em>Hiearchy</em>: Select the school, college or department for which you want to gather results.<br /><span class='fig-img-' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=306864384"  /></span><br />Then, choose the desired format (e.g., PDF Report, PDF Report + Comments, Raw Data).<br /><span class='fig-img-' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=704633912"  /></span><br /></span>&zwnj;</li>
<li class="li1"><span class="s2"><em>By Course Section</em>&nbsp;or<strong>&nbsp;</strong><em>By Instructor</em>: Follow instructions for <strong>Indvidual Course Reporting</strong> or <strong>Batch Reporting</strong> in <a href="#instruct"><strong>Instructor</strong></a> section above.</span></li>
</ul>
</li>
</ol>
</div>
<div style="clear:both"></div>
</div><!--.row-->
</div><!-- end main content area-->{% include_relative _includes/survey.html %}
{% include_relative _includes/footer.html %}
</div>
</body>
</html><hr>

<p>&nbsp;</p>
<p>&nbsp;</p>


<div class="well">
<p class="lead">Answer three questions to help us improve your experience</p>

<iframe name="confirm" id="confirm" style="display:none;" onload="if(typeof sent_confirm!='undefined'){window.location='https://googledrive.com/host/0B5e4Smfyuda_dEJRRlZ1UmhSTGM/thank-you-webex.html';}"></iframe>
<form action="https://docs.google.com/forms/d/1XYrNCfwy4w_Cx_k7FkaTN5LhYN8e2920DOna_n7l-jQ/formResponse" method="POST" id="ss-form" target="confirm" onsubmit="sent_confirm=true">

    <div class="form-group">
  		<p><label>Would you recommend WebEx to a colleague or friend? *</label><br>
    		<select class="form-control" name="entry.535955540" id="entry_535955540" placeholder="Yes">
    		<option selected disabled hidden value=''></option>
    		<option value="Yes">Yes</option> 
    		<option value="No">No</option>
  		</select></p>

  		<p><label>Do the included instructions lead naturally to an expected outcome? *</label><br>
    		<select class="form-control" name="entry.1059610721" id="entry_1059610721" placeholder="Yes">
    		<option selected disabled hidden value=''></option>
    		<option value="Yes">Yes</option> 
    		<option value="No">No</option>
  		</select></p>

  		<p><label>Are the included instructions clear and understandable? *</label><br>
    		<select class="form-control" name="entry.1188770357" id="entry_1188770357" placeholder="Yes">
    		<option selected disabled hidden value=''></option>
    		<option value="Yes">Yes</option> 
    		<option value="No">No</option>
  		</select></p>

  		<p><label>Feedback</label><br>
  		<textarea name="entry.1986528048" class="form-control" rows="3" id="entry_1986528048" placeholder="Survey responses are anonymous. So if you want personal followup, add your contact information here."></textarea></p>
		<p>&nbsp;</p>
		<button type="submit" name="submit" value="Submit" id="ss-submit" class="btn btn-primary">Submit response</button>
		</form>
	</div>
</div>


<hr>

<div class="pull-right">
<p>&copy; 2015, Case Western Reserve University</p>
</div>
<div class="clearfix"></div>

</div>
</body>
</html>