<!DOCTYPE html>
<html lang="en">
<head>
{% include_relative _includes/header.html %}

</head>
<body>
<div class="container"><span><!-- navigation object : Page Name template -->ITS KBA 21351 CWRU Email Mobile Device</span>
</section>
</div>
</div>
  
<div class='displayNone'><!-- navigation object : Breadcrumbs hidden template -->
  <div class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- navigation object : Home Link template --><a href='SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27574'><img src='https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=817823518' alt="Go to Home" /></a><!-- navigation object : Breadcrumbs Template --> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=27574&amp;chid=144&amp;lang=en">ITS</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=41906&amp;chid=144&amp;lang=en">ITS Development</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67312&amp;chid=144&amp;lang=en">rpretzer</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67341&amp;chid=144&amp;lang=en">KBA</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67408&amp;chid=144&amp;lang=en">ITS KBA 21351 CWRU Email Mobile Device</a>
  </div><!-- .breadcrumb -->
</div>
  
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-col">
    
    <div class="row"><a id="d.en.200320"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200320"></a>
<h2>CWRU Email on Mobile Devices</h2>
  

  
<p>Use these directions for setting up your preferred mobile device, handheld device or tablet.</p>
</div>
<a id="d.en.200318"></a>


<div class='tinyMCE   col-xs-12 col-sm-6 col-md-6 col-lg-6' >
<a class="anchor" name="200318"></a>

  

  
<table class="traingingTable">
<tbody>
<tr>
<td class="trainingTableHeader trainingTableHeaderLeft">SMARTPHONES</td>
<td class="trainingTableHeader trainingTableHeaderRight">FILE TYPE</td>
</tr>
<tr>
<td class="trainingTableItemLeft"><a href="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=349265651">iPhone</a></td>
<td class="trainingTableItemRight"><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1012805673" alt="PDF" /></span></td>
</tr>
<tr>
<td class="trainingTableItemLeft"><a href="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=301308284">Android Phones</a></td>
<td class="trainingTableItemRight"><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=595268067" alt="PDF" /></span></td>
</tr>
<tr>
<td class="trainingTableItemLeft"><a href="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=2051232315">Android G1 or G2 Phones</a></td>
<td class="trainingTableItemRight"><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=694051739" alt="PDF" /></span></td>
</tr>
<tr>
<td class="trainingTableItemLeft"><a href="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=669046526">Blackberry</a></td>
<td class="trainingTableItemRight"><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1591434186" alt="PDF" /></span></td>
</tr>
<tr>
<td class="trainingTableItemLeft"><a href="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=993078350">Windows Phones</a></td>
<td class="trainingTableItemRight"><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=130049556" alt="PDF" /></span></td>
</tr>
</tbody>
</table>
</div>
<div style="clear:both"></div>
</div><!--.row-->
</div><!-- end main content area-->{% include_relative _includes/survey.html %}
{% include_relative _includes/footer.html %}
</div>
</body>
</html>