<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
 	<meta http-equiv="X-UA-Compatible" content="IE=edge">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

		<style>
		h2 { padding-top: 30px; }
		h3 { padding-top: 20px; }
		</style>

	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container"><!DOCTYPE html>
<html lang="en">
<h2>About EyeWitness: Text a Tip</h2>
  

  
<p class="p1">The EyeWitness program enables the Case Western Reserve University community to be the eyes and ears of campus safety.</p>
<p class="p2">Send a tip to the CWRU Police and Security Dispatch office by text message at&nbsp;<strong>67283</strong>. All tips should begin with&nbsp;<strong>CWRUtip(space)</strong>.&nbsp;Once a tip is submitted, the dispatch office will respond as appropriate. Response may include requests for additional information or the dispatch of an officer to the scene.</p>
<p class="p3">Although EyeWitness tips are anonymous, CWRU encourages users to include identifying details to aid dispatchers (including a contact number), particularly when the tip concerns an emergency.</p>
<p class="p2"><strong>How to text a tip:</strong></p>
<ol class="ol1">
<li class="li4">Open the text message application on your mobile device.</li>
<li class="li4">Specify&nbsp;<strong>67283</strong>&nbsp;as the message recipient.&nbsp;Your phone or mobile device may insert a dash (-) and display the number as 672-83.</li>
<li class="li4">In the subject field, type&nbsp;<strong>CWRUtip</strong>&nbsp;followed by a space.</li>
<li class="li4">Type your message.</li>
<li class="li4">Tap Send.</li>
<li class="li2">After the tip is received, a message will be returned that states:<br />"Your anonymous tip has been received by CWRUtip. Your ID is (random series of letters). Store your ID in a safe place and delete this message."</li>
<li class="li2"><span>A dispatcher will respond to your tip. Take note of any request for information and reply to the dispatcher with&nbsp;</span><strong>CWRUtip(space)</strong><span>&nbsp;message.</span></li>
</ol>
<p><span><strong>NOTE:</strong>&nbsp;CWRU reserves the right to access tip information, which may include the phone number associated with the tip; when necessary for criminal investigations and prosecutions, life threatening emergencies and to investigate abuse of the EyeWitness security system.</span></p>
</div>
<a id="d.en.200633"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200633"></a>
<h4>Rave EyeWitness: How to Text a Tip</h4>
  

  
<h2>Concept</h2>
<p>The EyeWitness program enables the Case Western Reserve University community to be the eyes and ears of campus safety. You can send a tip to the CWRU Police and Security Dispatch office using the text messaging function on your phone or other mobile device. Text messages must be sent to <strong>67283 </strong>and begin with <strong>CWRUtip(space) </strong>to be properly received. Once the tip is submitted, the dispatch office can respond to interact with the user, follow-up to get more information and dispatch an officer to the scene if needed.</p>
<p>&nbsp;</p>
<p>Eyewitness tips are anonymous, however, it is encouraged that users include a contact number or other details to aid dispatchers, particularly in the case of emergency tips. CWRU reserves the right to access tip information, which may include the phone number associated with the tip; when necessary for criminal investigations and prosecutions, life threatening emergencies and to investigate abuse of the Eyewitness security system.</p>
<p>&nbsp;</p>
<p><img alt="image" height="335" src="file:///Users/deanbianchi/Downloads/ITS_KBA_102829_EyeWitnessTipLine/Image_001.png" width="202" /></p>
<h2>Procedure</h2>
<p><img alt="image" height="339" src="file:///Users/deanbianchi/Downloads/ITS_KBA_102829_EyeWitnessTipLine/Image_002.png" width="226" /></p>
<p>&nbsp;</p>
<table cellspacing="0">
<tbody>
<tr>
<td>
<p class="s1">Step</p>
</td>
<td>
<p class="s1">Action</p>
</td>
</tr>
<tr>
<td>
<p class="s2">1.</p>
</td>
<td>
<p class="s2">To text a tip to CWRU dispatch, tap the text message application on your mobile device.</p>
<p class="s2"><img alt="image" height="53" src="file:///Users/deanbianchi/Downloads/ITS_KBA_102829_EyeWitnessTipLine/Image_003.gif" width="47" />iPhone&reg; <img alt="image" height="50" src="file:///Users/deanbianchi/Downloads/ITS_KBA_102829_EyeWitnessTipLine/Image_004.jpg" width="48" />Android&reg;</p>
</td>
</tr>
</tbody>
</table>
<p><img alt="image" height="335" src="file:///Users/deanbianchi/Downloads/ITS_KBA_102829_EyeWitnessTipLine/Image_005.jpg" width="203" /></p>
<p>&nbsp;</p>
<p><img alt="image" height="341" src="file:///Users/deanbianchi/Downloads/ITS_KBA_102829_EyeWitnessTipLine/Image_006.png" width="228" /></p>
<p>&nbsp;</p>
<table cellspacing="0">
<tbody>
<tr>
<td>
<p class="s1">Step</p>
</td>
<td>
<p class="s1">Action</p>
</td>
</tr>
<tr>
<td>
<p class="s2">2.</p>
</td>
<td>
<p class="s2">iPhone: Type <span class="s5">67283 </span>in the <strong>To: </strong>message field.</p>
<p><img alt="image" height="30" src="file:///Users/deanbianchi/Downloads/ITS_KBA_102829_EyeWitnessTipLine/Image_007.png" width="64" /></p>
<p>&nbsp;</p>
<p class="s2">Android: Tap the <strong>Compose new message block </strong>and type <span class="s5">67283.</span></p>
<p><img alt="image" height="26" src="file:///Users/deanbianchi/Downloads/ITS_KBA_102829_EyeWitnessTipLine/Image_008.gif" width="162" /></p>
</td>
</tr>
</tbody>
</table>
<p><img alt="image" height="39" src="file:///Users/deanbianchi/Downloads/ITS_KBA_102829_EyeWitnessTipLine/Image_009.png" width="47" /></p>
<p><img alt="image" height="369" src="file:///Users/deanbianchi/Downloads/ITS_KBA_102829_EyeWitnessTipLine/Image_010.png" width="222" /></p>
<p>&nbsp;</p>
<p><img alt="image" height="369" src="file:///Users/deanbianchi/Downloads/ITS_KBA_102829_EyeWitnessTipLine/Image_011.png" width="247" /></p>
<p>&nbsp;</p>
<table cellspacing="0">
<tbody>
<tr>
<td>
<p class="s1">Step</p>
</td>
<td>
<p class="s1">Action</p>
</td>
</tr>
<tr>
<td>
<p class="s2">3.</p>
</td>
<td>
<p class="s2">In the subject field, type <span class="s5">CWRUtip </span>followed by a <span class="s5">space. </span>Then type your message<strong>.</strong></p>
<p>&nbsp;</p>
<p class="s1">Note<span class="s2">: Your phone may insert a dash (-) and the number will display as</span></p>
<p class="s1">672-83<span class="s2">.</span></p>
</td>
</tr>
<tr>
<td>
<p class="s2">4.</p>
</td>
<td>
<p class="s2">Tap <strong>Send</strong>.</p>
<p><img alt="image" height="31" src="file:///Users/deanbianchi/Downloads/ITS_KBA_102829_EyeWitnessTipLine/Image_012.jpg" width="70" /></p>
</td>
</tr>
</tbody>
</table>
<p><img alt="image" height="378" src="file:///Users/deanbianchi/Downloads/ITS_KBA_102829_EyeWitnessTipLine/Image_013.png" width="227" /></p>
<p>&nbsp;</p>
<p><img alt="image" height="378" src="file:///Users/deanbianchi/Downloads/ITS_KBA_102829_EyeWitnessTipLine/Image_014.png" width="251" /></p>
<p>&nbsp;</p>
<table cellspacing="0">
<tbody>
<tr>
<td>
<p class="s1">Step</p>
</td>
<td>
<p class="s1">Action</p>
</td>
</tr>
<tr>
<td>
<p class="s2">5.</p>
</td>
<td>
<p class="s2">After the tip is received, a message will be returned that states:</p>
<p>&nbsp;</p>
<p class="s6">Your anonymous tip has been received by CWRUtip. Your ID is (random series of letters). Store your ID in a safe place and delete this message.</p>
</td>
</tr>
<tr>
<td>
<p class="s2">6.</p>
</td>
<td>
<p class="s2">A dispatcher will respond to your tip. Take note of any request for information and reply to the dispatcher with <strong>CWRUtip(space) message</strong>.</p>
</td>
</tr>
<tr>
<td>
<p class="s2">7.</p>
</td>
<td>
<p><span class="s7">End of Procedure.</span></p>
</td>
</tr>
</tbody>
</table>
</div>
<div style="clear:both"></div>{% include_relative _includes/survey.html %}
{% include_relative _includes/footer.html %}
</div>
</body>
</html><iframe src="https://docs.google.com/forms/d/1TlL5J4nLLgHuz4HqhUJRUzRcxdC7UFEX9lsHDT0U2mw/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>


<hr>

<div class="pull-right">
<p>&copy; 2015, Case Western Reserve University</p>
</div>
<div class="clearfix"></div>

</div>
</body>
</html>