<!DOCTYPE html>
<html lang="en">
<head>
{% include_relative _includes/header.html %}

</head>
<body>
<div class="container"><span><!-- navigation object : Page Name template -->ITS KBA 91488 Google Mail Notifications</span>
</section>
</div>
</div>
  
<div class='displayNone'><!-- navigation object : Breadcrumbs hidden template -->
  <div class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- navigation object : Home Link template --><a href='SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27574'><img src='https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=2002745753' alt="Go to Home" /></a><!-- navigation object : Breadcrumbs Template --> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=27574&amp;chid=144&amp;lang=en">ITS</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=41906&amp;chid=144&amp;lang=en">ITS Development</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67312&amp;chid=144&amp;lang=en">rpretzer</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67341&amp;chid=144&amp;lang=en">KBA</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67474&amp;chid=144&amp;lang=en">ITS KBA 91488 Google Mail Notifications</a>
  </div><!-- .breadcrumb -->
</div>
  
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-col">
    
    <div class="row"><a id="d.en.200696"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200696"></a>
<h3>Desktop Email Notifications</h3>
  

  
<p>Email notifications for Google Mail can be turned on or off through both Google Mail settings in webmail.case.edu and the Google Talk instant messaging client.</p>
<h4>Google Mail</h4>
<table border="1" style="width: 100%;">
<tbody>
<tr>
<td width="5%"><strong>Step</strong></td>
<td width="95%"><strong>Action</strong></td>
</tr>
<tr>
<td>1.</td>
<td>Log in to your Google Mail at webmail.case.edu</td>
</tr>
<tr>
<td>2.</td>
<td>Click the <strong>Option Settings </strong>button.<span class='fig-img-right' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=865885255"  /></span></td>
</tr>
<tr>
<td>3.</td>
<td>Click the <strong>Mail Settings </strong>link.<span class='fig-img-right' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1998183880"  /></span></td>
</tr>
<tr>
<td>4.</td>
<td>
<p><span class='fig-img-left' style="width: 90%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1272068543"  /></span></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Locate the <strong>Desktop Notifications </strong>section.</p>
</td>
</tr>
<tr>
<td>5.</td>
<td>Select one of the following options:
<ul id="l3">
<li>New mail notifications on</li>
<li>Important mail notifications on</li>
<li>Mail notifications off</li>
</ul>
</td>
</tr>
<tr>
<td>6.</td>
<td>Click the <strong>Save Changes </strong>button at the bottom of the screen.<span class='fig-img-right' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1111015707"  /></span></td>
</tr>
</tbody>
</table>
<h4>Google Talk Client</h4>
<table border="1" style="width: 100%;">
<tbody>
<tr>
<td width="5%"><strong>Step</strong></td>
<td width="95%"><strong>Action</strong></td>
</tr>
<tr>
<td>1.</td>
<td>Open and sign in to the Google Talk client.<span class='fig-img-right' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=640625810"  /></span></td>
</tr>
<tr>
<td>2.</td>
<td>Click the <strong>Settings </strong>link.<span class='fig-img-right' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1668696058"  /></span></td>
</tr>
<tr>
<td>3.</td>
<td>The Settings window appears. Click the <strong>Notifications </strong>item on the left side of the window.<span class='fig-img-right' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=2113750278"  /></span></td>
</tr>
<tr>
<td>4.</td>
<td>Select the appropriate settings for the desktop notifications you wish to receive from Google Talk.<span class='fig-img-right' style="width: 25%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=523789841"  /></span></td>
</tr>
<tr>
<td>5.</td>
<td>If the <strong>Show Notification </strong>checkbox is selected under New Email, a popup will appear on your desktop every time Google Talk is open and a new email arrives.<span class='fig-img-right' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1601631806"  /></span></td>
</tr>
<tr>
<td>6.</td>
<td>Click the <strong>OK </strong>button to save your changes.<span class='fig-img-right' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1898986201"  /></span></td>
</tr>
</tbody>
</table>
</div>
<div style="clear:both"></div>
</div><!--.row-->
</div><!-- end main content area-->{% include_relative _includes/survey.html %}
{% include_relative _includes/footer.html %}
</div>
</body>
</html>