<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
 	<meta http-equiv="X-UA-Compatible" content="IE=edge">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

		<style>
		h2 { padding-top: 30px; }
		h3 { padding-top: 20px; }
		</style>

	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container"><!DOCTYPE html>
<html lang="en">
<head>
{% include_relative _includes/header.html %}

</head>
<body>
<div class="container"><span><!-- navigation object : Page Name template -->ITS KBA 78798 iOS Devices</span>
</section>
</div>
</div>
  
<div class='displayNone'><!-- navigation object : Breadcrumbs hidden template -->
  <div class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- navigation object : Home Link template --><a href='SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27574'><img src='https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1793252191' alt="Go to Home" /></a><!-- navigation object : Breadcrumbs Template --> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=27574&amp;chid=144&amp;lang=en">ITS</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=41906&amp;chid=144&amp;lang=en">ITS Development</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67312&amp;chid=144&amp;lang=en">rpretzer</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67341&amp;chid=144&amp;lang=en">KBA</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67499&amp;chid=144&amp;lang=en">ITS KBA 78798 iOS Devices</a>
  </div><!-- .breadcrumb -->
</div>
  
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-col">
    
    <div class="row"><a id="d.en.200801"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200801"></a>
<h3>CWRU Resource Set Up on iOS Devices</h3>
  

  
<h4>Set up VPN</h4>
<ol id="l1">
<li>Tap&nbsp;<strong>Settings</strong></li>
<li>Tap&nbsp;<strong>General</strong></li>
<li>Tap&nbsp;<strong>Network</strong></li>
<li>Tap&nbsp;<strong>VPN</strong></li>
<li>Tap&nbsp;<strong>Add VPN</strong></li>
<li>Configuration</li>
<li>Tap&nbsp;<strong>IPSec</strong></li>
<li>Enter the following information in the correct fields:<ol id="l2">
<li>Description<span class="p">: Case</span></li>
<li>Server<span class="p">: vpn.case.edu</span></li>
<li>Account<span class="p">: Your CWRU Network ID</span></li>
<li>Password<span class="p">: Your CWRU Network ID password (we do not recommend storing your password)</span></li>
<li>Group Name<span class="p">: Case (case sensitive)</span></li>
<li>Secret<span class="p">: vpn4case</span></li>
</ol></li>
<li>Tap&nbsp;<strong>Save</strong></li>
</ol>
<h4>Set up Email and/or Calendar</h4>
<ol id="l3">
<li>Ensure that you know your Google Apps password. It can be reset at&nbsp;<a class="a" href="https://its-services.case.edu/my-case-identity/google-apps/pwdReset/" target="_blank">its-</a><a class="s2" href="https://its-services.case.edu/my-case-identity/google-apps/pwdReset/" target="_blank">&nbsp;</a><a class="a" href="https://its-services.case.edu/my-case-identity/google-apps/pwdReset/" target="_blank">services.case.edu/my-case-identity/google-apps/pwdReset/</a>. It&rsquo;s ok for it to be the same as your CWRU Network ID password.</li>
<li>Ensure that Google Mail is enabled for IMAP. Directions can be found at&nbsp;<a class="a" href="http://www.case.edu/its/training/materials/googleapps/GA_EM_IMAP_Google.pdf" target="_blank">GA_EM_IMAP_Google.pdf</a></li>
<li>On the Home screen, tap&nbsp;<strong>Settings</strong>.</li>
<li>Tap&nbsp;<strong>Mail, Contacts, Calendars</strong>.</li>
<li>Tap&nbsp;<strong>Add Account</strong>.</li>
<li>Tap&nbsp;<strong>Gmail</strong>.</li>
<li>The Gmail screen appears. Enter the following:<ol id="l4">
<li>Name<span class="p">: enter your name as you want it to appear in outgoing emails</span></li>
<li>Address<span class="p">: enter your CWRU Network ID followed by @case.edu</span></li>
<li>Password<span class="p">: enter your CWRU Google Apps password</span></li>
<li>Description<span class="p">: enter &ldquo;CWRU&rdquo; or a description of your choice</span></li>
</ol></li>
<li>Tap&nbsp;<strong>Next</strong>.</li>
<li>Select if you will also sync your Calendar and Notes.</li>
<li>Tap&nbsp;<strong>Done</strong>.</li>
</ol>
<h4>Set up Email and/or Calendar with an Exchange Server</h4>
<p>This method is optimal for individuals whose departments use an Exchange server for email and calendaring in Outlook.</p>
<ol id="l5">
<li>On the Home screen, tap&nbsp;<strong>Settings</strong>.</li>
<li>Tap&nbsp;<strong>Mail, Contacts, Calendars</strong>.</li>
<li>Tap&nbsp;<strong>Add Account</strong>.</li>
<li>Tap Microsoft Exchange.</li>
<li>The Exchange screen appears. Enter the following:<ol id="l6">
<li>Email<span class="p">: enter your CWRU Network ID followed by @case.edu</span></li>
<li>Domain<span class="p">: leave blank</span></li>
<li>Username<span class="p">: enter your CWRU Network ID followed by @case.edu</span></li>
<li>Password<span class="p">: CWRU Google Apps password</span></li>
<li>Description<span class="p">: enter &ldquo;CWRU&rdquo; or a description of your choice</span></li>
</ol></li>
<li>Tap Next<span class="p">.</span></li>
<li>If you get a window that states that your account could not be verified, tap Accept<span class="p">.</span></li>
<li>Server<span class="p">: enter m.google.com</span></li>
<li>Tap <strong>Next</strong>.</li>
<li>Choose if you want to turn on your Contacts and Calendars.</li>
<li>Tap <strong>Done</strong>.</li>
</ol>
<h4>Sync Outlook Contacts</h4>
<ol id="l7">
<li>Open iTunes</li>
<li>Connect the iPhone to the computer</li>
<li>Select the iPhone from the menu on the left</li>
<li>Click on the Info Tab</li>
<li>Click on&nbsp;<strong>Sync contacts with&nbsp;</strong>next to the email client of your choice</li>
<li>When you are done with your changes, click on&nbsp;<strong>Apply&nbsp;</strong>in the lower right hand corner of iTunes. Contacts should be synced.</li>
</ol>
</div>
<div style="clear:both"></div>
</div><!--.row-->
</div><!-- end main content area-->{% include_relative _includes/survey.html %}
{% include_relative _includes/footer.html %}
</div>
</body>
</html><hr>

<p>&nbsp;</p>
<p>&nbsp;</p>


<div class="well">
<p class="lead">Answer three questions to help us improve your experience</p>

<iframe name="confirm" id="confirm" style="display:none;" onload="if(typeof sent_confirm!='undefined'){window.location='https://googledrive.com/host/0B5e4Smfyuda_dEJRRlZ1UmhSTGM/thank-you-webex.html';}"></iframe>
<form action="https://docs.google.com/forms/d/1XYrNCfwy4w_Cx_k7FkaTN5LhYN8e2920DOna_n7l-jQ/formResponse" method="POST" id="ss-form" target="confirm" onsubmit="sent_confirm=true">

    <div class="form-group">
  		<p><label>Would you recommend WebEx to a colleague or friend? *</label><br>
    		<select class="form-control" name="entry.535955540" id="entry_535955540" placeholder="Yes">
    		<option selected disabled hidden value=''></option>
    		<option value="Yes">Yes</option> 
    		<option value="No">No</option>
  		</select></p>

  		<p><label>Do the included instructions lead naturally to an expected outcome? *</label><br>
    		<select class="form-control" name="entry.1059610721" id="entry_1059610721" placeholder="Yes">
    		<option selected disabled hidden value=''></option>
    		<option value="Yes">Yes</option> 
    		<option value="No">No</option>
  		</select></p>

  		<p><label>Are the included instructions clear and understandable? *</label><br>
    		<select class="form-control" name="entry.1188770357" id="entry_1188770357" placeholder="Yes">
    		<option selected disabled hidden value=''></option>
    		<option value="Yes">Yes</option> 
    		<option value="No">No</option>
  		</select></p>

  		<p><label>Feedback</label><br>
  		<textarea name="entry.1986528048" class="form-control" rows="3" id="entry_1986528048" placeholder="Survey responses are anonymous. So if you want personal followup, add your contact information here."></textarea></p>
		<p>&nbsp;</p>
		<button type="submit" name="submit" value="Submit" id="ss-submit" class="btn btn-primary">Submit response</button>
		</form>
	</div>
</div>


<hr>

<div class="pull-right">
<p>&copy; 2015, Case Western Reserve University</p>
</div>
<div class="clearfix"></div>

</div>
</body>
</html>