<!DOCTYPE html>
<html lang="en">
<head>
{% include_relative _includes/header.html %}

</head>
<body>
<div class="container"><span><!-- navigation object : Page Name template -->ITS KBA 87904 Internal Use Only Information</span>
</section>
</div>
</div>
  
<div class='displayNone'><!-- navigation object : Breadcrumbs hidden template -->
  <div class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- navigation object : Home Link template --><a href='SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27574'><img src='https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=123294428' alt="Go to Home" /></a><!-- navigation object : Breadcrumbs Template --> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=27574&amp;chid=144&amp;lang=en">ITS</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=41906&amp;chid=144&amp;lang=en">ITS Development</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67312&amp;chid=144&amp;lang=en">rpretzer</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67341&amp;chid=144&amp;lang=en">KBA</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67451&amp;chid=144&amp;lang=en">ITS KBA 87904 Internal Use Only Information</a>
  </div><!-- .breadcrumb -->
</div>
  
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-col">
    
    <div class="row"><a id="d.en.200599"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200599"></a>
<h3>Internal Use Only Information</h3>
  

  
<p>The types of information listed below are examples of information that is for internal university use only. If disclosed, it is considered to have a moderate level of impact upon the university. In general, all IT systems containing Internal Use Only information require user authentication using a valid CWRU Network ID for access to the informatoin. <span class="s2"><a href="SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27657">Tier I</a> </span>and <span class="s2"><a href="SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27658">Tier II</a> </span>Controls apply to systems with Internal Use Only Information. Note that CWRU Google Apps <em>may </em>host Internal Use Only information when protected by network authentication. Examples are:</p>
<ul id="l1">
<li>university administrative information</li>
<li>strategic plans</li>
<li>internal only communications</li>
<li>home phone numbers</li>
<li>student directory information suppressed by <a href="http://www2.ed.gov/policy/gen/guid/fpco/ferpa/index.html" target="_blank"><span class="s2">FERPA</span></a></li>
<li>student grades</li>
<li>photos from the student directory</li>
<li>citizenship</li>
<li>visa status</li>
<li>redacted Social Security Number (last four digits only)</li>
</ul>
</div>
<div style="clear:both"></div>
</div><!--.row-->
</div><!-- end main content area-->{% include_relative _includes/survey.html %}
{% include_relative _includes/footer.html %}
</div>
</body>
</html>