<!DOCTYPE html>
<html lang="en">
<head>
{% include_relative _includes/header.html %}

</head>
<body>
<div class="container"><span><!-- navigation object : Page Name template -->ITS KBA 119884 lynda app</span>
</section>
</div>
</div>
  
<div class='displayNone'><!-- navigation object : Breadcrumbs hidden template -->
  <div class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- navigation object : Home Link template --><a href='SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27574'><img src='https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1001828039' alt="Go to Home" /></a><!-- navigation object : Breadcrumbs Template --> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=27574&amp;chid=144&amp;lang=en">ITS</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=41906&amp;chid=144&amp;lang=en">ITS Development</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67312&amp;chid=144&amp;lang=en">rpretzer</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67341&amp;chid=144&amp;lang=en">KBA</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67433&amp;chid=144&amp;lang=en">ITS KBA 119884 lynda app</a>
  </div><!-- .breadcrumb -->
</div>
  
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-col">
    
    <div class="row"><a id="d.en.200510"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200510"></a>
<h2>About the Lynda.com Mobile Application</h2>
  

  
<p class="p1">Case Western Reserve University students, faculty and staff have free, unlimited access to the lynda.com service through the CWRU portal. In addition to the desktop website, users can download the lynda.com app for iPhone, iPad or Android device.</p>
</div>
<a id="d.en.200513"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200513"></a>
<h3>System Requirements</h3>
  

  
<p class="p1">You'll need iOS 7 or later running on an iPhone 4 (GSM) or later, an iPod touch 5th generation or later, iPad 2 or later, or any Android device running Android OS 2.3 (Gingerbread) or later to use this app.</p>
</div>
<a id="d.en.200514"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200514"></a>
<h3>Sign in to your lynda.com account with an iOS or Android mobile application</h3>
  

  
<ol class="ol1">
<li class="li1">Using your iPhone, iPad or Android device, download the lynda.com app from the App Store or Google Play Store.</li>
<li class="li1">Open the app.</li>
<li class="li1">On the sign in screen, tap&nbsp;<strong>Web Portal Access</strong>.</li>
<li class="li1">Enter "case.edu" into the field and tap Go.</li>
<li class="li1">Enter your CWRU Network ID and password at the Single Sign-On (SSO) page and tap <strong>Login</strong>.</li>
</ol>
</div>
<div style="clear:both"></div>
</div><!--.row-->
</div><!-- end main content area-->{% include_relative _includes/survey.html %}
{% include_relative _includes/footer.html %}
</div>
</body>
</html>