<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
 	<meta http-equiv="X-UA-Compatible" content="IE=edge">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

		<style>
		h2 { padding-top: 30px; }
		h3 { padding-top: 20px; }
		</style>

	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container"><!DOCTYPE html>
<html lang="en">
<head>
{% include_relative _includes/header.html %}

</head>
<body>
<div class="container"><span><!-- navigation object : Page Name template -->ITS KBA 108892 MediaVision Lecture Capture</span>
</section>
</div>
</div>
  
<div class='displayNone'><!-- navigation object : Breadcrumbs hidden template -->
  <div class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- navigation object : Home Link template --><a href='SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27574'><img src='https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1264756019' alt="Go to Home" /></a><!-- navigation object : Breadcrumbs Template --> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=27574&amp;chid=144&amp;lang=en">ITS</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=41906&amp;chid=144&amp;lang=en">ITS Development</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67312&amp;chid=144&amp;lang=en">rpretzer</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67341&amp;chid=144&amp;lang=en">KBA</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67435&amp;chid=144&amp;lang=en">ITS KBA 108892 MediaVision Lecture Capture</a>
  </div><!-- .breadcrumb -->
</div>
  
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-col">
    
    <div class="row"><a id="d.en.200522"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200522"></a>
<h2>MediaVision Lecture Capture</h2>
  

  
<p>MediaVision is a lecture capture system that is supported by Information Technology Services at Case Western Reserve University.&nbsp;<span>The MediaVision videos are accessed by both faculty who have scheduled recordings and students via Blackboard Learn at&nbsp;</span><a href="http://blackboard.case.edu" target="_blank"><strong>blackboard.case.edu&nbsp;</strong></a><span>.</span></p>
</div>
<a id="d.en.200526"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200526"></a>
<h3>Benefits</h3>
  

  
<p><span>The system provides faculty members with an easy to use interface, greater flexibility and additional features. MediaVision allows instructors to seamlessly access and edit their course videos, view valuable metrics on how often a video has been watched and learn where in the video students are spending the majority of their time. MediaVision uses advanced multimedia learning tools to support learning success and enhance teaching.</span></p>
<p>Students also benefit from an improved experience when MediaVision is used in a class. Students will access course recordings through their class site on Blackboard Learn and have the option of viewing the videos on mobile devices. In Blackboard Learn, students may also create and contribute to discussions in video sections, choose between watching the video or listening to its audio only, and bookmark sections they wish to return to later.</p>
</div>
<a id="d.en.200527"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200527"></a>
<h3>Personal Lecture Capture</h3>
  

  
<p>Personal Lecture Capture gives faculty the power to record videos anywhere, at any time, and distribute them to students through Blackboard.</p>
</div>
<a id="d.en.200528"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200528"></a>
<h3>Questions?</h3>
  

  
<p><span>Faculty continue to have the option of recording large, lecture-&shy;‐oriented classes through a scheduled camera operator.&nbsp;</span><span>To request MediaVision for your classroom contact the service desk at 216-368-HELP (4357), or email&nbsp;</span><a class="a" href="mailto:help@case.edu" target="_blank">help@case.edu</a><span>.</span></p>
</div>
<div style="clear:both"></div>
</div><!--.row-->
</div><!-- end main content area-->{% include_relative _includes/survey.html %}
{% include_relative _includes/footer.html %}
</div>
</body>
</html><hr>

<p>&nbsp;</p>
<p>&nbsp;</p>


<div class="well">
<p class="lead">Answer three questions to help us improve your experience</p>

<iframe name="confirm" id="confirm" style="display:none;" onload="if(typeof sent_confirm!='undefined'){window.location='https://googledrive.com/host/0B5e4Smfyuda_dEJRRlZ1UmhSTGM/thank-you-webex.html';}"></iframe>
<form action="https://docs.google.com/forms/d/1XYrNCfwy4w_Cx_k7FkaTN5LhYN8e2920DOna_n7l-jQ/formResponse" method="POST" id="ss-form" target="confirm" onsubmit="sent_confirm=true">

    <div class="form-group">
  		<p><label>Would you recommend WebEx to a colleague or friend? *</label><br>
    		<select class="form-control" name="entry.535955540" id="entry_535955540" placeholder="Yes">
    		<option selected disabled hidden value=''></option>
    		<option value="Yes">Yes</option> 
    		<option value="No">No</option>
  		</select></p>

  		<p><label>Do the included instructions lead naturally to an expected outcome? *</label><br>
    		<select class="form-control" name="entry.1059610721" id="entry_1059610721" placeholder="Yes">
    		<option selected disabled hidden value=''></option>
    		<option value="Yes">Yes</option> 
    		<option value="No">No</option>
  		</select></p>

  		<p><label>Are the included instructions clear and understandable? *</label><br>
    		<select class="form-control" name="entry.1188770357" id="entry_1188770357" placeholder="Yes">
    		<option selected disabled hidden value=''></option>
    		<option value="Yes">Yes</option> 
    		<option value="No">No</option>
  		</select></p>

  		<p><label>Feedback</label><br>
  		<textarea name="entry.1986528048" class="form-control" rows="3" id="entry_1986528048" placeholder="Survey responses are anonymous. So if you want personal followup, add your contact information here."></textarea></p>
		<p>&nbsp;</p>
		<button type="submit" name="submit" value="Submit" id="ss-submit" class="btn btn-primary">Submit response</button>
		</form>
	</div>
</div>


<hr>

<div class="pull-right">
<p>&copy; 2015, Case Western Reserve University</p>
</div>
<div class="clearfix"></div>

</div>
</body>
</html>