<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
 	<meta http-equiv="X-UA-Compatible" content="IE=edge">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

		<style>
		h2 { padding-top: 30px; }
		h3 { padding-top: 20px; }
		</style>

	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container"><!DOCTYPE html>
<html lang="en">
<head>
{% include_relative _includes/header.html %}

</head>
<body>
<div class="container"><span><!-- navigation object : Page Name template -->ITS KBA 18113 Mac Mail Setup</span>
</section>
</div>
</div>
  
<div class='displayNone'><!-- navigation object : Breadcrumbs hidden template -->
  <div class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- navigation object : Home Link template --><a href='SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27574'><img src='https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1045118427' alt="Go to Home" /></a><!-- navigation object : Breadcrumbs Template --> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=27574&amp;chid=144&amp;lang=en">ITS</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=41906&amp;chid=144&amp;lang=en">ITS Development</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67312&amp;chid=144&amp;lang=en">rpretzer</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67341&amp;chid=144&amp;lang=en">KBA</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67421&amp;chid=144&amp;lang=en">ITS KBA 18113 Mac Mail Setup</a>
  </div><!-- .breadcrumb -->
</div>
  
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-col">
    
    <div class="row"><a id="d.en.200451"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200451"></a>
<h3>Initial Setup of Mac® Mail with IMAP for OS X® Lion</h3>
  

  
<h4>Concept</h4>
<p>This document describes the procedures for setting up the Mac Mail client to receive messages from Google Mail&trade; using Internet Message Access Protocol (IMAP) with the Mac OS X Lion operating system. IMAP synchronizes the actions you take in the Mac Mail client with Google Mail so if you read or delete a message in the client, it will be marked as such in the Google Mail web interface. These instructions are intended for users that already have an active CWRU Google Mail account and want to set up the Mac Mail client for the first time.</p>
<h4>Procedure</h4>
<p><span class='fig-img-left' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1715681592"  /></span></p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p><strong>Step</strong></p>
</td>
<td>
<p><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s2">1.</p>
</td>
<td>
<p class="s2">Open your web browser and navigate to: &ldquo;<span class="s3">webmail.case.edu</span>&rdquo;. Enter your CWRU Network ID and password and then click the <span class="s4">LOGIN </span>button.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=803704076"  /></span></p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;<span class='fig-img-left' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1365168643"  /></span></p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p><strong>Step</strong></p>
</td>
<td>
<p><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s2">2.</p>
</td>
<td>
<p class="s2">The Google Mail inbox will open. Click the <span class="s5">Settings </span>icon (resembling a gear) in the top right corner of the screen.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=909316413"  /></span></p>
</td>
</tr>
<tr>
<td>
<p class="s2">3.</p>
</td>
<td>
<p class="s2">Select the <span class="s4">Settings </span>menu option.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=154890788"  /></span></p>
</td>
</tr>
</tbody>
</table>
<p><span class='fig-img-left' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=594763776"  /></span>&nbsp;</p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p><strong>Step</strong></p>
</td>
<td>
<p><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s2">4.</p>
</td>
<td>
<p class="s2">Click the <span class="s4">Forwarding and POP/IMAP </span>menu option.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=473474060"  /></span></p>
</td>
</tr>
<tr>
<td>
<p class="s2">5.</p>
</td>
<td>
<p class="s2">Click the <span class="s4">Disable POP </span>radio button to select it.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1783403892"  /></span></p>
</td>
</tr>
<tr>
<td>
<p class="s2">6.</p>
</td>
<td>
<p class="s2">Click the <span class="s4">Enable IMAP </span>radio button to select it.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=537517443"  /></span></p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;<span class='fig-img-left' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=790174824"  /></span></p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p><strong>Step</strong></p>
</td>
<td>
<p><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s2">7.</p>
</td>
<td>
<p class="s2">Click the <span class="s4">Save Changes </span>button at the bottom of the <strong>Forwarding and POP/IMAP </strong>settings window.</p>
<p class="s2">Sign out of the Google Mail web interface.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=2006850632"  /></span></p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;<span class='fig-img-left' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1853482205"  /></span></p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p><strong>Step</strong></p>
</td>
<td>
<p><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s2">8.</p>
</td>
<td>
<p class="s2">From the Dock or Finder, open Mail.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1702294205"  /></span></p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;<span class='fig-img-left' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=829704920"  /></span></p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p><strong>Step</strong></p>
</td>
<td>
<p><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s2">9.</p>
</td>
<td>
<p class="s2">If you are opening Mail for the first time, the <strong>Welcome to Mail </strong>screen will appear.</p>
<p class="s2"><strong>Note</strong>: If you do not see a Welcome to Mail screen, click on the <span class="s6">Mail </span>menu. Click on the <span class="s6">Preferences </span>menu item. Click on the <span class="s6">Accounts </span>button. Click the <span class="s6">+ </span>sign to add an account.</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;<span class='fig-img-left' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1796022203"  /></span></p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p><strong>Step</strong></p>
</td>
<td>
<p><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s2">10.</p>
</td>
<td>
<p class="s2">In the <span class="s6">Full Name </span>field, enter your name as you would like it to appear on your outgoing email.</p>
</td>
</tr>
<tr>
<td>
<p class="s2">11.</p>
</td>
<td>
<p class="s2">In the <span class="s6">Email Address </span>field, enter your CWRU email address.</p>
<p class="s2"><strong>Note</strong>: Either the CWRU Network ID version (<em>abc123@case.edu</em>) or Personal Name version (<em>firstname.lastname@case.edu</em>) can be used for this purpose.</p>
</td>
</tr>
<tr>
<td>
<p class="s2">12.</p>
</td>
<td>
<p class="s2">In the <span class="s6">Password </span>field, enter your CWRU email password.</p>
</td>
</tr>
<tr>
<td>
<p class="s2">13.</p>
</td>
<td>
<p class="s2">Click the <span class="s6">Continue </span>button.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=768904876"  /></span></p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;<span class='fig-img-left' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1963030320"  /></span></p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p><strong>Step</strong></p>
</td>
<td>
<p><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s2">14.</p>
</td>
<td>
<p class="s2">The <strong>Incoming Mail Server </strong>screen appears. From the <span class="s6">Account Type</span></p>
<p class="s2">dropdown list, select <span class="s6">IMAP</span>.</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;<span class='fig-img-left' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=2021830796"  /></span></p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p><strong>Step</strong></p>
</td>
<td>
<p><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s2">15.</p>
</td>
<td>
<p class="s2">In the <span class="s6">Description </span>field, enter &ldquo;<span class="s3">CWRU Google Mail</span>&rdquo;.</p>
</td>
</tr>
<tr>
<td>
<p class="s2">16.</p>
</td>
<td>
<p class="s2">In the <span class="s6">Incoming Mail Server </span>field, enter &ldquo;<span class="s3">imap.gmail.com</span>&rdquo;.</p>
</td>
</tr>
<tr>
<td>
<p class="s2">17.</p>
</td>
<td>
<p class="s2">In the <span class="s6">User Name </span>field, enter the CWRU Network ID version of your email address (abc123@case.edu).</p>
</td>
</tr>
<tr>
<td>
<p class="s2">18.</p>
</td>
<td>
<p class="s2">In the <span class="s6">Password </span>field, enter your CWRU Single Sign-On password.</p>
</td>
</tr>
<tr>
<td>
<p class="s2">19.</p>
</td>
<td>
<p class="s2">Click the <span class="s6">Continue </span>button.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=2050933721"  /></span></p>
</td>
</tr>
</tbody>
</table>
<p><span class='fig-img-left' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1483867166"  /></span>&nbsp;</p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p><strong>Step</strong></p>
</td>
<td>
<p><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s2">20.</p>
</td>
<td>
<p class="s2">In the <span class="s6">Description </span>field, enter &ldquo;<span class="s3">CWRU Google Mail</span>&rdquo; (if the field is not already populated).</p>
</td>
</tr>
<tr>
<td>
<p class="s2">21.</p>
</td>
<td>
<p class="s2">In the <span class="s6">Outgoing Mail Server </span>field, enter &ldquo;<span class="s3">smtp.cwru.edu</span>&rdquo; and check the box next to <span class="s6">Use only this server</span>.</p>
</td>
</tr>
<tr>
<td>
<p class="s2">22.</p>
</td>
<td>
<p class="s2">Check the box next to <span class="s6">Use Authentication</span>.</p>
</td>
</tr>
<tr>
<td>
<p class="s2">23.</p>
</td>
<td>
<p class="s2">In the <span class="s6">User Name </span>field, enter your CWRU Network ID.</p>
</td>
</tr>
<tr>
<td>
<p class="s2">24.</p>
</td>
<td>
<p class="s2">In the <span class="s6">Password </span>field, enter your CWRU Single Sign-On password.</p>
</td>
</tr>
<tr>
<td>
<p class="s2">25.</p>
</td>
<td>
<p class="s2">Click the <span class="s6">Continue </span>button.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=184064375"  /></span></p>
</td>
</tr>
</tbody>
</table>
<p><span class='fig-img-left' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=260743186"  /></span></p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p><strong>Step</strong></p>
</td>
<td>
<p><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s2">26.</p>
</td>
<td>
<p class="s2">The Account Summary window appears.</p>
<p class="s1">Note<span class="s2">: The Secure Sockets Layer (SSL) feature is automatically set to </span>ON <span class="s2">for the </span>Incoming <span class="s2">and </span>Outgoing Mail Servers <span class="s2">by the mail client.</span></p>
</td>
</tr>
<tr>
<td>
<p class="s2">27.</p>
</td>
<td>
<p class="s2">Ensure the box next to <span class="s6">Take account online </span>is checked.</p>
</td>
</tr>
<tr>
<td>
<p class="s2">28.</p>
</td>
<td>
<p class="s2">Click the <span class="s6">Create </span>button.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=730347594"  /></span></p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;<span class='fig-img-left' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1669615929"  /></span></p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p><strong>Step</strong></p>
</td>
<td>
<p><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s2">29.</p>
</td>
<td>
<p class="s2">Your CWRU Google Mail will now synchronize with Mac Mail. When the synchronization has completed, the folders shown on the left of the Mac Mail dialogue box will correspond with the labels appearing in your Google Mail web interface.</p>
</td>
</tr>
<tr>
<td>
<p class="s2">30.</p>
</td>
<td>
<p><span class="s8">End of Procedure.</span></p>
</td>
</tr>
</tbody>
</table>
</div>
<div style="clear:both"></div>
</div><!--.row-->
</div><!-- end main content area-->{% include_relative _includes/survey.html %}
{% include_relative _includes/footer.html %}
</div>
</body>
</html><hr>

<p>&nbsp;</p>
<p>&nbsp;</p>


<div class="well">
<p class="lead">Answer three questions to help us improve your experience</p>

<iframe name="confirm" id="confirm" style="display:none;" onload="if(typeof sent_confirm!='undefined'){window.location='https://googledrive.com/host/0B5e4Smfyuda_dEJRRlZ1UmhSTGM/thank-you-webex.html';}"></iframe>
<form action="https://docs.google.com/forms/d/1XYrNCfwy4w_Cx_k7FkaTN5LhYN8e2920DOna_n7l-jQ/formResponse" method="POST" id="ss-form" target="confirm" onsubmit="sent_confirm=true">

    <div class="form-group">
  		<p><label>Would you recommend WebEx to a colleague or friend? *</label><br>
    		<select class="form-control" name="entry.535955540" id="entry_535955540" placeholder="Yes">
    		<option selected disabled hidden value=''></option>
    		<option value="Yes">Yes</option> 
    		<option value="No">No</option>
  		</select></p>

  		<p><label>Do the included instructions lead naturally to an expected outcome? *</label><br>
    		<select class="form-control" name="entry.1059610721" id="entry_1059610721" placeholder="Yes">
    		<option selected disabled hidden value=''></option>
    		<option value="Yes">Yes</option> 
    		<option value="No">No</option>
  		</select></p>

  		<p><label>Are the included instructions clear and understandable? *</label><br>
    		<select class="form-control" name="entry.1188770357" id="entry_1188770357" placeholder="Yes">
    		<option selected disabled hidden value=''></option>
    		<option value="Yes">Yes</option> 
    		<option value="No">No</option>
  		</select></p>

  		<p><label>Feedback</label><br>
  		<textarea name="entry.1986528048" class="form-control" rows="3" id="entry_1986528048" placeholder="Survey responses are anonymous. So if you want personal followup, add your contact information here."></textarea></p>
		<p>&nbsp;</p>
		<button type="submit" name="submit" value="Submit" id="ss-submit" class="btn btn-primary">Submit response</button>
		</form>
	</div>
</div>


<hr>

<div class="pull-right">
<p>&copy; 2015, Case Western Reserve University</p>
</div>
<div class="clearfix"></div>

</div>
</body>
</html>