<!DOCTYPE html>
<html lang="en">
<head>
{% include_relative _includes/header.html %}

</head>
<body>
<div class="container"><span><!-- navigation object : Page Name template -->ITS KBA 23457 MAC Address</span>
</section>
</div>
</div>
  
<div class='displayNone'><!-- navigation object : Breadcrumbs hidden template -->
  <div class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- navigation object : Home Link template --><a href='SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27574'><img src='https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=194151789' alt="Go to Home" /></a><!-- navigation object : Breadcrumbs Template --> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=27574&amp;chid=144&amp;lang=en">ITS</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=41906&amp;chid=144&amp;lang=en">ITS Development</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67312&amp;chid=144&amp;lang=en">rpretzer</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67341&amp;chid=144&amp;lang=en">KBA</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67398&amp;chid=144&amp;lang=en">ITS KBA 23457 MAC Address</a>
  </div><!-- .breadcrumb -->
</div>
  
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-col">
    
    <div class="row"><a id="d.en.200263"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200263"></a>
<h3>MAC Address</h3>
  

  
<p>Your Media Access Code (MAC) Address (also called Physical Address, Ethernet Address, Hardware Address or Adaptor Address) is the unique 12-digit name of your network interface card. This is the number you need to register with ITS before you can connect a network-enabled, hard-wired device to the campus wired network.</p>
<p class="s1"><a href="#macOSX">Mac OS X</a><br /><a href="#windowsXP">Windows XP</a><br /><a href="#Windows7">Windows Vista and Windows 7</a><br /><a href="#WII">Wii</a><br /><a href="#Playstation">Playstation 3</a><br /><a href="#xbox">Xbox</a><br /><a href="#xbox360">Xbox 360</a></p>
<h4><a id="macOSX"></a>Finding your MAC address on Mac OS X</h4>
<ol>
<li>Open <em>System Preferences </em>(either under the Apple menu or by double clicking the icon in the dock).</li>
<li>Select the <em>Network </em>icon from the <em>Internet &amp; Network </em>window.</li>
<li>Select <em>Ethernet </em>in the left menu and pick the <em>Advanced </em>button on the right.</li>
<li>Select the <em>Ethernet </em>tab on the right side of the bar.</li>
<li>The <em>Ethernet ID </em>is your MAC Address for the network registration process.</li>
<li>If you are off campus, go to the Student Device Self-Registration page (<a class="a" href="http://www.case.edu/its/devreg" target="_blank">www.case.edu/its/devreg</a>) and enter this number into the Device MAC Address field.</li>
</ol>
<h4><a id="windowsXP"></a>Finding your MAC address in Windows XP</h4>
<ol>
<li>On the <em><strong>Start </strong></em>menu, select <em>Run</em>. Type <em>cmd </em>to open a command prompt.</li>
<li>In the command prompt, type <strong>ipconfig /all</strong>. A page of information will scroll past including the Physical Address or MAC address of the wired Ethernet card. The address will be in the form XX-XX-XX-XX-XX-XX.</li>
<li>The <em>Ethernet ID </em>or <em>Physical Address </em>is your MAC Address for the network registration process.</li>
<li>If you are off campus, go to the Student Device Self-Registration page (<a class="a" href="http://www.case.edu/its/devreg" target="_blank">www.case.edu/its/devreg</a>) and enter this number into the Device MAC Address field.</li>
</ol>
<h4><a id="Windows7"></a>Finding your MAC address on Windows Vista &amp; Windows 7</h4>
<ol>
<li>Click the <em>Windows (Start) </em>button and enter &ldquo;Command Prompt&rdquo; in the search box.</li>
<li>Select the <em>Command Prompt </em>program.</li>
<li>In the Command Prompt, type &ldquo;getmac&rdquo; and hit Enter. Your MAC Address will be labeled Physical Address, and will look like XX-XX-XX-XX-XX-XX.</li>
<li>The <em>Ethernet ID </em>or <em>Physical Address </em>is your MAC Address for the network registration process.</li>
<li>If you are off campus, go to the Student Device Self-Registration page (<a class="a" href="http://www.case.edu/its/devreg" target="_blank">www.case.edu/its/devreg</a>) and enter this number into the Device MAC Address field.</li>
</ol>
<h4><a id="WII"></a>Finding the MAC address of your Nintendo Wii</h4>
<p>To connect your Wii to the network so you can play online, you will need to register your Wii's MAC address.</p>
<ol>
<li>Select the <em>Wii </em>button on the home menu.</li>
<li>Select the <em>Wii Settings </em>option.</li>
<li>Click the <em>Internet </em>button.</li>
<li>Choose <em>Console Information</em>.</li>
<li>You will see your MAC Address. Write this address down and enter it into the Device MAC Address field on the Student Device Self-Registration (<a class="a" href="http://www.case.edu/its/devreg" target="_blank">www.case.edu/its/devreg</a>) page.</li>
</ol>
<h4><a id="Playstation"></a>Finding the MAC address of your Playstation 3</h4>
<p>To connect your PS3 to the network so you can play online, you will need to register your PS3's MAC address.</p>
<ol>
<li>First go to the <em>Settings </em>option on the Cross Media Bar.</li>
<li>Select <em>System Settings</em>.</li>
<li>Go to the <em>System Information </em>option.</li>
<li>You will see your MAC Address. Write this address down and enter it into the Device MAC Address field on the Student Device Self-Registration (<a class="a" href="http://www.case.edu/its/devreg" target="_blank">www.case.edu/its/devreg</a>) page.</li>
</ol>
<h4><a id="xbox"></a>Finding the MAC address of your Xbox</h4>
<p>To connect your Xbox to the network so you can play online, you will need to register your Xbox&rsquo;s MAC address.</p>
<ol>
<li>Power on the Xbox with no disk in it and select <em>Settings</em>.</li>
<li>Select <em>Network Settings.</em></li>
<li>You will see your MAC Address. Write this address down and enter it into the Device MAC Address field on the Student Device Self-Registration (<a class="a" href="http://www.case.edu/its/devreg" target="_blank">www.case.edu/its/devreg</a>) page.</li>
</ol>
<h4><a id="xbox360"></a>Finding the MAC address of your Xbox 360</h4>
<p>To connect your Xbox 360 to the network so you can play online, you will need to register your Xbox&rsquo;s MAC address.</p>
<ol>
<li>Select the <em>System </em>tab in the Xbox dashboard.</li>
<li>Select <em>Network Settings</em>.</li>
<li>Select <em>Edit Settings</em>.</li>
<li>Go to <em>Additional Settings </em>and select <em>Advanced Settings.</em></li>
<li>At the bottom of the screen you will see the Wired MAC Address. You will see your MAC Address. Write this address down and enter it into the Device MAC Address field on the Student Device Self-Registration (<a class="a" href="http://www.case.edu/its/devreg" target="_blank">www.case.edu/its/devreg</a>) page.</li>
</ol>
</div>
<a id="d.en.200266"></a>

<div class='tinyMCE col-xs-12 col-sm-12 col-md-12 col-lg-12'>
<div class="panel panel-default">
    <div class="panel-heading">
      <p class='panel-title'> 
        <a data-toggle="collapse" href='#collapse200266' class="collapsed">
          Finding the MAC address of your Xbox 360
        </a>
  </p>
    </div>
    <div id='collapse200266' class="panel-collapse  collapse">
      <div class="panel-body">
        <ol class="ol1">
<li class="li3">Select the System tab in the Xbox dashboard.</li>
<li class="li3">Select Network Settings.</li>
<li class="li3">Select Edit Settings.</li>
<li class="li3">Go to Additional Settings and select Advanced Settings. At the bottom of the screen you will see the Wired MAC Address.</li>
</ol>
      </div>
    </div>
</div>
</div>
<div style="clear:both"></div>
</div><!--.row-->
</div><!-- end main content area-->{% include_relative _includes/survey.html %}
{% include_relative _includes/footer.html %}
</div>
</body>
</html>