<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
 	<meta http-equiv="X-UA-Compatible" content="IE=edge">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

		<style>
		h2 { padding-top: 30px; }
		h3 { padding-top: 20px; }
		</style>

	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container"><!DOCTYPE html>
<html lang="en">
<span><!-- navigation object : Page Name template -->ITS KBA 23417 network policy</span>
</section>
</div>
</div>
  
<div class='displayNone'><!-- navigation object : Breadcrumbs hidden template -->
  <div class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- navigation object : Home Link template --><a href='SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27574'><img src='https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=52916969' alt="Go to Home" /></a><!-- navigation object : Breadcrumbs Template --> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=27574&amp;chid=144&amp;lang=en">ITS</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=41906&amp;chid=144&amp;lang=en">ITS Development</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67312&amp;chid=144&amp;lang=en">rpretzer</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67341&amp;chid=144&amp;lang=en">KBA</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67403&amp;chid=144&amp;lang=en">ITS KBA 23417 network policy</a>
  </div><!-- .breadcrumb -->
</div>
  
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-col">
    
    <div class="row"><a id="d.en.200286"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200286"></a>
<h2>CWRU Network Policies</h2>
  

  
<p><strong>All users&nbsp;</strong>should be adhere to&nbsp;<a target="_blank" href="SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27630">ITS network and computer policies</a>&nbsp;governing network activity.</p>
</div>
<a id="d.en.200291"></a>

<div class='tinyMCE col-xs-12 col-sm-12 col-md-12 col-lg-12'>
<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class='panel-title'> 
        <a data-toggle="collapse" href='#collapse200291' class="collapsed">
          Network games
        </a>
  </h4>
    </div>
    <div id='collapse200291' class="panel-collapse  collapse">
      <div class="panel-body">
        <p>In general, most games are permitted on the Case network. Games must comply with the same rules as all other network applications and must pose no risk of interference with other network operations. They must also comply with all other university policies, including ethics policies.</p>
      </div>
    </div>
</div>
</div>
<a id="d.en.200290"></a>

<div class='tinyMCE col-xs-12 col-sm-12 col-md-12 col-lg-12'>
<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class='panel-title'> 
        <a data-toggle="collapse" href='#collapse200290' class="collapsed">
          Student-provided network equipment, multiple IP addresses
        </a>
  </h4>
    </div>
    <div id='collapse200290' class="panel-collapse  collapse">
      <div class="panel-body">
        <p class="p1">Some students may wish to have more than one computer in their residence hall rooms, or may want to have other network devices, such as printers, in addition to their primary computer.</p>
<p class="p1"><span>This is permissible with restrictions.&nbsp;</span><a href="http://tiswww.case.edu/net/policy/spne-mip.html">Read restrictions and guidelines</a></p>
      </div>
    </div>
</div>
</div>
<a id="d.en.200289"></a>

<div class='tinyMCE col-xs-12 col-sm-12 col-md-12 col-lg-12'>
<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class='panel-title'> 
        <a data-toggle="collapse" href='#collapse200289' class="collapsed">
          Banned programs, servers, services, and protocols
        </a>
  </h4>
    </div>
    <div id='collapse200289' class="panel-collapse  collapse">
      <div class="panel-body">
        <p>Programs, servers, services, and protocols that interfere with proper operation of the network or offer substantial potential for such interference.</p>
<p><span>General</span></p>
<ul>
<li>Any protocol, program, or server that makes heavy use of broadcast</li>
<li>Any program, protocol, server, or service not listed above that is judged to interfere with network operations, or that creates substantial risk of interference with network operations</li>
</ul>
<p>Utilities</p>
<ul>
<li>KeyClient before version 4.2.06</li>
<li>HP JetAdmin before version 2.4.0</li>
</ul>
<p>Games</p>
<ul>
<li>DOOM version 1.0</li>
<li>Spectre, all versions</li>
</ul>
<p>Network services and equipment</p>
<ul>
<li>Software or hardware implementing hub/share-based peer to peer file sharing systems used for copyright infringement, such as clients for the Direct Connect and Advanced Direct Connect networks (e.g., DC++ and ADC++)</li>
<li>Routers (of ANY protocol)</li>
<li>DHCP servers</li>
<li>BOOTP servers</li>
<li>RARP servers</li>
<li>Proxy ARP servers</li>
<li>NDS trees</li>
<li>DNS (Domain Name System) servers</li>
<li>Novell servers</li>
<li>WINS (WIndows Name Service) servers</li>
<li>Remote access (dial-in) servers of any type (including, but not limited to, modems attached to computers which are connected to the Case network)</li>
<li>VPN (virtual private network) servers</li>
<li>News (Usenet) servers</li>
<li>Tunneling services</li>
<li>Wireless Access Points (sometimes called base stations)</li>
<li>Dedicated hardware firewalls (however, software firewalls such as ZoneAlarm, Norton Firewall, BlackIce, ipchains/iptables, ipfilter, etc. on individual systems are permitted and encouraged)</li>
<li>Any service or application which communicates using IP multicast without the prior express permission of ITS. With current client speeds, the use of multicast can easily overload parts of the network.</li>
<li>Unmanaged Ethernet switches and Ethernet hubs (repeaters) are permitted. Cabling between a system and the switch or hub must be entirely contained within the immediate room where the switch or hub is located.</li>
<li>Protocols:IPX over layer 2 using a frame type other than Ethernet II</li>
<li>NetBIOS over IPX</li>
<li>NetBIOS over layer 2 (sometimes called NetBEUI)</li>
<li>Windows RAS (remote access services) protocol</li>
</ul>
      </div>
    </div>
</div>
</div>
<div style="clear:both"></div>
</div><!--.row-->
</div><!-- end main content area-->

</div><!--.row-->

</div><!-- .content-sub -->
</div><!-- .row -->
<div class="clearfix"></div>
</div><!-- .container -->{% include_relative _includes/survey.html %}
{% include_relative _includes/footer.html %}
</div>
</body>
</html><!-- <iframe src="https://docs.google.com/forms/d/1TlL5J4nLLgHuz4HqhUJRUzRcxdC7UFEX9lsHDT0U2mw/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
 -->


<hr>

<div class="pull-right">
<p>&copy; 2015, Case Western Reserve University</p>
</div>
<div class="clearfix"></div>

</div>
</body>
</html>