<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
 	<meta http-equiv="X-UA-Compatible" content="IE=edge">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

		<style>
		h2 { padding-top: 30px; }
		h3 { padding-top: 20px; }
		</style>

	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container"><!DOCTYPE html>
<html lang="en">
<head>
{% include_relative _includes/header.html %}

</head>
<body>
<div class="container"><section class="page-name">
<span><!-- navigation object : Page Name template -->ITS KBA 19075 Network Registration</span>
</section>
</div>
</div>
  
<div class='displayNone'><!-- navigation object : Breadcrumbs hidden template -->
  <div class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- navigation object : Home Link template --><a href='SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27574'><img src='https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1589002850' alt="Go to Home" /></a><!-- navigation object : Breadcrumbs Template --> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=27574&amp;chid=144&amp;lang=en">ITS</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=41906&amp;chid=144&amp;lang=en">ITS Development</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67312&amp;chid=144&amp;lang=en">rpretzer</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67341&amp;chid=144&amp;lang=en">KBA</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67417&amp;chid=144&amp;lang=en">ITS KBA 19075 Network Registration</a>
  </div><!-- .breadcrumb -->
</div>
  
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-col">
    
    <div class="row"><a id="d.en.200409"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200409"></a>
<h2>Registering a Device on the Wired Network</h2>
  

  

</div>
<a id="d.en.200412"></a>


<div class='tinyMCE   col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200412"></a>
<h3>About network registration</h3>
  

  
<p class="p1"><span>Network registration verifies your device as a member of the CWRU network.</span></p>
<p class="p2">Registration allows ITS to contact and assist owners of devices if their machines become infected with a virus or are otherwise damaging to the network. Device registration also enhances personal security and deters unauthorized network traffic.</p>
<p class="p2">Device registration is required of any student, faculty or staff member who wishes to use the wired network on campus.</p>
</div>
<a id="d.en.200413"></a>


<div class='tinyMCE   col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200413"></a>
<h3>Requirements for network registration</h3>
  

  
<p class="p1"><span>Registration for any network-enabled device may be completed while either on or off-campus.&nbsp;Three pieces of information are needed to complete device registration:</span></p>
<ol class="ol1">
<li class="li3">CWRU Network ID</li>
<li class="li3">Device hostname</li>
<li class="li3">Device MAC address.</li>
</ol>
</div>
<a id="d.en.200414"></a>


<div class='tinyMCE   col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200414"></a>
<h3>Changing registration information</h3>
  

  
<p class="p1"><span>Updated network records help to ensure the security of the CWRU network. When information related to a network device changes, the owner is required to update the information with ITS. This allows us to keep accurate records of devices and can help ensure the security of the network as a whole.</span></p>
<p class="p2">You may remove or add a networked device from your account by accessing setup.case.edu and signing in with your CWRU Network ID and password.</p>
<p class="p2">Please contact the ITS Service Desk by calling 216.368.HELP (4357) for assistance when you plan on:</p>
<ol class="ol1">
<li class="li3">Moving a network card from your computer to someone else's.</li>
<li class="li3">Changing the owner of a network device (e.g., someone new takes ownership of a departmental computer).</li>
</ol>
</div>
<a id="d.en.200415"></a>


<div class='tinyMCE   col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200415"></a>
<h3>How to register your device</h3>
  

  

</div>
<a id="d.en.200416"></a>

<div class='tinyMCE col-xs-12 col-sm-12 col-md-12 col-lg-12'>
<div class="panel panel-default">
    <div class="panel-heading">
      <p class='panel-title'> 
        <a data-toggle="collapse" href='#collapse200416' class="collapsed">
          Register a computer from on-campus
        </a>
  </p>
    </div>
    <div id='collapse200416' class="panel-collapse  collapse">
      <div class="panel-body">
        <p class="p1"><span>An automated process will register your computer the first time you connect the device to the wired network on-campus.</span></p>
<ol class="ol1">
<li class="li3">Plug your computer into the nearest faceplate or network switch using an Ethernet cord.</li>
<li class="li3">Turn your computer on.</li>
<li class="li3">Open your preferred Internet browser. It will immediately redirect from your homepage to the computer registration page at setup.case.edu.</li>
<li class="li3">Enter computer Hostname. See the Hostname section of this document for directions on how to locate it.</li>
<li class="li3">Enter computer MAC address. See the MAC address section of this document for directions on how to locate it.</li>
<li class="li3">Enter your CWRU Network ID.</li>
<li class="li3">Click Send Information.</li>
<li class="li3">Allow up to one hour for the registration process to complete.</li>
</ol>
      </div>
    </div>
</div>
</div>
<a id="d.en.200417"></a>

<div class='tinyMCE col-xs-12 col-sm-12 col-md-12 col-lg-12'>
<div class="panel panel-default">
    <div class="panel-heading">
      <p class='panel-title'> 
        <a data-toggle="collapse" href='#collapse200417' class="collapsed">
          Register a computer from off-campus

        </a>
  </p>
    </div>
    <div id='collapse200417' class="panel-collapse  collapse">
      <div class="panel-body">
        <ol class="ol1">
<li class="li3">Visit <a href="https://www.case.edu/its/devreg" target="_blank">www.case.edu/its/devreg</a>.</li>
<li class="li3">If prompted, log in to the Single Sign-on screen with your CWRU Network ID and password.</li>
<li class="li3">Enter your device&rsquo;s MAC address into the&nbsp;<strong>Device MAC Address</strong>&nbsp;field. See the MAC address section of this document for directions on how to locate it.</li>
<li class="li3">Optional: enter your device&rsquo;s name into the&nbsp;<strong>Requested Hostname</strong>&nbsp;field. See the Hostname section of this document for directions on how to locate it.</li>
<li class="li3">Click&nbsp;<strong>Send Information</strong>.</li>
<li class="li3">Allow up to one hour for the registration process to complete.</li>
</ol>
      </div>
    </div>
</div>
</div>
<a id="d.en.200418"></a>

<div class='tinyMCE col-xs-12 col-sm-12 col-md-12 col-lg-12'>
<div class="panel panel-default">
    <div class="panel-heading">
      <p class='panel-title'> 
        <a data-toggle="collapse" href='#collapse200418' class="collapsed">
          Register BluRay player, gaming console, etc. on or off-campus.
        </a>
  </p>
    </div>
    <div id='collapse200418' class="panel-collapse  collapse">
      <div class="panel-body">
        <ol class="ol1">
<li class="li3">Visit&nbsp;<a href="https://www.case.edu/its/devreg" target="_blank">www.case.edu/its/devreg</a>.</li>
<li class="li3">If prompted, log in to the Single Sign-on screen with your CWRU Network ID and password.</li>
<li class="li3">Enter your device&rsquo;s MAC address into the&nbsp;<strong>Device MAC Address</strong>&nbsp;field. See the MAC address section of this document for directions on how to locate it.</li>
<li class="li3">Optional: enter your device&rsquo;s name into the&nbsp;<strong>Requested Hostname</strong>&nbsp;field. See the Hostname section of this document for directions on how to locate it.</li>
<li class="li3">Click&nbsp;<strong>Send Information</strong>.</li>
<li class="li3">Allow up to one hour for the registration process to complete.</li>
</ol>
      </div>
    </div>
</div>
</div>
<a id="d.en.200419"></a>


<div class='tinyMCE   col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200419"></a>
<h3>Hostname policy</h3>
  

  
<p>Your computer or device is identified on the wired network by its hostname.&nbsp;<span>CWRU policy requires that the name used to identify your device on the network is the same name you picked when setting up your operating system.</span></p>
<p class="p2">Each hostname must be unique on the CWRU network. Therefore, if your computer has a name that someone else has already registered, you will need to pick a new one.&nbsp;<span>Additionally, a hostname cannot contain special characters.</span></p>
</div>
<a id="d.en.200420"></a>


<div class='tinyMCE   col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200420"></a>
<h3>How to locate your hostname</h3>
  

  

</div>
<a id="d.en.200421"></a>

<div class='tinyMCE col-xs-12 col-sm-12 col-md-12 col-lg-12'>
<div class="panel panel-default">
    <div class="panel-heading">
      <p class='panel-title'> 
        <a data-toggle="collapse" href='#collapse200421' class="collapsed">
          Locating and changing hostname in Windows
        </a>
  </p>
    </div>
    <div id='collapse200421' class="panel-collapse  collapse">
      <div class="panel-body">
        <ol class="ol1">
<li class="li3">Right-click on My Computer.</li>
<li class="li3">Select Properties. Locate the computer name section.</li>
<li class="li3">To change your computer&rsquo;s name, click Change Settings.</li>
<li class="li3">Click the Change button.</li>
<li class="li3">Give your computer a name that is unique, but does not include spaces, apostrophes, or hyphens.</li>
</ol>
      </div>
    </div>
</div>
</div>
<a id="d.en.200422"></a>

<div class='tinyMCE col-xs-12 col-sm-12 col-md-12 col-lg-12'>
<div class="panel panel-default">
    <div class="panel-heading">
      <p class='panel-title'> 
        <a data-toggle="collapse" href='#collapse200422' class="collapsed">
          Locating and changing hostname on a Mac
        </a>
  </p>
    </div>
    <div id='collapse200422' class="panel-collapse  collapse">
      <div class="panel-body">
        <ol class="ol1">
<li class="li3">Click on the Apple Icon.</li>
<li class="li3">Select System Preferences from the menu.</li>
<li class="li3">In the Internet and Networking section, click on Sharing. Your</li>
<li class="li3">computer&rsquo;s name is located in the Computer Name field.</li>
<li class="li3">To change your computer&rsquo;s name, click Edit.</li>
<li class="li3">Enter an appropriate name that doesn&rsquo;t use spaces, apostrophes or hyphens into the Computer Name field.</li>
<li class="li3">Click OK.</li>
</ol>
      </div>
    </div>
</div>
</div>
<a id="d.en.200423"></a>


<div class='tinyMCE   col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200423"></a>
<h3>What is a MAC address?</h3>
  

  
<p class="p1"><span>Your Media Access Code (MAC) Address (also called Physical Address, Ethernet Address, Hardware Address or Adaptor Address) is the unique 12-digit name of your network interface card.</span></p>
<p class="p2">To find the MAC address for a device not specifically covered here (BluRay players, DVD players, smart televisions, etc.), please refer to your owner's manual.</p>
</div>
<a id="d.en.200424"></a>


<div class='tinyMCE   col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200424"></a>
<h3>How to locate your MAC address</h3>
  

  

</div>
<a id="d.en.200425"></a>

<div class='tinyMCE col-xs-12 col-sm-12 col-md-12 col-lg-12'>
<div class="panel panel-default">
    <div class="panel-heading">
      <p class='panel-title'> 
        <a data-toggle="collapse" href='#collapse200425' class="collapsed">
          Finding your MAC address on Mac OS X
        </a>
  </p>
    </div>
    <div id='collapse200425' class="panel-collapse  collapse">
      <div class="panel-body">
        <ol class="ol1">
<li class="li3">Open System Preferences (either under the Apple menu or by clicking the icon in the dock).</li>
<li class="li3">Select the Network icon from the Internet &amp; Network window.</li>
<li class="li3">Select Ethernet in the left menu and pick the Advanced button on the right.</li>
<li class="li3">Select the Ethernet tab on the right side of the bar.</li>
<li class="li3">The Ethernet ID is your MAC Address for the network registration process.</li>
</ol>
      </div>
    </div>
</div>
</div>
<a id="d.en.200426"></a>

<div class='tinyMCE col-xs-12 col-sm-12 col-md-12 col-lg-12'>
<div class="panel panel-default">
    <div class="panel-heading">
      <p class='panel-title'> 
        <a data-toggle="collapse" href='#collapse200426' class="collapsed">
          Finding your MAC address in Windows XP
        </a>
  </p>
    </div>
    <div id='collapse200426' class="panel-collapse  collapse">
      <div class="panel-body">
        <ol class="ol1">
<li class="li3">On the Start menu, select Run.</li>
<li class="li3">Type cmd to open a command prompt.</li>
<li class="li3">In the command prompt, type ipconfig /all. A page of information will scroll past including the Physical Address or MAC address of the wired Ethernet card. The address will be in the form XX-XX-XX-XX-XX-XX.</li>
</ol>
      </div>
    </div>
</div>
</div>
<a id="d.en.200427"></a>

<div class='tinyMCE col-xs-12 col-sm-12 col-md-12 col-lg-12'>
<div class="panel panel-default">
    <div class="panel-heading">
      <p class='panel-title'> 
        <a data-toggle="collapse" href='#collapse200427' class="collapsed">
          Finding your MAC address on Windows Vista & Windows 7
        </a>
  </p>
    </div>
    <div id='collapse200427' class="panel-collapse  collapse">
      <div class="panel-body">
        <ol class="ol1">
<li class="li3">Click the Windows (Start) button and enter &ldquo;Command Prompt&rdquo; in the search box.</li>
<li class="li3">Select the Command Prompt program.</li>
<li class="li3">In the Command Prompt, type&nbsp;<strong>getmac</strong>&nbsp;and hit Enter. Your MAC Address will be labeled Physical Address, and will look like XX-XX-XX-XX-XX-XX.</li>
</ol>
      </div>
    </div>
</div>
</div>
<a id="d.en.200428"></a>

<div class='tinyMCE col-xs-12 col-sm-12 col-md-12 col-lg-12'>
<div class="panel panel-default">
    <div class="panel-heading">
      <p class='panel-title'> 
        <a data-toggle="collapse" href='#collapse200428' class="collapsed">
          Finding the MAC address of your Nintendo Wii
        </a>
  </p>
    </div>
    <div id='collapse200428' class="panel-collapse  collapse">
      <div class="panel-body">
        <ol class="ol1">
<li class="li3">Select the Wii button on the home menu.</li>
<li class="li3">Select the Wii Settings option.</li>
<li class="li3">Click the Internet button.</li>
<li class="li3">Choose Console Information. You will see your MAC Address.</li>
</ol>
      </div>
    </div>
</div>
</div>
<a id="d.en.200429"></a>

<div class='tinyMCE col-xs-12 col-sm-12 col-md-12 col-lg-12'>
<div class="panel panel-default">
    <div class="panel-heading">
      <p class='panel-title'> 
        <a data-toggle="collapse" href='#collapse200429' class="collapsed">
          Finding the MAC address of your Playstation 3
        </a>
  </p>
    </div>
    <div id='collapse200429' class="panel-collapse  collapse">
      <div class="panel-body">
        <ol class="ol1">
<li class="li3">Go to the Settings option on the Cross Media Bar.</li>
<li class="li3">Select System Settings.</li>
<li class="li3">Go to the System Information option. You will see your MAC address at the top of the screen.</li>
</ol>
      </div>
    </div>
</div>
</div>
<a id="d.en.200433"></a>

<div class='tinyMCE col-xs-12 col-sm-12 col-md-12 col-lg-12'>
<div class="panel panel-default">
    <div class="panel-heading">
      <p class='panel-title'> 
        <a data-toggle="collapse" href='#collapse200433' class="collapsed">
          Finding the MAC address of your Playstation 4
        </a>
  </p>
    </div>
    <div id='collapse200433' class="panel-collapse  collapse">
      <div class="panel-body">
        <ol class="ol1">
<li class="li1">Turn on your Playstation 4 without any disk in the drive and wait for the menu to pop up.</li>
<li class="li1">Navigate to the <strong>Settings</strong> icon (located on the far left).</li>
<li class="li1">Select the <strong>System</strong> icon under the Settings menu.</li>
<li class="li1">Select <strong>System Information</strong>.</li>
<li class="li1">You will see your MAC address listed on this screen, containing letters and numbers in the format xx.xx.xx.xx.xx.xx.</li>
</ol>
      </div>
    </div>
</div>
</div>
<a id="d.en.200430"></a>

<div class='tinyMCE col-xs-12 col-sm-12 col-md-12 col-lg-12'>
<div class="panel panel-default">
    <div class="panel-heading">
      <p class='panel-title'> 
        <a data-toggle="collapse" href='#collapse200430' class="collapsed">
          Finding the MAC address of your Xbox
        </a>
  </p>
    </div>
    <div id='collapse200430' class="panel-collapse  collapse">
      <div class="panel-body">
        <ol class="ol1">
<li class="li3">If your Xbox has a disk in it, remove it.</li>
<li class="li3">Power on the Xbox.</li>
<li class="li3">Select Settings.</li>
<li class="li3">Select Network Settings. At the bottom right corner you will see the MAC address.</li>
</ol>
      </div>
    </div>
</div>
</div>
<a id="d.en.200431"></a>

<div class='tinyMCE col-xs-12 col-sm-12 col-md-12 col-lg-12'>
<div class="panel panel-default">
    <div class="panel-heading">
      <p class='panel-title'> 
        <a data-toggle="collapse" href='#collapse200431' class="collapsed">
          Finding the MAC address of your Xbox 360
        </a>
  </p>
    </div>
    <div id='collapse200431' class="panel-collapse  collapse">
      <div class="panel-body">
        <ol class="ol1">
<li class="li3">Select the System tab in the Xbox dashboard.</li>
<li class="li3">Select Network Settings.</li>
<li class="li3">Select Edit Settings.</li>
<li class="li3">Go to Additional Settings and select Advanced Settings. At the bottom of the screen you will see the Wired MAC Address.</li>
</ol>
      </div>
    </div>
</div>
</div>
<a id="d.en.200432"></a>

<div class='tinyMCE col-xs-12 col-sm-12 col-md-12 col-lg-12'>
<div class="panel panel-default">
    <div class="panel-heading">
      <p class='panel-title'> 
        <a data-toggle="collapse" href='#collapse200432' class="collapsed">
          Finding the MAC address of your Xbox One
        </a>
  </p>
    </div>
    <div id='collapse200432' class="panel-collapse  collapse">
      <div class="panel-body">
        <ol class="ol1">
<li class="li3">Select the System tab in the Xbox dashboard.</li>
<li class="li3">Select Network Settings.</li>
<li class="li3">Select Edit Settings.</li>
<li class="li3">Go to Additional Settings and select Advanced Settings. At the bottom of the screen you will see the Wired MAC Address.</li>
</ol>
      </div>
    </div>
</div>
</div>
<div style="clear:both"></div>
</div><!--.row-->
</div><!-- end main content area-->{% include_relative _includes/survey.html %}
{% include_relative _includes/footer.html %}
</div>
</body>
</html><hr>

<p>&nbsp;</p>
<p>&nbsp;</p>


<div class="well">
<p class="lead">Answer three questions to help us improve your experience</p>

<iframe name="confirm" id="confirm" style="display:none;" onload="if(typeof sent_confirm!='undefined'){window.location='https://googledrive.com/host/0B5e4Smfyuda_dEJRRlZ1UmhSTGM/thank-you-webex.html';}"></iframe>
<form action="https://docs.google.com/forms/d/1XYrNCfwy4w_Cx_k7FkaTN5LhYN8e2920DOna_n7l-jQ/formResponse" method="POST" id="ss-form" target="confirm" onsubmit="sent_confirm=true">

    <div class="form-group">
  		<p><label>Would you recommend WebEx to a colleague or friend? *</label><br>
    		<select class="form-control" name="entry.535955540" id="entry_535955540" placeholder="Yes">
    		<option selected disabled hidden value=''></option>
    		<option value="Yes">Yes</option> 
    		<option value="No">No</option>
  		</select></p>

  		<p><label>Do the included instructions lead naturally to an expected outcome? *</label><br>
    		<select class="form-control" name="entry.1059610721" id="entry_1059610721" placeholder="Yes">
    		<option selected disabled hidden value=''></option>
    		<option value="Yes">Yes</option> 
    		<option value="No">No</option>
  		</select></p>

  		<p><label>Are the included instructions clear and understandable? *</label><br>
    		<select class="form-control" name="entry.1188770357" id="entry_1188770357" placeholder="Yes">
    		<option selected disabled hidden value=''></option>
    		<option value="Yes">Yes</option> 
    		<option value="No">No</option>
  		</select></p>

  		<p><label>Feedback</label><br>
  		<textarea name="entry.1986528048" class="form-control" rows="3" id="entry_1986528048" placeholder="Survey responses are anonymous. So if you want personal followup, add your contact information here."></textarea></p>
		<p>&nbsp;</p>
		<button type="submit" name="submit" value="Submit" id="ss-submit" class="btn btn-primary">Submit response</button>
		</form>
	</div>
</div>


<hr>

<div class="pull-right">
<p>&copy; 2015, Case Western Reserve University</p>
</div>
<div class="clearfix"></div>

</div>
</body>
</html>