<!DOCTYPE html>
<html lang="en">
<head>
{% include_relative _includes/header.html %}

</head>
<body>
<div class="container"><span><!-- navigation object : Page Name template -->ITS KBA 102342 Purchasing Online Class</span>
</section>
</div>
</div>
  
<div class='displayNone'><!-- navigation object : Breadcrumbs hidden template -->
  <div class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- navigation object : Home Link template --><a href='SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27574'><img src='https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1174088517' alt="Go to Home" /></a><!-- navigation object : Breadcrumbs Template --> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=27574&amp;chid=144&amp;lang=en">ITS</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=41906&amp;chid=144&amp;lang=en">ITS Development</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67312&amp;chid=144&amp;lang=en">rpretzer</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67341&amp;chid=144&amp;lang=en">KBA</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67437&amp;chid=144&amp;lang=en">ITS KBA 102342 Purchasing Online Class</a>
  </div><!-- .breadcrumb -->
</div>
  
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-col">
    
    <div class="row"><a id="d.en.200537"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200537"></a>
<h2>Introduction to Purchasing at CWRU</h2>
  

  
<p>If you need to manage requisitions (create or approve), or to create payment requests using PeopleSoft Financials you'll need to&nbsp;<a href="http://www.case.edu/fin" target="_blank">submit a security form</a>&nbsp;and complete training.</p>
</div>
<a id="d.en.200539"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200539"></a>
<h3>How to access training</h3>
  

  
<ol>
<li>Classroom &ndash; Find&nbsp;available classes and register.</li>
<li>Online &ndash; Visit&nbsp;<a class="a" href="http://connect.case.edu/" target="_blank">connect.case.edu&nbsp;</a>and log in with your CWRU Network ID and password. Choose <strong>Purchasing at CWRU from A to Z</strong> from the Training Catalog and to complete the online training and take the quiz.</li>
</ol>
</div>
<a id="d.en.200540"></a>


<div class='tinyMCE   col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200540"></a>
<h3>Questions?</h3>
  

  
<p>Contact the Service Desk at&nbsp;216.368.HELP (4357) for help with Online Training.&nbsp;<span>Or for assistance with classroom registration email&nbsp;</span><a class="a" href="mailto:caps@case.edu" target="_blank">caps@case.edu</a><span>.</span></p>
</div>
<div style="clear:both"></div>
</div><!--.row-->
</div><!-- end main content area-->{% include_relative _includes/survey.html %}
{% include_relative _includes/footer.html %}
</div>
</body>
</html>