<!DOCTYPE html>
<html lang="en">
<head>
{% include_relative _includes/header.html %}

</head>
<body>
<div class="container"><span><!-- navigation object : Page Name template -->ITS KBA 91464 Rave FAQ</span>
</section>
</div>
</div>
  
<div class='displayNone'><!-- navigation object : Breadcrumbs hidden template -->
  <div class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- navigation object : Home Link template --><a href='SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27574'><img src='https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=337705618' alt="Go to Home" /></a><!-- navigation object : Breadcrumbs Template --> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=27574&amp;chid=144&amp;lang=en">ITS</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=41906&amp;chid=144&amp;lang=en">ITS Development</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67312&amp;chid=144&amp;lang=en">rpretzer</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67341&amp;chid=144&amp;lang=en">KBA</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67441&amp;chid=144&amp;lang=en">ITS KBA 91464 Rave FAQ</a>
  </div><!-- .breadcrumb -->
</div>
  
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-col">
    
    <div class="row"><a id="d.en.200556"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200556"></a>
<h3>Rave Alert System – Frequently Asked Questions</h3>
  

  
<p>Click on the question to view the topic. To update your user profile or opt-out of Rave, go to <a class="s1" href="http://www.getrave.com/" target="_blank">www.getrave.com </a>and log in with your CWRU Network ID and password.</p>
<p>You can update your Rave profile from a mobile phone browser if desired.</p>
<p><a href="#whatis">What is Rave?</a></p>
<p><a href="#setup">Where do I find instructions for setting up my Rave user profile?</a></p>
<p><a href="#loginsis">When I log in to SIS, I receive a "pop-up" Mobile Phone Alert Message. How do I update my mobile number in Rave?</a></p>
<table align="center" border="0" cellpadding="2" cellspacing="2" style="width: 55%;">
<tbody>
<tr>
<td><span class='fig-img-' style="width: 90%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=735824344"  /></span></td>
</tr>
</tbody>
</table>
<p>&zwnj;</p>
<p><a href="#confirmation">I did not receive the Confirmation code text message after adding my mobile number, what should I do?</a></p>
<p><a href="#voiceonly">What are Voice Only Line Contacts?</a></p>
<p><a href="#preferred">If my CWRU email address is listed in Rave, why do I need to add a "Preferred" email address?</a></p>
<p><a href="#charged">Will I be charged for Rave text messages?</a></p>
<p><a href="#eyewitness">What is the EyeWitness Tip line and how do I text a tip?</a></p>
<p><a href="#optout">What does it mean to Opt-out of Rave alerts?</a></p>
<p><a href="#howoptout">How do I opt-out of receiving text messages on my mobile phone?</a></p>
<h4><a id="whatis"></a>What is Rave?</h4>
<p>Rave alerts are minimal, rapid notifications which are sent to the cell and/or home telephone numbers for students, faculty and staff. In addition to sending text messages, the Rave alert system will also deliver email and voice messages. Rave has replaced the WARN system and will be used in the case of imminent danger, serious threat to the campus community or any major campus emergency situation. Rave will also be used to notify the CWRU community of campus closings due to severe weather.</p>
<p>Rave is an opt-out type system, not an opt-in type. All personnel that would generally be on campus will be automatically added to the Rave system which includes (but is not limited to) students, faculty, CWRU employees, temporary/contract employees, hospital employees (University Hospital, Metro Health), University Circle Incorporated and affiliates (Cleveland Institute of Art, Cleveland Institute of Music) and the Board of Trustees. Anyone previously enrolled in the WARN system will automatically have their information migrated into the Rave system.</p>
<h4><a id="setup"></a>Where do I find instructions for setting up my Rave user profile?</h4>
<p>Refer to the User Profile Setup Instructions here: <a class="s1" href="http://www.case.edu/its/help/service.html?id=111" target="_blank">help.case.edu &gt; Security &gt; Rave</a>.</p>
<h4><a id="loginsis"></a>When I log into SIS, I receive a "pop-up" Mobile Phone Alert Message. How do I update my mobile number in Rave?</h4>
<p class="s3">The campus Emergency Management team would like all students to have a cellular phone contact number listed in the Rave system. You will receive a pop-up message in SIS until you complete the steps to update your contact information:</p>
<ol>
<li>Navigate to <a class="s1" href="http://www.getrave.com/" target="_blank">www.getrave.com </a>and log in from the Single Sign-On page with your CWRU Network ID and password.</li>
<li>Add a mobile contact number to the <strong>My Account </strong>page and follow the steps to complete the confirmation process. <strong>Note</strong>: Users without a mobile contact number can enter 999-999-9999.</li>
</ol>
<h4><a id="confirmation"></a>I did not receive the Confirmation code text message after adding my mobile number, what should I do?</h4>
<p>After adding your mobile phone number from the <strong>My Account </strong>tab, Rave will send a text message including a 4-digit confirmation code, which is used to verify your wireless number and carrier. Confirmation codes will only be sent to your primary Rave mobile number. If you do not receive the code within several minutes:</p>
<ol>
<li>Use the <strong>Resend Confirmation Code </strong>button from the <em>Mobile Contact &gt; Enter Confirmation Code </em>page.</li>
<li>Use the <strong>Edit </strong>button to verify your mobile number and carrier entries are correct.</li>
</ol>
<p class="s6">Failure to receive a confirmation code during mobile registration may be due to a premium messaging block placed by your carrier. If you do not receive the code, please contact your carrier and ask to have messages from short code 67283 and 226787 delivered to your mobile device.</p>
<h4><a id="voiceonly"></a>What are Voice Only Line Contacts?</h4>
<p>The Rave system can send a recorded voice message to your Voice Only Line Contact number in addition to broadcast alert text messages. You can add up to 3 voice only line contacts.</p>
<h4><a id="preferred"></a>If my CWRU email address is listed in Rave, why do I need to add a "Preferred" email address?</h4>
<p>Specifying a Preferred email address allows the delivery of Rave alerts to an alternate account in the event that CWRU email services are unavailable. You can add up to 3 Preferred email addresses. <strong>Note</strong>: Please do not use a CWRU alias email address for this purpose.</p>
<h4><a id="charged"></a>Will I be charged for Rave text messages?</h4>
<p>There are no extra charges for calls or text messages from the Rave Alert system. However, a text message sent from Rave to your personal cell phone is subject to the conditions and rates of your particular calling plan. You may incur a charge for text messages received if your plan does not include or has exhausted text message minutes. Rave mobile alerts are brief and will occur infrequently. Messages will only be sent during emergency situations and periodically to test the system.</p>
<h4><a id="eyewitness"></a>What is the EyeWitness tip line and How do I text a tip?</h4>
<p>The EyeWitness program enables the CWRU community to be the eyes and ears of campus safety. You can send a tip to the CWRU Police and Security Dispatch office using the text messaging function on your phone or other mobile device.</p>
<p>All messages must be sent to 67283 and begin with <strong>CWRUtip(space) </strong>to be properly received. Once the tip is submitted, the dispatch office can respond to interact with the user, follow-up to get more information and dispatch an officer to the scene if needed.</p>
<p>Eyewitness tips are anonymous, however, it is encouraged that users include a contact number or other details to aid dispatchers, particularly in the case of an emergency tip. CWRU reserves the right to access tip information, which may include the phone number associated with the tip; when necessary for criminal investigations and prosecutions, life threatening emergencies, and to investigate abuse of the Eyewitness security system.</p>
<h4><a id="optout"></a>What does it mean to Opt-out of Rave Alerts?</h4>
<p>Participating in the Rave Alert emergency notification system is voluntary. However, because it is an important campus safety feature, all students, faculty and staff members are urged to participate in the program. If a member decides not to participate, he / she must positively indicate this by utilizing the Rave opt-out option. Opting out is available only for text messages to a student, faculty, or staff member&rsquo;s personal cell phone or email messages to a personal email account. You may not opt-out of emails to university accounts or text messages to university-provided cell phones. <span>Users who choose to opt-out will receive no Emergency Broadcast Alert messages from the university.</span></p>
<h4><a id="howoptout"></a>How do I opt out of receiving text messages on my mobile phone?</h4>
<p>To opt-out of mobile phone text messages, you can delete the number from your Rave profile at <a class="s1" href="http://www.getrave.com/" target="_blank">www.getrave.com </a>or text STOP to 67283 or 226787 from your registered mobile phone. You will no longer receive any messages from the Rave Alert system. <span>Use the STOP command with caution, as this will block delivery of all Emergency Broadcast Alert messages.</span></p>
</div>
<div style="clear:both"></div>
</div><!--.row-->
</div><!-- end main content area-->
{% include_relative _includes/survey.html %}
{% include_relative _includes/footer.html %}
</div>
</body>
</html>