<!DOCTYPE html>
<html lang="en">
<head>
{% include_relative _includes/header.html %}

</head>
<body>
<div class="container"><span><!-- navigation object : Page Name template -->ITS KBA 78812 Residential Data Network</span>
</section>
</div>
</div>
  
<div class='displayNone'><!-- navigation object : Breadcrumbs hidden template -->
  <div class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- navigation object : Home Link template --><a href='SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27574'><img src='https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=437808165' alt="Go to Home" /></a><!-- navigation object : Breadcrumbs Template --> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=27574&amp;chid=144&amp;lang=en">ITS</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=41906&amp;chid=144&amp;lang=en">ITS Development</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67312&amp;chid=144&amp;lang=en">rpretzer</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67341&amp;chid=144&amp;lang=en">KBA</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67494&amp;chid=144&amp;lang=en">ITS KBA 78812 Residential Data Network</a>
  </div><!-- .breadcrumb -->
</div>
  
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-col">
    
    <div class="row"><a id="d.en.200781"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200781"></a>
<h3>Residential Data Network</h3>
  

  
<p>Students in residence halls at Case Western Reserve University can access the Internet at speeds of up to one Gigabit per second (Gbps) thanks to the installation of the National Lambda Rail (NLR). The residence halls' connection to the NLR is conveniently separate from the connection provided by OneCommunity to the rest of the campus, which means that the traffic from either source won't create interference for the other.</p>
<p>Founded and funded by the U.S. research and education community, this super high- speed connection does not restrict users' usage or bandwidth. The NLR's powerful service, currently expandable up to 10 Gbps with the potential to reach 100 Gbps, is used not only by universities and research institutions, but also by NASA and the U.S. Department of Energy. Over 280 leading research universities and U.S. government laboratories use NLR as the platform for cutting-edge research and innovation in disciplines as diverse as atmospheric research, biomedicine, ecology, network science and physics. The NLR gives the residential students at Case Western Reserve unprecedented opportunities to connect and collaborate with other NLR institutions and students around the world.</p>
</div>
<div style="clear:both"></div>
</div><!--.row-->
</div><!-- end main content area-->
{% include_relative _includes/survey.html %}
{% include_relative _includes/footer.html %}
</div>
</body>
</html>