<!DOCTYPE html>
<html lang="en">
<head>
{% include_relative _includes/header.html %}

</head>
<body>
<div class="container"><span><!-- navigation object : Page Name template -->ITS KBA 91479 Rave Voice Phone</span>
</section>
</div>
</div>
  
<div class='displayNone'><!-- navigation object : Breadcrumbs hidden template -->
  <div class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- navigation object : Home Link template --><a href='SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27574'><img src='https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1349158019' alt="Go to Home" /></a><!-- navigation object : Breadcrumbs Template --> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=27574&amp;chid=144&amp;lang=en">ITS</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=41906&amp;chid=144&amp;lang=en">ITS Development</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67312&amp;chid=144&amp;lang=en">rpretzer</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67341&amp;chid=144&amp;lang=en">KBA</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67473&amp;chid=144&amp;lang=en">ITS KBA 91479 Rave Voice Phone</a>
  </div><!-- .breadcrumb -->
</div>
  
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-col">
    
    <div class="row"><a id="d.en.200692"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200692"></a>
<h3>RAVE: Adding Voice Phone</h3>
  

  
<h4>Procedure</h4>
<p>If available, your CWRU phone number will be in the Voice Only Line Contacts section. You may add up to 3 additional phone numbers.</p>
<p>&nbsp;<span class='fig-img-left' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1110744074"  /></span></p>
<p>&nbsp;</p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p class="s1"><strong>Step</strong></p>
</td>
<td>
<p class="s1"><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s2">1.</p>
</td>
<td>
<p class="s2">Click the <span class="s3">Add </span>link.</p>
<p>&nbsp;<span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=2050531493"  /></span></p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;<span class='fig-img-left' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1679334818"  /></span></p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p class="s1"><strong>Step</strong></p>
</td>
<td>
<p class="s1"><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s2">2.</p>
</td>
<td>
<p class="s2">Enter the phone number into the <span class="s3">Phone Number </span>field. It may be entered with or without dashes. Leave the Extension field blank.</p>
</td>
</tr>
<tr>
<td>
<p class="s2">3.</p>
</td>
<td>
<p class="s2">Click the <span class="s3">Save </span>link.</p>
<p><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=169271076"  /></span>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p><span class='fig-img-left' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=565237644"  /></span>&nbsp;</p>
<p>&nbsp;</p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p class="s1"><strong>Step</strong></p>
</td>
<td>
<p class="s1"><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s2">4.</p>
</td>
<td>
<p class="s2">The new number appears in the Voice Online Line Contacts section. Using the buttons next to the number you may edit or delete.</p>
<p>&nbsp;<span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1368080788"  /></span></p>
</td>
</tr>
<tr>
<td>
<p class="s2">5.</p>
</td>
<td>
<p class="s2">This completes how to enter your voice only number in the Rave system.</p>
<p><span class="s4">End </span><span class="s4">of </span><span class="s4">Procedure.</span></p>
</td>
</tr>
</tbody>
</table>
</div>
<div style="clear:both"></div>
</div><!--.row-->
</div><!-- end main content area-->{% include_relative _includes/survey.html %}
{% include_relative _includes/footer.html %}
</div>
</body>
</html>