<!DOCTYPE html>
<html lang="en">
<head>
{% include_relative _includes/header.html %}

</head>
<body>
<div class="container"><span><!-- navigation object : Page Name template -->ITS KBA 84774 Register Non CWRU Email</span>
</section>
</div>
</div>
  
<div class='displayNone'><!-- navigation object : Breadcrumbs hidden template -->
  <div class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- navigation object : Home Link template --><a href='SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27574'><img src='https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=430183087' alt="Go to Home" /></a><!-- navigation object : Breadcrumbs Template --> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=27574&amp;chid=144&amp;lang=en">ITS</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=41906&amp;chid=144&amp;lang=en">ITS Development</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67312&amp;chid=144&amp;lang=en">rpretzer</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67341&amp;chid=144&amp;lang=en">KBA</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67459&amp;chid=144&amp;lang=en">ITS KBA 84774 Register Non CWRU Email</a>
  </div><!-- .breadcrumb -->
</div>
  
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-col">
    
    <div class="row"><a id="d.en.200629"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200629"></a>
<h3>Registering a non-CWRU Email Address</h3>
  

  
<p>While an off-campus email address is not required, it is helpful in the event your password and security question are forgotten, providing ITS with an alternate method of sending password reset information to you. An alternate email address can be submitted during the <span>CWRU ID activation process </span>or through the Off-Campus Email Tool.</p>
<p>If you have already activated your CWRU ID but do not have an alternate email address on file, you may enter one by visiting&nbsp;<a href="https://its-serv2.case.edu/my-case-identity/external-email/index.cgi" target="_blank">its-serv2.case.edu/my-case-identity/external-email/index.cgi</a></p>
<ol id="l1">
<li>Enter the desired alternate email address and click, "<strong>Enter my Address</strong>."<br /><span class='fig-img-' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1091296476"  /></span></li>
<li>If the email address entered is correct, click, "<strong>Please email me a verify link</strong>."<br /><span class='fig-img-' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1038989063"  /></span></li>
<li>You will receive an email from Case Network ID Administrator to the email address that you provided. Before associating the off-campus email with your account at Case Western Reserve University, you must verify the off-campus address by clicking the link within the verification email.<br /><span class='fig-img-' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1563869165"  /></span></li>
<li>After clicking the link, you will receive a message indicating that your email address has been verified.</li>
</ol>
</div>
<div style="clear:both"></div>
</div><!--.row-->
</div><!-- end main content area-->{% include_relative _includes/survey.html %}
{% include_relative _includes/footer.html %}
</div>
</body>
</html>