<!DOCTYPE html>
<html lang="en">
<head>
{% include_relative _includes/header.html %}

</head>
<body>
<div class="container"><span><!-- navigation object : Page Name template -->ITS KBA 91476 Rave User Profile</span>
</section>
</div>
</div>
  
<div class='displayNone'><!-- navigation object : Breadcrumbs hidden template -->
  <div class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- navigation object : Home Link template --><a href='SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27574'><img src='https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=17145522' alt="Go to Home" /></a><!-- navigation object : Breadcrumbs Template --> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=27574&amp;chid=144&amp;lang=en">ITS</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=41906&amp;chid=144&amp;lang=en">ITS Development</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67312&amp;chid=144&amp;lang=en">rpretzer</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67341&amp;chid=144&amp;lang=en">KBA</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67401&amp;chid=144&amp;lang=en">ITS KBA 91476 Rave User Profile</a>
  </div><!-- .breadcrumb -->
</div>
  
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-col">
    
    <div class="row"><a id="d.en.200277"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200277"></a>
<h3>Rave Alert User Profile Setup</h3>
  

  
<p>These instructions explain how to set up your Rave user profile to receive text, voice and email alerts.</p>
<h4>Procedure</h4>
<p>To begin, access your Rave profile at <a class="a" href="http://www.getrave.com/" target="_blank">www.getrave.com</a></p>
<p style="text-align: center;"><span class='fig-img-' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=2051211234"  /></span></p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p><strong>Step</strong></p>
</td>
<td>
<p><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s3">1.</p>
</td>
<td>
<p class="s3">From the Single Sign-On page, enter your CWRU Network ID and password and then click the <span class="s4">Login </span>button.</p>
<p>&nbsp;<span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=81023504"  /></span></p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;">&nbsp;<span class='fig-img-' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=45680518"  /></span></p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p><strong>Step</strong></p>
</td>
<td>
<p><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s3">2.</p>
</td>
<td>
<p class="s3">If the Rave Mobile Safety log in page appears, type in "<span class="s5">case</span>" to bring up CWRU on the drop down list.</p>
</td>
</tr>
<tr>
<td>
<p class="s3">3.</p>
</td>
<td>
<p class="s3">Click the <span class="s4">Case Western Reserve University </span>menu entry to select it.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=287302543"  /></span></p>
</td>
</tr>
<tr>
<td>
<p class="s3">4.</p>
</td>
<td>
<p class="s3">Click the <span class="s4">Continue </span>button.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1019947771"  /></span></p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;">&nbsp;<span class='fig-img-' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1861444750"  /></span></p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p><strong>Step</strong></p>
</td>
<td>
<p><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s3">5.</p>
</td>
<td>
<p class="s3">The <strong>Terms of Use </strong>page appears. You can use the scroll bar to the right of the text to view the service agreement information.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=230164596"  /></span></p>
</td>
</tr>
<tr>
<td>
<p class="s3">6.</p>
</td>
<td>
<p class="s3">Click the <span class="s4">I have read and agree to the Rave Terms of Use </span>check box to indicate that you agree to the Rave terms of service.</p>
<p>&nbsp;<span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=764670564"  /></span></p>
</td>
</tr>
<tr>
<td>
<p class="s3">7.</p>
</td>
<td>
<p class="s3">Click the <span class="s4">Submit </span>button.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=841502484"  /></span></p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;">&nbsp;<span class='fig-img-' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1758735662"  /></span></p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p><strong>Step</strong></p>
</td>
<td>
<p><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s3">8.</p>
</td>
<td>
<p class="s3">Your <span class="s6">Rave</span><span class="s7">Alert </span>profile page will appear. You can edit profile details from the <span class="s4">My Account </span>tab.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1336296720"  /></span></p>
</td>
</tr>
<tr>
<td>
<p class="s3">9.</p>
</td>
<td>
<p class="s3">Click the <span class="s4">Edit </span>button next to your name to begin.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=2112921060"  /></span></p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;">&nbsp;<span class='fig-img-' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1652134367"  /></span></p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p><strong>Step</strong></p>
</td>
<td>
<p><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s3">10.</p>
</td>
<td>
<p class="s3">From the <strong>User Profile </strong>page you can edit the <span class="s4">First/Last Name </span>fields and select either <span class="s4">English </span>or <span class="s4">Spanish </span>as your preferred alert language from the drop down list.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1656980625"  /></span></p>
</td>
</tr>
<tr>
<td>
<p class="s3">11.</p>
</td>
<td>
<p class="s3">When finished, click the <span class="s4">Submit </span>button.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1337082312"  /></span></p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;">&nbsp;<span class='fig-img-' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1325872572"  /></span></p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p><strong>Step</strong></p>
</td>
<td>
<p><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s3">12.</p>
</td>
<td>
<p class="s3">You will receive a banner message stating: <span class="s4">Success: User Profile successfully updated</span>.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=2043349977"  /></span></p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;">&nbsp;<span class='fig-img-' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1326049297"  /></span></p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p><strong>Step</strong></p>
</td>
<td>
<p><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s3">13.</p>
</td>
<td>
<p class="s3">The Rave system will accept up to 3 mobile phone numbers to which Short Message Service (SMS) text alerts can be sent.</p>
<p class="s3">If you have not previously registered a mobile phone, you will receive the following banner message: <span class="s4">To take full advantage of this service, you must add at least one Mobile Contact</span>.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=887913935"  /></span></p>
</td>
</tr>
<tr>
<td>
<p class="s3">14.</p>
</td>
<td>
<p class="s3">Click the <span class="s4">Register Phone </span>button that appears on the right of the banner message.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1741829693"  /></span></p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;">&nbsp;<span class='fig-img-' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=121093398"  /></span></p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p><strong>Step</strong></p>
</td>
<td>
<p><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s3">15.</p>
</td>
<td>
<p class="s3">Enter your <span class="s4">10-Digit Mobile Number </span>in the field provided.</p>
<p>&nbsp;<span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=2139519679"  /></span></p>
</td>
</tr>
<tr>
<td>
<p class="s3">16.</p>
</td>
<td>
<p class="s3">The <span class="s4">Enable Voice Message Delivery </span>option is selected by default and will allow you receive voice message alerts in addition to text messages.</p>
<p class="s3">If you wish to receive text messages only, then click the check box to deselect this option.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1914173251"  /></span></p>
</td>
</tr>
<tr>
<td>
<p class="s3">17.</p>
</td>
<td>
<p class="s3">Click the <span class="s4">Continue </span>button.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=271861665"  /></span></p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;">&nbsp;<span class='fig-img-' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1547997658"  /></span></p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p><strong>Step</strong></p>
</td>
<td>
<p><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s3">18.</p>
</td>
<td>
<p class="s3">Select your cell provider from the <strong>Confirm your carrier </strong>drop down list.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=484695904"  /></span></p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;">&nbsp;<span class='fig-img-' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=697443503"  /></span></p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p><strong>Step</strong></p>
</td>
<td>
<p><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s3">19.</p>
</td>
<td>
<p class="s3">Click the <span class="s4">Continue </span>button when finished.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=608389288"  /></span></p>
</td>
</tr>
</tbody>
</table>
<p><span class='fig-img-' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1655338742"  /></span>&nbsp;</p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p><strong>Step</strong></p>
</td>
<td>
<p><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s3">20.</p>
</td>
<td>
<p class="s3">Check your mobile phone for a text message from 226787 or 67283:</p>
<p class="s2">cwru: Your confirmation code is 8717. Reply w/ Help for Help, Stop to Cancel. Msg &amp; data rates may apply. Info: <span>getrave.com</span>.</p>
<p class="s3">Enter your <span class="s4">Confirmation code </span>into the field provided.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1886440983"  /></span></p>
<p class="s5"><strong>Note</strong>: <span class="s9">Failure to receive a confirmation code during mobile registration may be due to a premium messaging block placed by your carrier. If you do not receive the code, please contact your carrier and ask to have messages from short codes 67283 and 226787 delivered to your mobile device.</span></p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;">&nbsp;<span class='fig-img-' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=2069044676"  /></span></p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p><strong>Step</strong></p>
</td>
<td>
<p><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s3">21.</p>
</td>
<td>
<p class="s3">You can use the <span class="s4">Resend Confirmation Code </span>button to try again (if needed).<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=418826327"  /></span></p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;">&nbsp;<span class='fig-img-' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=118921042"  /></span></p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p class="s2">Step</p>
</td>
<td colspan="5">
<p class="s2">Action</p>
</td>
</tr>
<tr>
<td>
<p class="s3">22.</p>
</td>
<td>
<p class="s3">When your mobile number has been succesfully added to the contacts list, click the <span class="s4">Done </span>button.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1518013644"  /></span><br /><span style="line-height: 1.428571429; background-color: transparent;">&nbsp;</span></p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;"><span class='fig-img-' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=363073677"  /></span>&nbsp;</p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p><strong>Step</strong></p>
</td>
<td>
<p><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s3">23.</p>
</td>
<td>
<p class="s3">Your mobile phone number will now show as <strong>Confirmed </strong>on the My Account page.</p>
<p><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=298344570"  /></span>&nbsp;</p>
</td>
</tr>
<tr>
<td>
<p class="s3">24.</p>
</td>
<td>
<p class="s3">Use the <span class="s4">+Add </span>button to add more up to 2 more numbers.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=117992866"  /></span></p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;<span class='fig-img-' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=116082157"  /></span></p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p><strong>Step</strong></p>
</td>
<td>
<p><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s3">25.</p>
</td>
<td>
<p class="s3">Use the <span class="s4">Test </span>button to generate a test text message from the Rave system.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=129660019"  /></span></p>
</td>
</tr>
<tr>
<td>
<p class="s3">26.</p>
</td>
<td>
<p class="s3">Use the <span class="s4">Edit </span>button to edit existing numbers.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=2083924389"  /></span></p>
</td>
</tr>
<tr>
<td>
<p class="s3">27.</p>
</td>
<td>
<p class="s3">Use the <span class="s4">Delete </span>button to remove a number.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1572885185"  /></span></p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;">&nbsp;<span class='fig-img-' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1652506388"  /></span></p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p><strong>Step</strong></p>
</td>
<td>
<p><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s3">28.</p>
</td>
<td>
<p class="s2">Note for Students<span class="s3">: If you do not have a cellular contact number, you can enter 999-999-9999.</span></p>
<p class="s3">You must use the <span class="s4">Cancel </span>button from the confirmation screen to skip the confirmation process since there is no number to verify.</p>
<p class="s3">Even though the 999-999-9999 number is not confirmed, it will still clear the pop-up message you receive when logging in to SIS.</p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;">&nbsp;<span class='fig-img-' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=282696556"  /></span></p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p><strong>Step</strong></p>
</td>
<td>
<p><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s3">29.</p>
</td>
<td>
<p class="s3">You can use the <strong>Voice Only Line Contact </strong>function to add a contact number to receive <strong>Voice Messages Only</strong>.</p>
<p class="s3">Click the <span class="s4">+Add </span>button.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1566241574"  /></span></p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;">&nbsp;<span class='fig-img-' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=619103753"  /></span></p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p><strong>Step</strong></p>
</td>
<td>
<p><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s3">30.</p>
</td>
<td>
<p class="s3">Enter the <span class="s4">Phone Number </span>in field provided.</p>
</td>
</tr>
<tr>
<td>
<p class="s3">31.</p>
</td>
<td>
<p class="s3">Click the <span class="s4">Save </span>button.</p>
<p>&nbsp;<span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=2092968112"  /></span></p>
<p class="s2"><strong>Note</strong><span class="s3">: There is no confirmation process for Voice Only Line Contact numbers.</span></p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;">&nbsp;<span class='fig-img-' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=558710122"  /></span></p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p><strong>Step</strong></p>
</td>
<td>
<p><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s3">32.</p>
</td>
<td>
<p class="s3">Rave will accept up to 3 email addresses. We recommend that you add at least one address that is not affiliated with CWRU.</p>
<p class="s2">Note<span class="s3">: Please do not use CWRU alias email addresses for this purpose.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=21424845"  /></span><br /></span></p>
</td>
</tr>
<tr>
<td>
<p class="s3">33.</p>
</td>
<td>
<p class="s3">The <strong>Registration email </strong>field displays your CWRU email address.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1906960660"  /></span></p>
</td>
</tr>
<tr>
<td>
<p class="s3">34.</p>
</td>
<td>
<p class="s3">Click the <span class="s4">+Add </span>button.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=897398786"  /></span></p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;">&nbsp;<span class='fig-img-' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=2062197720"  /></span></p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p><strong>Step</strong></p>
</td>
<td>
<p><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s3">35.</p>
</td>
<td>
<p class="s3">Enter your off-campus email address into the <span class="s4">Preferred Email</span> contact field.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=113309126"  /></span></p>
</td>
</tr>
<tr>
<td>
<p class="s3">36.</p>
</td>
<td>
<p class="s3">Click the <span class="s4">Save </span>button.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1613555576"  /></span></p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;">&nbsp;<span class='fig-img-' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=614359107"  /></span></p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p><strong>Step</strong></p>
</td>
<td>
<p><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s3">37.</p>
</td>
<td>
<p class="s3">You can use the <span class="s4">Test </span>button to send a test message to your Registration <span class="s3">or </span>Preferred <span class="s3">email accounts.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1734310168"  /></span><br /></span></p>
</td>
</tr>
<tr>
<td>
<p class="s3">38.</p>
</td>
<td>
<p class="s3">Click the <span class="s4">Edit </span>button to edit an existing address.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1448587453"  /></span></p>
</td>
</tr>
<tr>
<td>
<p class="s3">39.</p>
</td>
<td>
<p class="s3">Click the <span class="s4">Delete </span>button to remove an existing address.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=2077412820"  /></span></p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;">&nbsp;<span class='fig-img-' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1558611210"  /></span></p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p><strong>Step</strong></p>
</td>
<td>
<p><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s3">40.</p>
</td>
<td>
<p class="s3">The Rave system will generate a test message from <em>no-reply at getrave.com </em>to confirm your email address:</p>
<p class="s10">Dear FirstName,</p>
<p class="s10">This is the test message you requested. Case Western Reserve University is now able to reach you at this address.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=698709177"  /></span></p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;"><span class='fig-img-' style="width: 100%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=755878962"  /></span>&nbsp;</p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p><strong>Step</strong></p>
</td>
<td>
<p><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s3">41.</p>
</td>
<td>
<p class="s3">Click the <span class="s4">Log Out </span>link to exit.<br /><span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=5507939"  /></span></p>
</td>
</tr>
<tr>
<td>
<p class="s3">42.</p>
</td>
<td>
<p><span class="s11">End of Procedure.</span></p>
</td>
</tr>
</tbody>
</table>
</div>
<div style="clear:both"></div>
</div><!--.row-->
</div><!-- end main content area-->{% include_relative _includes/survey.html %}
{% include_relative _includes/footer.html %}
</div>
</body>
</html>