<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
 	<meta http-equiv="X-UA-Compatible" content="IE=edge">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

		<style>
		h2 { padding-top: 30px; }
		h3 { padding-top: 20px; }
		</style>

	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container"><!DOCTYPE html>
<html lang="en">
<head>
{% include_relative _includes/header.html %}

</head>
<body>
<div class="container"><h3>Safe Ride Program</h3>
  

  
<h4>Concept<span class='fig-img-right' style="width: 45%;margin: 2;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=534162573" alt="CAR" /></span></h4>
<p>In accordance with the Case Western Reserve University commitment to sustaining campus safety, the CWRU Department of Police and Security has implemented the Safe Ride program. Safe Ride will provide transportation across campus, as well as University Circle, between the hours of 7 p.m. and 3 a.m. daily. Anyone with a valid CWRU ID can use this service and will be transported in a specially marked security van within the destination boundaries noted on the service map (refer to Figure 1.0). Additionally, Safe Ride can provide a lift- equipped vehicle for anyone that may need these specific transportation requirements.</p>
<p>The CWRU Safe Ride program uses a computerized dispatch tool to improve pick-up and drop-off efficiency. The user can now schedule rides automatically without having to wait for an available dispatcher to setup the transportation run. Previous trip routes are saved and the last route travelled will auto-populate each time a new ride is requested. The Safe Ride system also allows the user to track the driver&rsquo;s status and location.</p>
<p>The Safe Ride system can be accessed from the internet and by smartphone at the following URL: <a class="a" href="http://saferide.case.edu/" target="_blank">saferide.case.edu</a>. Users can also schedule a ride request or speak directly with a dispatcher by dialing the Interactive Voice Response System (IVRS) at 216.368.3000.</p>
<p><strong>Usage Notes:</strong> The Safe Ride system is to be used by individuals who possess a valid CWRU ID and will only provide transportation within the designated service boundaries (Figure 1.0). Once a ride is scheduled, the user is expected to remain at the pickup point until the driver has arrived. If the user makes alternate arrangements and no longer requires a ride, then the direct line to dispatch should be used to cancel the request: 216.368.3000. Repeated "no shows" (without calling to cancel) will slow down the system for everyone and could possibly result in the suspension of Safe Ride privileges.</p>
<p><span class='fig-img-left' style="width: 70%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=2048655663" alt="Figure 1.0 Safe Ride Service Boundary Map" /><span class='fig-img-caption'>Figure 1.0 Safe Ride Service Boundary Map</span></span></p>
<h4 style="clear: both;"><span style="font-size: 1em;">Procedures &ndash; Smartphone Access</span></h4>
<p>The following procedures discuss how to access the Safe Ride system using a smartphone such as iPhone&reg; or Android&reg;.</p>
<p><strong>Note</strong><span class="p"><strong>:</strong> While this documentation applies to an Apple iPhone, the same steps will apply to all iOS devices, e.g., iPad</span>&reg; <span class="p">and iPod touch</span>&reg;<span class="p">.</span>&nbsp;</p>
<p style="text-align: center;"><span class='fig-img-left' style="width: 25%;margin: 0px auto;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=433460252"  /></span>&nbsp;</p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p class="s1"><strong>Step</strong></p>
</td>
<td>
<p class="s1"><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s2">1.</p>
</td>
<td>
<p class="s2">Open your mobile device browser and navigate to the Safe Ride web page by entering &ldquo;<a href="http://saferide.case.edu" target="_blank"><span class="s3">saferide.case.edu</span></a>&rdquo; into the address bar.</p>
</td>
</tr>
</tbody>
</table>
<p><span class='fig-img-left' style="width: 25%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1281963412"  /></span>&nbsp;</p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p class="s1"><strong>Step</strong></p>
</td>
<td>
<p class="s1"><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s2">2.</p>
</td>
<td>
<p class="s2">The Ride Request home page appears. Tap the <strong>Log in </strong>button to begin.</p>
<p><span class='fig-img-left' style="width: 15%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1838128835"  /></span></p>
<p><span style="line-height: 1.428571429; background-color: transparent;">&nbsp;</span></p>
<p><span style="line-height: 1.428571429; background-color: transparent;">&nbsp;</span></p>
<p><span style="line-height: 1.428571429; background-color: transparent;">&nbsp;</span></p>
<p><strong><span style="line-height: 1.428571429; background-color: transparent;">Note</span></strong><span class="s2" style="line-height: 1.428571429; background-color: transparent;">: If you attempt to access Safe Ride outside of normal operating hours (7 p.m. to 3 a.m.), you will receive a message stating the system is currently not in service.</span></p>
</td>
</tr>
</tbody>
</table>
<p><span class='fig-img-left' style="width: 25%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=111474789"  /></span>&nbsp;</p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p class="s1"><strong>Step</strong></p>
</td>
<td>
<p class="s1"><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s2">3.</p>
</td>
<td>
<p class="s2">The New Trip Request dialog box opens and will display the current system status. Tap the <strong>I&rsquo;m at </strong>block to begin entering your location.<br /><strong><span style="line-height: 1.428571429; background-color: transparent;">Note</span></strong><span class="s2" style="line-height: 1.428571429; background-color: transparent;">: If you have previously requested a ride from this location, the field will auto-complete.</span></p>
</td>
</tr>
<tr>
<td>
<p class="s2">4.</p>
</td>
<td>
<p class="s2">Tap the <strong>I want to go to </strong>block to begin entering text.</p>
</td>
</tr>
<tr>
<td>
<p class="s2">5.</p>
</td>
<td>
<p class="s2">Tap the <strong>No. of people </strong>block to enter the number of riders for this trip.</p>
</td>
</tr>
<tr>
<td>
<p class="s2">6.</p>
</td>
<td>
<p class="s2">Tap the <strong>Phone Number </strong>block to enter your number.</p>
</td>
</tr>
<tr>
<td>
<p class="s2">7.</p>
</td>
<td>
<p class="s2">Tap the <strong>Submit request </strong>button to initiate the Safe Ride request.</p>
<p><span class='fig-img-left' style="width: 25%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1467956190"  /></span></p>
</td>
</tr>
</tbody>
</table>
<p><span class='fig-img-left' style="width: 25%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=215664310"  /></span>&nbsp;</p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p class="s1"><strong>Step</strong></p>
</td>
<td>
<p class="s1"><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s2">8.</p>
</td>
<td>
<p class="s2">The New Trip Request dialog box will display your trip request. Tap the&nbsp;<span style="line-height: 1.428571429; background-color: transparent;">Track Request Status </span><span class="s2" style="line-height: 1.428571429; background-color: transparent;">button to view the status of your driver.</span></p>
<p>&nbsp;<span class='fig-img-left' style="width: 25%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=37535062"  /></span></p>
</td>
</tr>
</tbody>
</table>
<p><span class='fig-img-left' style="width: 25%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1925697901"  /></span>&nbsp;</p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p class="s1"><strong>Step</strong></p>
</td>
<td>
<p class="s1"><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s2">9.</p>
</td>
<td>
<p class="s2">Tap the button that displays your current trip request.</p>
<p class="s2"><span class='fig-img-left' style="width: 25%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1866700529"  /></span></p>
</td>
</tr>
</tbody>
</table>
<p><span class='fig-img-left' style="width: 25%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=290859068"  /></span>&nbsp;</p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p class="s1"><strong>Step</strong></p>
</td>
<td>
<p class="s1"><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s2">10.</p>
</td>
<td>
<p class="s2">Initially the trip request status will display: Driver Not Assigned. When the system dispatches the driver to your location, the request status will update and the driver&rsquo;s location will be displayed on the map.</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<h4><a id="bookmark2"></a>Procedures &ndash; Internet Access</h4>
<p>The following procedures discuss how to access the Safe Ride system using a laptop or desktop computer.&nbsp;</p>
<p><strong>Note</strong><span class="p">: While this documentation applies to a PC running Windows&reg; 7, the same steps will apply to a Mac&reg; OS X&reg; device.</span></p>
<p>&nbsp;<span class='fig-img-left' style="width: 80%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=572658283"  /></span>&nbsp;</p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p class="s1"><strong>Step</strong></p>
</td>
<td>
<p class="s1"><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s2">1.</p>
</td>
<td>
<p class="s2">Open your internet browser and navigate to the Safe Ride web interface by entering &ldquo;<a href="http://saferide.case.edu" target="_blank"><span class="s3">saferide.case.edu</span></a>&rdquo; into the address bar.</p>
</td>
</tr>
<tr>
<td>
<p class="s2">2.</p>
</td>
<td>
<p class="s2">If this is your first time using the Safe Ride system, click the Profile tab to create your user profile:</p>
<ul id="l1">
<li>
<p class="s2">Enter your <strong><span class="s4">First Name</span></strong></p>
</li>
<li>
<p class="s2">Enter your <strong><span class="s4">Last Name</span></strong></p>
</li>
<li>
<p class="s2">Enter your <strong><span class="s4">CWRU Email Address</span></strong></p>
</li>
<li>
<p class="s2">Enter your <strong><span class="s4">Telephone Number</span></strong>. Please enter a number where you can be reached while waiting for the driver, such as a cell number.</p>
</li>
</ul>
</td>
</tr>
<tr>
<td>
<p class="s2">3.</p>
</td>
<td>
<p class="s2">Click the <span class="s4">Save </span>button.</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;<span class='fig-img-left' style="width: 80%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=210217097"  /></span></p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p class="s1"><strong>Step</strong></p>
</td>
<td>
<p class="s1"><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s2">4.</p>
</td>
<td>
<p class="s2">Click the Request tab.</p>
<ul id="l2">
<li>
<p class="s2">Enter your <strong><span class="s4">Pick-up Location</span></strong></p>
</li>
<li>
<p class="s2">Enter your <strong><span class="s4">Destination</span></strong></p>
</li>
<li>
<p class="s2">Enter your <strong><span class="s4">Number of Passengers</span></strong></p>
</li>
<li>
<p class="s2">Enter your <strong><span class="s4">Telephone Number</span></strong>. Please enter a number where you can be reached while waiting for the driver, such as a cell number.</p>
</li>
</ul>
</td>
</tr>
<tr>
<td>
<p class="s2">5.</p>
</td>
<td>
<p class="s2">Click the <strong><span class="s4">Submit Request </span></strong>button.</p>
</td>
</tr>
<tr>
<td>
<p class="s2">6.</p>
</td>
<td>
<p class="s2">You can use the <strong><span class="s4">Track Driver </span></strong>link to view the driver&rsquo;s status.<span style="line-height: 1.428571429; background-color: transparent;">&nbsp;</span></p>
<p class="s2">Note: Initially the trip request status will display: Driver Not Assigned. When the system dispatches a driver to your location, the request status will update and the driver&rsquo;s location will be displayed on the map.</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<h4><a id="bookmark3"></a>Procedures &ndash; Interactive Voice Response System (IVRS)<a id="bookmark4"></a>&zwnj;</h4>
<p>The following procedures discuss how to access the Safe Ride system using the IVRS. Instructions will vary based on which type of telephone key pad design is used .</p>
<h4>Standard Numeric Keypad&nbsp;</h4>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p class="s1"><strong>Step</strong></p>
</td>
<td>
<p class="s1"><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s2">7.</p>
</td>
<td>
<p class="s1"><strong>Call 216.368.3000 to request a ride<span class="s2">.</span></strong></p>
<p class="s1"><strong>Note</strong><span class="s2">: If you do not press a key, the system will automatically connect you with a dispatcher.</span></p>
</td>
</tr>
<tr>
<td>
<p class="s2">8.</p>
</td>
<td>
<p class="s1"><strong>Listen to the choices and select an option<span class="s2">.</span></strong></p>
<p class="s1"><strong>First time callers</strong> <span class="s2">will receive the following options:</span></p>
<p class="s2">The system asks you to select a telephone keypad design:</p>
<p class="s2">Press 1 - if you are calling from a smartphone with QWERTY keypad. <br />Press 2 - if you are calling from a standard numeric keypad.</p>
<p class="s2">The system asks you to select an option: <br />Press 1 - to request a new pickup.<br /><span style="line-height: 1.428571429; background-color: transparent;">Press 2 - to learn how to use the system.<br /></span><span style="line-height: 1.428571429; background-color: transparent;">Press 0 - to talk to a person (if you have difficulty with the system).</span></p>
</td>
</tr>
<tr>
<td>
<p class="s2">9.</p>
</td>
<td>
<p class="s1"><strong>Listen to the choices and select an option<span class="s2">. </span>Repeat callers</strong> <span class="s2">will receive the following options:</span></p>
<p class="s2">The system asks you to select an option: <br />Press 1 - to choose from a previous pickup. <br />Press 2 - to request a new pickup.<br /><span style="line-height: 1.428571429; background-color: transparent;">Press 3 - to learn how to use the system.<br /></span><span style="line-height: 1.428571429; background-color: transparent;">Press 0 - to talk to a person (if you have difficulty with the system). <br />Press 9 - to leave a feedback (to share your experience with Safe Ride).</span></p>
</td>
</tr>
<tr>
<td>
<p class="s2">10.</p>
</td>
<td>
<p class="s1"><strong>Select a start location<span class="s2">.</span></strong></p>
<p class="s2">Press 1 - to select from a previously requested start location. <br />Press 2 - to search by location name.</p>
<p class="s2">If you choose Option 2, enter the first 4 letters of the start location and press the pound(#) key. Enter 7497 (PHYS) to search for the &ldquo;Physics Building&rdquo;.</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;<span class='fig-img-left' style="width: 80%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=767667083"  /></span>&nbsp;</p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p class="s1"><strong>Step</strong></p>
</td>
<td>
<p class="s1"><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s2">11.</p>
</td>
<td>
<p class="s1"><strong>Select an end location<span class="s2">.</span></strong></p>
<p class="s2">Press 1 - to select from a previously requested start location. <br />Press 2 - to search by location name.</p>
</td>
</tr>
<tr>
<td>
<p class="s2">12.</p>
</td>
<td>
<p class="s1"><strong>Enter the number of people in your trip<span class="s2">.</span></strong></p>
</td>
</tr>
<tr>
<td>
<p class="s2">13.</p>
</td>
<td>
<p class="s1"><strong>OPTIONAL: Review your trip<span class="s2">.</span></strong></p>
<p class="s2">The system will save your request and replay it for confirmation. <br />You may either hang up or select from the following options: <br />Press 1 - to make another request.<br /><span style="line-height: 1.428571429; background-color: transparent;">Press 2 - to change the start location. <br />Press 3 - to change the end location. <br />Press 4 - to change the number of people.</span></p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<h4><a id="bookmark5"></a>QWERTY Keypad</h4>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p class="s1"><strong>Step</strong></p>
</td>
<td>
<p class="s1"><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s2">14.</p>
</td>
<td>
<p class="s1">Call 216.368.3000 to request a ride<span class="s2">.</span></p>
<p class="s1">Note<span class="s2">: If you do not press a key, the system will automatically connect you with a dispatcher.</span></p>
</td>
</tr>
<tr>
<td>
<p class="s2">15.</p>
</td>
<td>
<p class="s1"><strong>Listen to the choices and select an option<span class="s2">.<br /></span></strong><strong style="line-height: 1.428571429; background-color: transparent;">First time callers</strong><span class="s2" style="line-height: 1.428571429; background-color: transparent;">will receive the following options:</span></p>
<p class="s2">The system asks you to select a telephone keypad design:<br /><span style="line-height: 1.428571429; background-color: transparent;">Press 1 - if you are calling from a smartphone with QWERTY keypad. <br />Press 2 - if you are calling from a standard numeric keypad.</span></p>
<p class="s2">The system asks you to select an option: <br />Press 1 - to request a new pickup.<br /><span style="line-height: 1.428571429; background-color: transparent;">Press 2 - to learn how to use the system.<br /></span><span style="line-height: 1.428571429; background-color: transparent;">Press 0 - to talk to a person (if you have difficulty with the system).</span></p>
</td>
</tr>
<tr>
<td>
<p class="s2">16.</p>
</td>
<td>
<p class="s1"><strong>Listen to the choices and select an option<span class="s2">. <br /></span>Repeat callers</strong> <span class="s2">will receive the following options:</span></p>
<p class="s2">The system asks you to select an option: <br />Press 1 - to choose from a previous pickup. <br />Press 2 - to request a new pickup.<br /><span style="line-height: 1.428571429; background-color: transparent;">Press 3 - to learn how to use the system.<br /></span><span style="line-height: 1.428571429; background-color: transparent;">Press 0 - to talk to a person (if you have difficulty with the system). <br />Press 9 - to leave a feedback (to share your experience with Safe Ride).</span></p>
</td>
</tr>
<tr>
<td>
<p class="s2">17.</p>
</td>
<td>
<p class="s1"><strong>Select a start location<span class="s2">.</span></strong></p>
<p class="s2">Press 1 - to select from a previously requested start location. <br />Press 2 - to search by location name.</p>
<p class="s2">If you choose Option 2, enter the first 4 letters of the start location and press the pound(#) key. Press ALT+P, ALT+H, ALT+Y, ALT+S (PHYS) to search for the &ldquo;Physics Building&rdquo;<span class="s5">.</span></p>
</td>
</tr>
</tbody>
</table>
<p><span class='fig-img-left' style="width: 80%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=328784839"  /></span>&nbsp;</p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p class="s1"><strong>Step</strong></p>
</td>
<td>
<p class="s1"><strong>Action</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s2">18.</p>
</td>
<td>
<p class="s1"><strong>Select an end location<span class="s2">.</span></strong></p>
<p class="s2">Press 1 - to select from a previously requested start location. <br />Press 2 - to search by location name.</p>
</td>
</tr>
<tr>
<td>
<p class="s2">19.</p>
</td>
<td>
<p class="s1"><strong>Enter the number of people in your trip.</strong></p>
</td>
</tr>
<tr>
<td>
<p class="s2">20.</p>
</td>
<td>
<p class="s1"><strong>OPTIONAL: Review your trip</strong></p>
<p class="s2">The system will save your request and replay it for confirmation. You may either hang up or select from the following options:</p>
<p class="s2">Press 1 - to make another request. <br />Press 2 - to change the start location. <br />Press 3 - to change the end location.<br /><span style="line-height: 1.428571429; background-color: transparent;">Press 4 - to change the number of people.</span></p>
</td>
</tr>
</tbody>
</table>
</div>
<div style="clear:both"></div>
</div><!--.row-->
</div><!-- end main content area-->{% include_relative _includes/survey.html %}
{% include_relative _includes/footer.html %}
</div>
</body>
</html><hr>

<p>&nbsp;</p>
<p>&nbsp;</p>


<div class="well">
<p class="lead">Answer three questions to help us improve your experience</p>

<iframe name="confirm" id="confirm" style="display:none;" onload="if(typeof sent_confirm!='undefined'){window.location='https://googledrive.com/host/0B5e4Smfyuda_dEJRRlZ1UmhSTGM/thank-you-webex.html';}"></iframe>
<form action="https://docs.google.com/forms/d/1XYrNCfwy4w_Cx_k7FkaTN5LhYN8e2920DOna_n7l-jQ/formResponse" method="POST" id="ss-form" target="confirm" onsubmit="sent_confirm=true">

    <div class="form-group">
  		<p><label>Would you recommend WebEx to a colleague or friend? *</label><br>
    		<select class="form-control" name="entry.535955540" id="entry_535955540" placeholder="Yes">
    		<option selected disabled hidden value=''></option>
    		<option value="Yes">Yes</option> 
    		<option value="No">No</option>
  		</select></p>

  		<p><label>Do the included instructions lead naturally to an expected outcome? *</label><br>
    		<select class="form-control" name="entry.1059610721" id="entry_1059610721" placeholder="Yes">
    		<option selected disabled hidden value=''></option>
    		<option value="Yes">Yes</option> 
    		<option value="No">No</option>
  		</select></p>

  		<p><label>Are the included instructions clear and understandable? *</label><br>
    		<select class="form-control" name="entry.1188770357" id="entry_1188770357" placeholder="Yes">
    		<option selected disabled hidden value=''></option>
    		<option value="Yes">Yes</option> 
    		<option value="No">No</option>
  		</select></p>

  		<p><label>Feedback</label><br>
  		<textarea name="entry.1986528048" class="form-control" rows="3" id="entry_1986528048" placeholder="Survey responses are anonymous. So if you want personal followup, add your contact information here."></textarea></p>
		<p>&nbsp;</p>
		<button type="submit" name="submit" value="Submit" id="ss-submit" class="btn btn-primary">Submit response</button>
		</form>
	</div>
</div>


<hr>

<div class="pull-right">
<p>&copy; 2015, Case Western Reserve University</p>
</div>
<div class="clearfix"></div>

</div>
</body>
</html>