<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
 	<meta http-equiv="X-UA-Compatible" content="IE=edge">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

		<style>
		h2 { padding-top: 30px; }
		h3 { padding-top: 20px; }
		</style>

	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container"><!DOCTYPE html>
<html lang="en">
<head>
{% include_relative _includes/header.html %}

</head>
<body>
<div class="container"><span><!-- navigation object : Page Name template -->ITS KBA 83865 Save Website App</span>
</section>
</div>
</div>
  
<div class='displayNone'><!-- navigation object : Breadcrumbs hidden template -->
  <div class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- navigation object : Home Link template --><a href='SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27574'><img src='https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=865706445' alt="Go to Home" /></a><!-- navigation object : Breadcrumbs Template --> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=27574&amp;chid=144&amp;lang=en">ITS</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=41906&amp;chid=144&amp;lang=en">ITS Development</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67312&amp;chid=144&amp;lang=en">rpretzer</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67341&amp;chid=144&amp;lang=en">KBA</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67469&amp;chid=144&amp;lang=en">ITS KBA 83865 Save Website App</a>
  </div><!-- .breadcrumb -->
</div>
  
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-col">
    
    <div class="row"><a id="d.en.200670"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200670"></a>
<h3>Saving a Website Like an App</h3>
  

  
<p>Use the directions below to save a website to your mobile device&rsquo;s home screen so that it looks like an app.</p>
<h4>iPhone:</h4>
<p>&nbsp;<span class='fig-img-right' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1811381905"  /></span></p>
<ol>
<li>Use Safari to navigate to the website you want to add to your home screen.</li>
<li>Tap the middle icon at the bottom of Safari (it looks like a box with an arrow pointing to the right).</li>
<li>Tap &ldquo;Add to Home Screen.&rdquo;</li>
<li>Enter a name for the icon if you want to change the default name.</li>
<li>Tap the &ldquo;Add&rdquo; button. Safari will close and you will be taken to your new bookmark on the home screen.</li>
</ol>
<p>&nbsp;</p>
<h4>&nbsp;</h4>
<h4>Android:</h4>
<p>&nbsp;<span class='fig-img-right' style="width: 20%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=37736337"  /></span></p>
<ol>
<li>Use your web browser to navigate to the website you want to add to your home screen.</li>
<li>Press the Menu button and select &ldquo;Bookmarks.&rdquo;</li>
<li>Select the icon in the top-left that is labeled &ldquo;Add.&rdquo;</li>
<li>Enter a name for the bookmark if you want to change the default name (note that this name will be what is displayed for the icon on the home screen)</li>
<li>Press &ldquo;OK&rdquo; to add the bookmark.</li>
<li>Press and hold on the newly-created bookmark and select &ldquo;Add shortcut to Home&rdquo; from the menu that pops up.</li>
</ol>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h4>BlackBerry:</h4>
<p>&nbsp;<span class='fig-img-right' style="width: 20%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=446592886"  /></span></p>
<ol>
<li>Use your web browser to navigate to the website you want to add to your home screen.</li>
<li>Press the BlackBerry button and select the &ldquo;Add to Home Screen&rdquo; option.</li>
<li>Enter a name for the icon if you want to change the default name. You can also change where the icon will appear in the &ldquo;Location&rdquo; field, and you can add the icon to your Favorites panel by selecting the &ldquo;Mark as Favorite&rdquo; checkbox.</li>
<li>Press the &ldquo;Add&rdquo; button to add the icon to the home screen.</li>
</ol>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h4>Windows Phone 7:</h4>
<p>&nbsp;<span class='fig-img-right' style="width: 20%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=423058009"  /></span></p>
<ol>
<li>Use Internet Explorer to navigate to the website you want to add to your home screen.</li>
<li>Tap the &ldquo;&hellip;&rdquo; icon in the bottom-right of the screen.</li>
<li>Select the &ldquo;Pin to Start&rdquo; option to add the website to your home screen.</li>
</ol>
</div>
<div style="clear:both"></div>
</div><!--.row-->
</div><!-- end main content area-->{% include_relative _includes/survey.html %}
{% include_relative _includes/footer.html %}
</div>
</body>
</html><hr>

<p>&nbsp;</p>
<p>&nbsp;</p>


<div class="well">
<p class="lead">Answer three questions to help us improve your experience</p>

<iframe name="confirm" id="confirm" style="display:none;" onload="if(typeof sent_confirm!='undefined'){window.location='https://googledrive.com/host/0B5e4Smfyuda_dEJRRlZ1UmhSTGM/thank-you-webex.html';}"></iframe>
<form action="https://docs.google.com/forms/d/1XYrNCfwy4w_Cx_k7FkaTN5LhYN8e2920DOna_n7l-jQ/formResponse" method="POST" id="ss-form" target="confirm" onsubmit="sent_confirm=true">

    <div class="form-group">
  		<p><label>Would you recommend WebEx to a colleague or friend? *</label><br>
    		<select class="form-control" name="entry.535955540" id="entry_535955540" placeholder="Yes">
    		<option selected disabled hidden value=''></option>
    		<option value="Yes">Yes</option> 
    		<option value="No">No</option>
  		</select></p>

  		<p><label>Do the included instructions lead naturally to an expected outcome? *</label><br>
    		<select class="form-control" name="entry.1059610721" id="entry_1059610721" placeholder="Yes">
    		<option selected disabled hidden value=''></option>
    		<option value="Yes">Yes</option> 
    		<option value="No">No</option>
  		</select></p>

  		<p><label>Are the included instructions clear and understandable? *</label><br>
    		<select class="form-control" name="entry.1188770357" id="entry_1188770357" placeholder="Yes">
    		<option selected disabled hidden value=''></option>
    		<option value="Yes">Yes</option> 
    		<option value="No">No</option>
  		</select></p>

  		<p><label>Feedback</label><br>
  		<textarea name="entry.1986528048" class="form-control" rows="3" id="entry_1986528048" placeholder="Survey responses are anonymous. So if you want personal followup, add your contact information here."></textarea></p>
		<p>&nbsp;</p>
		<button type="submit" name="submit" value="Submit" id="ss-submit" class="btn btn-primary">Submit response</button>
		</form>
	</div>
</div>


<hr>

<div class="pull-right">
<p>&copy; 2015, Case Western Reserve University</p>
</div>
<div class="clearfix"></div>

</div>
</body>
</html>