<!DOCTYPE html>
<html lang="en">
<head>
{% include_relative _includes/header.html %}

</head>
<body>
<div class="container"><span><!-- navigation object : Page Name template -->ITS KBA 83865 Save Website App</span>
</section>
</div>
</div>
  
<div class='displayNone'><!-- navigation object : Breadcrumbs hidden template -->
  <div class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- navigation object : Home Link template --><a href='SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27574'><img src='https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=865706445' alt="Go to Home" /></a><!-- navigation object : Breadcrumbs Template --> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=27574&amp;chid=144&amp;lang=en">ITS</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=41906&amp;chid=144&amp;lang=en">ITS Development</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67312&amp;chid=144&amp;lang=en">rpretzer</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67341&amp;chid=144&amp;lang=en">KBA</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67469&amp;chid=144&amp;lang=en">ITS KBA 83865 Save Website App</a>
  </div><!-- .breadcrumb -->
</div>
  
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-col">
    
    <div class="row"><a id="d.en.200670"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200670"></a>
<h3>Saving a Website Like an App</h3>
  

  
<p>Use the directions below to save a website to your mobile device&rsquo;s home screen so that it looks like an app.</p>
<h4>iPhone:</h4>
<p>&nbsp;<span class='fig-img-right' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1811381905"  /></span></p>
<ol>
<li>Use Safari to navigate to the website you want to add to your home screen.</li>
<li>Tap the middle icon at the bottom of Safari (it looks like a box with an arrow pointing to the right).</li>
<li>Tap &ldquo;Add to Home Screen.&rdquo;</li>
<li>Enter a name for the icon if you want to change the default name.</li>
<li>Tap the &ldquo;Add&rdquo; button. Safari will close and you will be taken to your new bookmark on the home screen.</li>
</ol>
<p>&nbsp;</p>
<h4>&nbsp;</h4>
<h4>Android:</h4>
<p>&nbsp;<span class='fig-img-right' style="width: 20%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=37736337"  /></span></p>
<ol>
<li>Use your web browser to navigate to the website you want to add to your home screen.</li>
<li>Press the Menu button and select &ldquo;Bookmarks.&rdquo;</li>
<li>Select the icon in the top-left that is labeled &ldquo;Add.&rdquo;</li>
<li>Enter a name for the bookmark if you want to change the default name (note that this name will be what is displayed for the icon on the home screen)</li>
<li>Press &ldquo;OK&rdquo; to add the bookmark.</li>
<li>Press and hold on the newly-created bookmark and select &ldquo;Add shortcut to Home&rdquo; from the menu that pops up.</li>
</ol>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h4>BlackBerry:</h4>
<p>&nbsp;<span class='fig-img-right' style="width: 20%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=446592886"  /></span></p>
<ol>
<li>Use your web browser to navigate to the website you want to add to your home screen.</li>
<li>Press the BlackBerry button and select the &ldquo;Add to Home Screen&rdquo; option.</li>
<li>Enter a name for the icon if you want to change the default name. You can also change where the icon will appear in the &ldquo;Location&rdquo; field, and you can add the icon to your Favorites panel by selecting the &ldquo;Mark as Favorite&rdquo; checkbox.</li>
<li>Press the &ldquo;Add&rdquo; button to add the icon to the home screen.</li>
</ol>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h4>Windows Phone 7:</h4>
<p>&nbsp;<span class='fig-img-right' style="width: 20%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=423058009"  /></span></p>
<ol>
<li>Use Internet Explorer to navigate to the website you want to add to your home screen.</li>
<li>Tap the &ldquo;&hellip;&rdquo; icon in the bottom-right of the screen.</li>
<li>Select the &ldquo;Pin to Start&rdquo; option to add the website to your home screen.</li>
</ol>
</div>
<div style="clear:both"></div>
</div><!--.row-->
</div><!-- end main content area-->{% include_relative _includes/survey.html %}
{% include_relative _includes/footer.html %}
</div>
</body>
</html>