<!DOCTYPE html>
<html lang="en">
<head>
{% include_relative _includes/header.html %}

</head>
<body>
<div class="container"><span><!-- navigation object : Page Name template -->ITS KBA 8070 Spiderweb</span>
</section>
</div>
</div>
  
<div class='displayNone'><!-- navigation object : Breadcrumbs hidden template -->
  <div class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- navigation object : Home Link template --><a href='SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27574'><img src='https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1061601278' alt="Go to Home" /></a><!-- navigation object : Breadcrumbs Template --> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=27574&amp;chid=144&amp;lang=en">ITS</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=41906&amp;chid=144&amp;lang=en">ITS Development</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67312&amp;chid=144&amp;lang=en">rpretzer</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67341&amp;chid=144&amp;lang=en">KBA</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67479&amp;chid=144&amp;lang=en">ITS KBA 8070 Spiderweb</a>
  </div><!-- .breadcrumb -->
</div>
  
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-col">
    
    <div class="row"><a id="d.en.200716"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200716"></a>
<h3>Spiderweb</h3>
  

  
<p>Spiderweb is enterprise online software used by staff and faculty involved in sponsored projects and research. It provides a portal to information about grants, contracts and, as applicable, regulatory protocols pertaining to the use of human subjects, animals or recombinant DNA in research. It also provides users with the ability to enter and retrieve data that are needed for sponsored project administration such as electronic routing and submission of proposals and protocols, online conflict of interest updating and continuing research education credit (CREC) information. For more information, go to&nbsp;<a href="https://research.case.edu/" target="_blank">ora.ra.case.edu/ospa</a></p>
<p>Users access Spiderweb at&nbsp;<a href="http://research.case.edu/spiderweb/" target="_blank">research.case.edu/spiderweb/</a><span class="s2">&nbsp;</span>with their CWRU Network ID&rsquo;s and passwords.</p>
<h4>Problems:</h4>
<p>If a user cannot get into Spiderweb, first determine that the CWRU Network ID and password is correct. If both are correct but the user cannot login, the user or the Service Desk can contact the Office of Research Compliance for assistance.</p>
<p>Phone: 216.368.6925</p>
</div>
<div style="clear:both"></div>
</div><!--.row-->
</div><!-- end main content area-->
{% include_relative _includes/survey.html %}
{% include_relative _includes/footer.html %}
</div>
</body>
</html>