<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
 	<meta http-equiv="X-UA-Compatible" content="IE=edge">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

		<style>
		h2 { padding-top: 30px; }
		h3 { padding-top: 20px; }
		</style>

	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container"><!DOCTYPE html>
<html lang="en">
<span><!-- navigation object : Page Name template -->ITS KBA 89265 SIS Printing</span>
</section>
</div>
</div>
  
<div class='displayNone'><!-- navigation object : Breadcrumbs hidden template -->
  <div class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- navigation object : Home Link template --><a href='SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27574'><img src='https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1097810534' alt="Go to Home" /></a><!-- navigation object : Breadcrumbs Template --> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=27574&amp;chid=144&amp;lang=en">ITS</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=41906&amp;chid=144&amp;lang=en">ITS Development</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67312&amp;chid=144&amp;lang=en">rpretzer</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67341&amp;chid=144&amp;lang=en">KBA</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67445&amp;chid=144&amp;lang=en">ITS KBA 89265 SIS Printing</a>
  </div><!-- .breadcrumb -->
</div>
  
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-col">
    
    <div class="row"><a id="d.en.200573"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200573"></a>
<h3>Printing Screens from the SIS</h3>
  

  
<p>The Student Information System (SIS) does not support the printing of pages from the browser <strong>Print </strong>button. If you try to print a SIS screen from an Internet browser, the printed page will be blank or show only the header of the page.</p>
<p>There are a few ways to manipulate printing options in Internet Explorer and Firefox that will allow you to print full pages from the SIS.</p>
<h4>Internet Explorer</h4>
<p class="s1">Option 1</p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p>&nbsp;</p>
<p class="s2">1. Right click your mouse on the screen and select <strong>Print</strong>.</p>
</td>
<td>
<p>&nbsp;<span class='fig-img-left' style="width: 60%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=547538759"  /></span></p>
</td>
</tr>
<tr>
<td>
<p>&nbsp;</p>
<p class="s2">2. The Print window will appear. Select your printer and click the <strong>Print </strong>button.</p>
</td>
<td>
<p>&nbsp;<span class='fig-img-left' style="width: 90%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=697078726"  /></span></p>
</td>
</tr>
</tbody>
</table>
<p class="s1">Option 2</p>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td>1. Right click your mouse on the page and click <strong>Select all</strong>.</td>
<td><span class='fig-img-left' style="width: 90%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1796536327"  /></span></td>
</tr>
<tr>
<td>
<p>&nbsp;</p>
<p class="s2">2. In IE 9: Select <strong>Tools</strong>, <strong>Print</strong>, then <strong>Print Preview</strong>. In IE 8: Select <strong>File</strong>, then <strong>Print Preview</strong>.</p>
</td>
<td>&nbsp;<span class='fig-img-left' style="width: 90%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=387270446"  /></span></td>
</tr>
<tr>
<td>
<p class="s2">3. The Print Preview window appears. Click the second dropdown box from the left and select <strong>As selected on screen</strong>.</p>
</td>
<td>&nbsp;<span class='fig-img-left' style="width: 90%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=15852974"  /></span></td>
</tr>
<tr>
<td>
<p class="s2">4. Click the last dropdown box from the left and select <strong>Shrink to fit </strong>(if it doesn&rsquo;t appear already).</p>
</td>
<td>
<p>&nbsp;<span class='fig-img-left' style="width: 90%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=313215813"  /></span></p>
</td>
</tr>
<tr>
<td>
<p>&nbsp;</p>
<p class="s2">5. Click the <strong>Print </strong>button on the top left.</p>
</td>
<td>&nbsp;<span class='fig-img-left' style="width: 90%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1401769806"  /></span></td>
</tr>
<tr>
<td>
<p>&nbsp;</p>
<p class="s2">6. The Print window will appear. Select your printer and click the Print button.</p>
</td>
<td>&nbsp;<span class='fig-img-left' style="width: 90%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=2129771226"  /></span></td>
</tr>
</tbody>
</table>
<h4>Mozilla Firefox</h4>
<table border="1" cellspacing="0">
<tbody>
<tr>
<td colspan="2">
<p class="s2">1. Right click your mouse on the screen.</p>
</td>
</tr>
<tr>
<td>
<p>&nbsp;</p>
<p class="s2">2. Place your mouse over <strong>This Frame </strong>and select <strong>Print Frame</strong>.</p>
</td>
<td>
<p>&nbsp;<span class='fig-img-left' style="width: 90%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1041297129"  /></span></p>
</td>
</tr>
<tr>
<td>
<p>3. The print dialog box will appear. Select your printer and click&nbsp;<strong>OK</strong>.&nbsp;</p>
</td>
<td>
<p>&nbsp;<span class='fig-img-left' style="width: 90%;"><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=429872988"  /></span></p>
</td>
</tr>
</tbody>
</table>
</div>
<div style="clear:both"></div>
</div><!--.row-->
</div><!-- end main content area-->
{% include_relative _includes/survey.html %}
{% include_relative _includes/footer.html %}
</div>
</body>
</html><hr>

<p>&nbsp;</p>
<p>&nbsp;</p>


<div class="well">
<p class="lead">Answer three questions to help us improve your experience</p>

<iframe name="confirm" id="confirm" style="display:none;" onload="if(typeof sent_confirm!='undefined'){window.location='https://googledrive.com/host/0B5e4Smfyuda_dEJRRlZ1UmhSTGM/thank-you-webex.html';}"></iframe>
<form action="https://docs.google.com/forms/d/1XYrNCfwy4w_Cx_k7FkaTN5LhYN8e2920DOna_n7l-jQ/formResponse" method="POST" id="ss-form" target="confirm" onsubmit="sent_confirm=true">

    <div class="form-group">
  		<p><label>Would you recommend WebEx to a colleague or friend? *</label><br>
    		<select class="form-control" name="entry.535955540" id="entry_535955540" placeholder="Yes">
    		<option selected disabled hidden value=''></option>
    		<option value="Yes">Yes</option> 
    		<option value="No">No</option>
  		</select></p>

  		<p><label>Do the included instructions lead naturally to an expected outcome? *</label><br>
    		<select class="form-control" name="entry.1059610721" id="entry_1059610721" placeholder="Yes">
    		<option selected disabled hidden value=''></option>
    		<option value="Yes">Yes</option> 
    		<option value="No">No</option>
  		</select></p>

  		<p><label>Are the included instructions clear and understandable? *</label><br>
    		<select class="form-control" name="entry.1188770357" id="entry_1188770357" placeholder="Yes">
    		<option selected disabled hidden value=''></option>
    		<option value="Yes">Yes</option> 
    		<option value="No">No</option>
  		</select></p>

  		<p><label>Feedback</label><br>
  		<textarea name="entry.1986528048" class="form-control" rows="3" id="entry_1986528048" placeholder="Survey responses are anonymous. So if you want personal followup, add your contact information here."></textarea></p>
		<p>&nbsp;</p>
		<button type="submit" name="submit" value="Submit" id="ss-submit" class="btn btn-primary">Submit response</button>
		</form>
	</div>
</div>


<hr>

<div class="pull-right">
<p>&copy; 2015, Case Western Reserve University</p>
</div>
<div class="clearfix"></div>

</div>
</body>
</html>