<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
 	<meta http-equiv="X-UA-Compatible" content="IE=edge">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

		<style>
		h2 { padding-top: 30px; }
		h3 { padding-top: 20px; }
		</style>

	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container"><!DOCTYPE html>
<html lang="en">
<span><!-- navigation object : Page Name template -->ITS KBA 23414 security resources</span>
</section>
</div>
</div>
  
<div class='displayNone'><!-- navigation object : Breadcrumbs hidden template -->
  <div class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- navigation object : Home Link template --><a href='SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27574'><img src='https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1883605968' alt="Go to Home" /></a><!-- navigation object : Breadcrumbs Template --> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=27574&amp;chid=144&amp;lang=en">ITS</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=41906&amp;chid=144&amp;lang=en">ITS Development</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67312&amp;chid=144&amp;lang=en">rpretzer</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67341&amp;chid=144&amp;lang=en">KBA</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67406&amp;chid=144&amp;lang=en">ITS KBA 23414 security resources</a>
  </div><!-- .breadcrumb -->
</div>
  
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-col">
    
    <div class="row"><a id="d.en.200301"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200301"></a>
<h2>Resources for Secure Computing</h2>
  

  

</div>
<a id="d.en.200308"></a>


<div class='tinyMCE   col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200308"></a>
<h3>ITS Policies</h3>
  

  

</div>
<a id="d.en.200309"></a>

<div class='tinyMCE col-xs-12 col-sm-12 col-md-12 col-lg-12'>
<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class='panel-title'> 
        <a data-toggle="collapse" href='#collapse200309' class="collapsed">
          General ITS policies
        </a>
  </h3>
    </div>
    <div id='collapse200309' class="panel-collapse  collapse">
      <div class="panel-body">
        <p><a target="_blank" href="SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27648"><span class="s1">Acceptable Use Policy</span></a></p>
<p><a target="_blank" href="SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27652">SMTP Policy</a></p>
<p><a target="_blank" href="SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27652">Other ITS policies</a></p>
<ul>
<li><strong><strong>Hardware firewalls (revision posted 2005-01-24):</strong>&nbsp;</strong>Hardware firewalls are prohibited on the network. Valuable information assets should be placed in an ITS data center.</li>
<li><strong>Excessive outgoing bandwidth consumption:</strong>&nbsp;Users may not consume a disproportionate amount of outbound network bandwidth.</li>
<li><strong>Sniffing Policy 1.0, 2004-03-22:</strong>&nbsp;The use of network sniffers (software that opens a network interface in promiscuous mode) is prohibited on the Case network without prior arrangement with ITS.</li>
<li><strong>Software firewalls:</strong>&nbsp;Users should employ host-based firewall software on their individual computers. Windows XP and Mac OS X users should enable built-in firewall features. Unix users should employ ipchains, iptables, ipfw, or similar.</li>
<li><strong>User-provided domain names:</strong>&nbsp;Users may not cause a hostname outside the Case domains to point to an IP address within the Case address spaces.</li>
<li><strong>User-provided wireless access points:</strong>&nbsp;Users may not connect a wireless access point to the network, nor use the wireless capabilities of a network-connected computer to provide wireless network access.</li>
</ul>
      </div>
    </div>
</div>
</div>
<a id="d.en.200310"></a>

<div class='tinyMCE col-xs-12 col-sm-12 col-md-12 col-lg-12'>
<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class='panel-title'> 
        <a data-toggle="collapse" href='#collapse200310' class="collapsed">
          Regulatory Compliance
        </a>
  </h3>
    </div>
    <div id='collapse200310' class="panel-collapse  collapse">
      <div class="panel-body">
        <p class="p1">All university information systems are subject to the following federal regulations:</p>
<ul class="ul1">
<li class="li2"><strong>Family Educational Rights and Privacy Act</strong>&nbsp;or FERPA (concerning student records) - stated in the Case General Bulletin</li>
<li class="li2"><strong>Gramm-Leach-Bliley Act</strong>&nbsp;or GLBA (concerning financial information handling)</li>
<li class="li2"><strong>FTC</strong>&nbsp;information</li>
<li class="li2"><strong>Health Insurance Portability and Accountability Act</strong>&nbsp;or HIPAA (concerning medical information)<br /><a href="http://www.hhs.gov/ocr/privacy/"><span class="s1">Read more about HIPAA</span></a></li>
</ul>
      </div>
    </div>
</div>
</div>
<a id="d.en.200311"></a>


<div class='tinyMCE   col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200311"></a>

  

  
<p><strong><span style="text-decoration: underline;">1</span></strong></p>
</div>
<a id="d.en.200304"></a>


<div class='tinyMCE   col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200304"></a>
<h3>Windows users</h3>
  

  

</div>
<a id="d.en.200307"></a>


<div class='tinyMCE   col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200307"></a>
<h3>System administrators</h3>
  

  
<ul class="ul1">
<li class="li5"><span class="s3"><a target="_blank" href="SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27670"><span class="s1">Logon banners</span></a></span>&nbsp;enhance security by deterring intrusion and stengthening your position when prosecuting intruders.</li>
<li class="li5">To test the security of an SMTP (mail) server you run, telnet to&nbsp;<a href="telnet://relay-test.mail-abuse.org" target="_blank"><span class="s2">telnet://relay-test.mail-abuse.org</span></a>.</li>
<li class="li5">If you need a certificate signed or one that will be recognized outside the university, contact the Service Desk at 216.368.HELP (4357).</li>
</ul>
</div>
<a id="d.en.200313"></a>


<div class='tinyMCE   col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200313"></a>
<h3>Tools for Internet Information Services (IIS)</h3>
  

  
<ul class="ul1">
<li class="li4"><a href="http://go.microsoft.com/fwlink/?LinkId=113939" target="_blank"><span class="s1">Microsoft IIS Lockdown Tool</span></a></li>
<li class="li4"><a href="http://technet.microsoft.com/en-us/security/cc242650.aspx" target="_blank"><span class="s1">Microsoft UrlScan Security Tool</span></a></li>
<li class="li5"><span class="s3"><a href="http://technet.microsoft.com/en-us/security/cc242650.aspx" target="_blank"><span class="s1">Foundstone fport</span></a></span>&nbsp;(lists the open TCP &amp; UDP ports on your system, and the programs that have them open)</li>
</ul>
</div>
<a id="d.en.200312"></a>


<div class='tinyMCE   col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200312"></a>
<h3>Routine maintenance and security news (Windows users)</h3>
  

  
<ul class="ul1">
<li class="li4"><a href="http://windowsupdate.microsoft.com/" target="_blank"><span class="s1">Windows functional and security updates</span></a></li>
<li class="li4"><a href="http://office.microsoft.com/officeupdate" target="_blank"><span class="s1">Microsoft Office updates</span></a></li>
<li class="li5">Symantec Endpoint Protection (available from the&nbsp;<a href="https://softwarecenter.case.edu/" target="_blank"><span class="s2">Software Center</span></a>)</li>
<li class="li5">Perform regular security audits using&nbsp;<a href="http://technet.microsoft.com/en-us/security/cc242650.aspx" target="_blank"><span class="s2">Microsoft Baseline Security Analyzer</span></a></li>
<li class="li4"><a href="http://www.microsoft.com/security" target="_blank"><span class="s1">Microsoft Security</span></a></li>
<li class="li4"><a href="http://www.microsoft.com/technet/security" target="_blank"><span class="s1">TechNet Security</span></a></li>
<li class="li4"><a href="http://go.microsoft.com/fwlink/?LinkId=113939" target="_blank"><span class="s1">Windows XP Security Guide</span></a></li>
<li class="li4"><a href="http://go.microsoft.com/fwlink/?LinkId=113939" target="_blank"><span class="s1">Windows Vista Security Guide</span></a></li>
<li class="li4"><span class="s1"><a href="http://go.microsoft.com/fwlink/?LinkId=113939" target="_blank">Windows 7 Security Guide</a></span></li>
</ul>
</div>
<a id="d.en.200305"></a>

<div class='tinyMCE col-xs-12 col-sm-12 col-md-12 col-lg-12'>
<div class="panel panel-default">
    <div class="panel-heading">
      <p class='panel-title'> 
        <a data-toggle="collapse" href='#collapse200305' class="collapsed">
          del
        </a>
  </p>
    </div>
    <div id='collapse200305' class="panel-collapse  collapse">
      <div class="panel-body">
        <p>1</p>
      </div>
    </div>
</div>
</div>
<a id="d.en.200306"></a>

<div class='tinyMCE col-xs-12 col-sm-12 col-md-12 col-lg-12'>
<div class="panel panel-default">
    <div class="panel-heading">
      <p class='panel-title'> 
        <a data-toggle="collapse" href='#collapse200306' class="collapsed">
          del2
        </a>
  </p>
    </div>
    <div id='collapse200306' class="panel-collapse  collapse">
      <div class="panel-body">
        
      </div>
    </div>
</div>
</div>
<div style="clear:both"></div>
</div><!--.row-->
</div><!-- end main content area-->
{% include_relative _includes/survey.html %}
{% include_relative _includes/footer.html %}
</div>
</body>
</html><iframe src="https://docs.google.com/forms/d/1TlL5J4nLLgHuz4HqhUJRUzRcxdC7UFEX9lsHDT0U2mw/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>


<hr>

<div class="pull-right">
<p>&copy; 2015, Case Western Reserve University</p>
</div>
<div class="clearfix"></div>

</div>
</body>
</html>