<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
 	<meta http-equiv="X-UA-Compatible" content="IE=edge">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

		<style>
		h2 { padding-top: 30px; }
		h3 { padding-top: 20px; }
		</style>

	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container"><!DOCTYPE html>
<html lang="en">
<head>
{% include_relative _includes/header.html %}

</head>
<body>
<div class="container"><span><!-- navigation object : Page Name template -->ITS KBA 84556 Types Of Desk Phones</span>
</section>
</div>
</div>
  
<div class='displayNone'><!-- navigation object : Breadcrumbs hidden template -->
  <div class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- navigation object : Home Link template --><a href='SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27574'><img src='https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1620857369' alt="Go to Home" /></a><!-- navigation object : Breadcrumbs Template --> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=27574&amp;chid=144&amp;lang=en">ITS</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=41906&amp;chid=144&amp;lang=en">ITS Development</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67312&amp;chid=144&amp;lang=en">rpretzer</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67341&amp;chid=144&amp;lang=en">KBA</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67461&amp;chid=144&amp;lang=en">ITS KBA 84556 Types Of Desk Phones</a>
  </div><!-- .breadcrumb -->
</div>
  
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-col">
    
    <div class="row"><a id="d.en.200638"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200638"></a>
<h3>Types of Desk Phones</h3>
  

  
<h4>Model 7942G</h4>
<table border="0">
<tbody>
<tr>
<td align="left" width="25%">&nbsp;<span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=753191943"  /></span></td>
<td align="left" width="25%">
<p>This phone is the standard phone for full-time faculty and staff.</p>
<p>&nbsp;</p>
<ul>
<li>Two-line set</li>
<li>Hands free speakerphone</li>
<li>Large LCD display</li>
<li>Headset jack</li>
<li>Volume control</li>
<li>Message waiting light</li>
</ul>
</td>
</tr>
</tbody>
</table>
<h4>Model 7945G</h4>
<table border="0">
<tbody>
<tr>
<td align="left" width="25%">&nbsp;<span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1336125936"  /></span></td>
<td align="left" width="25%">
<ul id="l4">
<li>High-fidelity wideband audio for vibrant, lifelike conversations; Internet Low Bitrate Codec (iLBC) support for use in lossy networks</li>
<li>Large backlit color display for easy use of Cisco Unified Communications and third- party telephone applications</li>
<li>Improved navigation cluster for easier navigation and feature and function selection</li>
<li>Gigabit Ethernet connectivity</li>
</ul>
</td>
</tr>
</tbody>
</table>
<h4>Model 7962G</h4>
<table border="0">
<tbody>
<tr>
<td align="left" width="25%">&nbsp;<span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=362542223"  /></span></td>
<td align="left" width="25%">
<ul id="l">
<li>Six-line set</li>
<li>Hands free speakerphone</li>
<li>Large LCD display</li>
<li>Headset jack</li>
<li>Volume control</li>
<li>Message waiting light</li>
</ul>
</td>
</tr>
</tbody>
</table>
<h4>Model 7965G</h4>
<table border="0">
<tbody>
<tr>
<td align="left" width="25%">&nbsp;<span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1792963752"  /></span></td>
<td align="left" width="25%">
<ul id="l5">
<li>High-fidelity wideband audio for vibrant, lifelike conversations; Internet Low Bitrate Codec (iLBC) support for use in lossy networks</li>
<li>Large backlit color display for easy use of Cisco Unified Communications and third-party telephone applications</li>
<li>Improved navigation cluster for easier navigation and feature and function selection</li>
<li>Gigabit Ethernet connectivity</li>
</ul>
</td>
</tr>
</tbody>
</table>
<h4>Model 7937</h4>
<table border="0">
<tbody>
<tr>
<td align="left" width="25%">&nbsp;<span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1617093819"  /></span></td>
<td align="left" width="25%">
<ul>
<li>Hands free speakerphone</li>
<li>Single-line set</li>
<li>Full duplex</li>
<li>Suitable for small to medium sized conference rooms</li>
<li>Optional microphone kit ($220.50) for large conference rooms</li>
<li><strong>Model 7937 must be ordered from the vendor</strong></li>
</ul>
</td>
</tr>
</tbody>
</table>
<h4>Model 7970G</h4>
<table border="0">
<tbody>
<tr>
<td align="left" width="25%">&nbsp;<span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=2026372494"  /></span></td>
<td align="left" width="25%">
<ul>
<li>Eight-line set</li>
<li>Color touch-screen display</li>
<li>Hands free speakerphone</li>
<li>Headset jack</li>
<li>Volume control</li>
<li>Message waiting light</li>
</ul>
</td>
</tr>
</tbody>
</table>
<h4>Model 7914 Expansion Module</h4>
<table border="0">
<tbody>
<tr>
<td align="left" width="25%">&nbsp;<span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=709174318"  /></span></td>
<td align="left" width="25%">
<ul>
<li>Adds fourteen buttons for either additional lines or speed dial numbers</li>
<li>Includes new base and power cord</li>
<li>Up to two expansion modules can be added to a 7960</li>
<li><strong>Model 7937 must be ordered from the vendor</strong></li>
</ul>
</td>
</tr>
</tbody>
</table>
<h4>Analog Telephone Adapter 186</h4>
<table border="0">
<tbody>
<tr>
<td align="left" width="25%">&nbsp;<span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=441994310"  /></span></td>
<td align="left" width="25%">
<ul>
<li>Allows an analog and an IP phone to share the same faceplate</li>
</ul>
<p>A - analog phone/fax <br /> B - IP connection <br /> C - power cord socket</p>
</td>
</tr>
</tbody>
</table>
<h4>Linksys EZXS55W Etherfast Switch</h4>
<table border="0">
<tbody>
<tr>
<td align="left" width="25%">&nbsp;<span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1397738184"  /></span></td>
<td align="left" width="25%">
<ul>
<li>Linksys EZXS55W Etherfast 10/100 5 port auto- sensing switch includes power adapter.</li>
<li>The EtherFast 10/100 5-Port Switch is the easiest, most flexible way to boost your network's performance while migrating to the power of Fast Ethernet.</li>
<li>Designed to meet the needs of small businesses, medium businesses and SOHO networks.</li>
</ul>
</td>
</tr>
</tbody>
</table>
<h4>Cisco Unified Wideband Handset</h4>
<table border="0">
<tbody>
<tr>
<td align="left" width="25%">&nbsp;<span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1468213899"  /></span></td>
<td align="left" width="25%">
<ul>
<li>Enhanced audio experience makes communications more intelligible and comfortable for the user.</li>
<li>Sold as an accessory that can be installed on Cisco Unified IP Phone 7906G, 7911G, 7941G, 7942G, 7945G, 7941G-GE, 7961G, 7961G-GE, 7962G, 7965G, 7970G, and 7971G-GE, 7975G models.</li>
</ul>
</td>
</tr>
</tbody>
</table>
<h4>Power Supply</h4>
<table border="0">
<tbody>
<tr>
<td align="left" width="25%">&nbsp;<span class='fig-img-' style=""><img class="fig-img" src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1143463171"  /></span></td>
<td align="left" width="25%">
<ul>
<li>Replacement power supply for most Cisco CP- 79XX series IP phones.</li>
<li>Compatible models include 7902G, 7910G+SW, CP-7940G 7905G, CP-7912G, CP-7960G 7910G, CP-7914.</li>
</ul>
</td>
</tr>
</tbody>
</table>
</div>
<div style="clear:both"></div>
</div><!--.row-->
</div><!-- end main content area-->{% include_relative _includes/survey.html %}
{% include_relative _includes/footer.html %}
</div>
</body>
</html><hr>

<p>&nbsp;</p>
<p>&nbsp;</p>


<div class="well">
<p class="lead">Answer three questions to help us improve your experience</p>

<iframe name="confirm" id="confirm" style="display:none;" onload="if(typeof sent_confirm!='undefined'){window.location='https://googledrive.com/host/0B5e4Smfyuda_dEJRRlZ1UmhSTGM/thank-you-webex.html';}"></iframe>
<form action="https://docs.google.com/forms/d/1XYrNCfwy4w_Cx_k7FkaTN5LhYN8e2920DOna_n7l-jQ/formResponse" method="POST" id="ss-form" target="confirm" onsubmit="sent_confirm=true">

    <div class="form-group">
  		<p><label>Would you recommend WebEx to a colleague or friend? *</label><br>
    		<select class="form-control" name="entry.535955540" id="entry_535955540" placeholder="Yes">
    		<option selected disabled hidden value=''></option>
    		<option value="Yes">Yes</option> 
    		<option value="No">No</option>
  		</select></p>

  		<p><label>Do the included instructions lead naturally to an expected outcome? *</label><br>
    		<select class="form-control" name="entry.1059610721" id="entry_1059610721" placeholder="Yes">
    		<option selected disabled hidden value=''></option>
    		<option value="Yes">Yes</option> 
    		<option value="No">No</option>
  		</select></p>

  		<p><label>Are the included instructions clear and understandable? *</label><br>
    		<select class="form-control" name="entry.1188770357" id="entry_1188770357" placeholder="Yes">
    		<option selected disabled hidden value=''></option>
    		<option value="Yes">Yes</option> 
    		<option value="No">No</option>
  		</select></p>

  		<p><label>Feedback</label><br>
  		<textarea name="entry.1986528048" class="form-control" rows="3" id="entry_1986528048" placeholder="Survey responses are anonymous. So if you want personal followup, add your contact information here."></textarea></p>
		<p>&nbsp;</p>
		<button type="submit" name="submit" value="Submit" id="ss-submit" class="btn btn-primary">Submit response</button>
		</form>
	</div>
</div>


<hr>

<div class="pull-right">
<p>&copy; 2015, Case Western Reserve University</p>
</div>
<div class="clearfix"></div>

</div>
</body>
</html>