<!DOCTYPE html>
<html lang="en">
<head>
{% include_relative _includes/header.html %}

</head>
<body>
<div class="container"><span><!-- navigation object : Page Name template -->ITS KBA 50782 University Calendar</span>
</section>
</div>
</div>
  
<div class='displayNone'><!-- navigation object : Breadcrumbs hidden template -->
  <div class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- navigation object : Home Link template --><a href='SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27574'><img src='https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1950226491' alt="Go to Home" /></a><!-- navigation object : Breadcrumbs Template --> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=27574&amp;chid=144&amp;lang=en">ITS</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=41906&amp;chid=144&amp;lang=en">ITS Development</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67312&amp;chid=144&amp;lang=en">rpretzer</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67341&amp;chid=144&amp;lang=en">KBA</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67391&amp;chid=144&amp;lang=en">ITS KBA 50782 University Calendar</a>
  </div><!-- .breadcrumb -->
</div>
  
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-col">
    
    <div class="row"><a id="d.en.200235"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200235"></a>
<h3>University Calendar</h3>
  

  
<p>Case Western Reserve University publishes a shared calendar listing university events open to the campus community. By accessing this calendar, you can view schedules and have event reminders sent via email or text right to your mobile phone.</p>
<p>To access the University Events calendar through your own Google Calendar:</p>
<ol>
<li>Open Google Calendar at <a href="http://webcalendar.case.edu" target="_blank">webcalendar.case.edu</a>. Log in to Single Sign-On if required.</li>
<li>Under "<strong>Other calendars</strong>" click on the Add link.</li>
<li>Select <strong>Add by URL</strong> from the menu.</li>
<li style="word-wrap: break-word;">Copy and paste this URL into the "<strong>Add by URL</strong>" box:<br /> http://www.google.com/calendar/ical/case.edu_gupalc7urm7b82taup5h7vge9s%40group.calendar.google.com/public/basic.ics<br /> Click the Add Calendar button.</li>
<li>The <strong>University Events</strong> calendar will appear under your "<strong>Other calendars</strong>" list.</li>
<li>Click on the University Events calendar menu to customize its color or adjust other settings.</li>
</ol>
<p>If you experience difficulty locating the University Events calendar, please contact the ITS Service Desk at 216.368.HELP (4357) or <a class="a" href="mailto:help@case.edu" target="_blank">help@case.edu</a><a class="s9" href="mailto:help@case.edu" target="_blank">.</a></p>
<p>To place an event on the University Events calendar, go to <a class="a" href="http://www.case.edu/events/calendars/submit.html" target="_blank">www.case.edu/events/calendars/submit.html </a>to learn more.</p>
</div>
<div style="clear:both"></div>
</div><!--.row-->
</div><!-- end main content area-->{% include_relative _includes/survey.html %}
{% include_relative _includes/footer.html %}
</div>
</body>
</html>