<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
 	<meta http-equiv="X-UA-Compatible" content="IE=edge">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

		<style>
		h2 { padding-top: 30px; }
		h3 { padding-top: 20px; }
		</style>

	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container"><!DOCTYPE html>
<html lang="en">
<head>
{% include_relative _includes/header.html %}

</head>
<body>
<div class="container"><span><!-- navigation object : Page Name template -->ITS KBA 78818 Voicemail</span>
</section>
</div>
</div>
  
<div class='displayNone'><!-- navigation object : Breadcrumbs hidden template -->
  <div class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- navigation object : Home Link template --><a href='SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27574'><img src='https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1042108497' alt="Go to Home" /></a><!-- navigation object : Breadcrumbs Template --> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=27574&amp;chid=144&amp;lang=en">ITS</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=41906&amp;chid=144&amp;lang=en">ITS Development</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67312&amp;chid=144&amp;lang=en">rpretzer</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67341&amp;chid=144&amp;lang=en">KBA</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67490&amp;chid=144&amp;lang=en">ITS KBA 78818 Voicemail</a>
  </div><!-- .breadcrumb -->
</div>
  
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-col">
    
    <div class="row"><a id="d.en.200765"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200765"></a>
<h3>Voicemail</h3>
  

  
<p>Case Western Reserve University uses a voicemail system called Communit&eacute; that saves voicemail messages to your voicemail mailbox, as well as to .wav files that are mailed to your CWRU email account. You can listen to your messages by calling in to the system through your desk or personal phone, or by listening to them through your computer. For more information, go to&nbsp;<a target="_blank" href="SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27856">case.edu/its/telephone-services/voicemail-system/</a></p>
<h4>There are three types of Voicemail Mailboxes: Personal Voicemail Mailboxes</h4>
<p>Personal voicemail mailboxes exist when one phone number is assigned to one mailbox and one email address.</p>
<h4>Shared Voicemail Mailboxes</h4>
<p>Shared voicemail mailboxes provide individual mailboxes to multiple users that are reached using the same phone number.</p>
<h4>Department Voicemail Mailboxes</h4>
<p>Department voicemail mailboxes allow multiple people to hear all messages in the mailbox. Department mailboxes can be set up so that they can only be accessed by telephone (no one receives an email copy of the message), or with both telephone access and email access (using a mailing list). The latter option exists so that everyone in the group has the ability to hear the message on the phone or on their computer. See&nbsp;<span class="s1">Set Up a Department Mailbox&nbsp;</span>for more information.</p>
<h4>How To:</h4>
<p class="s1"><a href="#access">Access Your Voice Mailbox</a></p>
<p class="s1"><a href="#reset">Reset a Forgotten Passcode</a></p>
<p class="s1"><a href="#manage">Manage Voice Messages</a></p>
<p class="s1"><a href="#setup">Set Up Personal Options/Prompts</a></p>
<p class="s1"><a href="#changeoptions">Change Telephone and Message Playback Options</a></p>
<p class="s1"><a href="#transfercall">Transfer a Call directly to another voicemail mailbox</a></p>
<p class="s1"><a href="#setstatus">Set User Status</a></p>
<p class="s1"><a href="#department">Set Up a Department Mailbox</a></p>
<p class="s1"><a href="#removedeleted">Remove Deleted Voicemail Messages from Phone</a></p>
<h4><a id="access"></a>Access Your Voice Mailbox</h4>
<h4>From Your Desk Phone</h4>
<ol id="l1">
<li>Press the&nbsp;<strong>Messages&nbsp;</strong>button</li>
<li>Enter your five-digit passcode and the # key.</li>
<li>The default passcode is &ldquo;12345.&rdquo; It is recommended that you change it to a secure passcode as soon as possible.
<ul id="l2">
<li>To change your passcode at any time, press the Messages button. When the prompt begins, press 5, 5, 3.</li>
</ul>
</li>
</ol>
<h4>From Another Phone (off or on campus)</h4>
<ol id="l3">
<li>Call your own number.</li>
<li>When the greeting begins to play, press the star (*) key.</li>
<li>Enter your five-digit passcode and the pound (#) key.</li>
<li>The default passcode is &ldquo;12345.&rdquo; It is recommended that you change it to a secure passcode as soon as possible.
<ul id="l4">
<li>To change your passcode at any time, press the star (*) key, then 5, 5, 3.</li>
</ul>
</li>
</ol>
<h4>From Your Computer</h4>
<ol id="l5">
<li>Locate the message from &ldquo;<strong>icadmin</strong>.&rdquo; Open the message.</li>
<li>Download the&nbsp;<strong>.wav&nbsp;</strong>file attachment.</li>
<li>Your default audio player will appear and play the message.
<ul id="l6">
<li>Audio players that play .wav files include Windows Media Player, Quicktime, RealPlayer, iTunes, Mplayer, and others.</li>
</ul>
</li>
</ol>
<h4>Note<span class="p">: Listening to and deleted voicemail messages in your email will NOT affect the voicemail&rsquo;s availability from your phone-based voice mailbox.</span></h4>
<h4>From an Analog VoIP Phone</h4>
<ol id="l7">
<li>Dial star zero (*0).</li>
<li>Enter your passcode and the pound (#) key.</li>
<li>The default passcode is &ldquo;12345.&rdquo; It is recommended that you change it to a secure passcode as soon as possible.
<ul id="l8">
<li>To change your passcode at any time, press 5, 5, 3 after the voicemail prompt begins.</li>
</ul>
</li>
</ol>
<h4><a id="reset"></a>Reset a Forgotten Passcode</h4>
<p>If you have forgotten your voicemail passcode, first attempt to log in to the voicemail system with the default passcode, &ldquo;12345.&rdquo; If the default passcode doesn&rsquo;t work, proceed with the following steps.</p>
<ol id="l9">
<li>Go to&nbsp;<span class="s3">https://its-services.case.edu/UnifiedMessaging/resetPIN/</span></li>
<li>Click the&nbsp;<strong>Reset PIN Now&nbsp;</strong>button.</li>
<li>Your passcode is changed to &ldquo;12345.&rdquo; It is recommended that you change it to a secure passcode as soon as possible.
<ul id="l10">
<li>To change your passcode, dial in to the voicemail system. When the prompt begins, press 5, 3, 3.</li>
</ul>
</li>
</ol>
<h4><a id="manage"></a>Manage Voice Messages</h4>
<p>Press the&nbsp;<strong>Messages&nbsp;</strong>key (or dial in to your voice mailbox), then:</p>
<ul>
<li>To listen to new messages: press 1, 1</li>
<li>To listen to saved messages: press 1, 2</li>
</ul>
<p>During message playback:</p>
<ul>
<li>Save the current message: press 1</li>
<li>Forward the message: press 2</li>
<li>Skip to the next message: press 3</li>
<li>Replay current message: press 4</li>
<li>Rewind 6 seconds: press 5</li>
<li>Fast forward 6 seconds: press 6</li>
<li>Delete this message: press 7</li>
<li>Decrease the volume: press 8</li>
<li>Increase the volume: press 9</li>
</ul>
<p>After message playback:</p>
<ul>
<li>Save the current message: press 1</li>
<li>Forward the message: press 2</li>
<li>Skip to the next message: press 3</li>
<li>Replay current message: press 4</li>
<li>Reply to current message: press 5</li>
<li>Fast forward 6 seconds: press 6</li>
<li>Delete this message: press 7</li>
<li>Play date and time of message: press 8</li>
<li>Increase the volume: press 9</li>
</ul>
<h4>Skip greeting</h4>
<p>Press pound, pound (#, #) while listening to a greeting</p>
<h4><a id="setup"></a>Set Up Personal Options/Prompts</h4>
<p>Press the&nbsp;<strong>Messages&nbsp;</strong>key (or dial in to your voice mailbox), then:</p>
<ul id="l11">
<li>Record voicemail greeting: press 5, 4, 1</li>
<li>Listen to voicemail greeting: press 5, 4, 2</li>
<li>Record your name: press 5, 4, 5</li>
<li>Listen to your name: press 5, 4, 6</li>
<li>Toggle greeting on or off: press 5, 4, 9</li>
<li>Change your passcode: press 5, 5, 3</li>
</ul>
<h4><a id="changeoptions"></a>Change Telephone and Message Playback Options</h4>
<ol id="l12">
<li>Go to&nbsp;<span class="s5">https://um.case.edu/Communite/</span></li>
<li>Enter your CWRU Network ID and password.</li>
<li>Click on the&nbsp;<strong>Options&nbsp;</strong>menu.</li>
<li>Select&nbsp;<strong>Telephone Interface&nbsp;</strong>from the menu.</li>
<li>The Telephone Interface Options page appears. You can change the following settings:<ol type="a">
<li>Play Message Counts</li>
<li>Message Sort Order</li>
<li>Mailbox Greeting</li>
<li>Set Playback Mode</li>
<li>Message Options</li>
</ol></li>
</ol>
<h4><a id="transfercall"></a>Transfer a Call directly to another voicemail mailbox</h4>
<ol id="l14">
<li>Press the&nbsp;<strong>Transfer&nbsp;</strong>soft key</li>
<li>Dial star, star (*, *) and the seven-digit CWRU telephone number (368.xxxx)</li>
<li>Press the&nbsp;<strong>Transfer&nbsp;</strong>soft key again</li>
</ol>
<h4><a id="setstatus"></a>Set User Status</h4>
<ol id="l15">
<li>Go to&nbsp;<span class="s5">https://um.case.edu/Communite/</span></li>
<li>Click on the&nbsp;<strong>Your Status Is&nbsp;</strong>dropdown box.</li>
<li>Select the appropriate status from the dropdown list.</li>
</ol>
<h4><a id="department"></a>Set Up a Department Mailbox</h4>
<ol id="l16">
<li>Dial 754.3800 from the telephone number being setting up.</li>
<li>You will hear a &ldquo;Welcome to Communit&eacute;&rdquo; message. Enter your passcode. The default passcode is 12345 followed by the # key.</li>
<li>You will then be led through a brief New User Tutorial which will walk you through three steps:<ol type="a">
<li>Change your passcode (minimum of 5 digits).</li>
<li>Record your department name (the tutorial calls this a &ldquo;prompt&rdquo;).</li>
<li>Record a department greeting.<ol type="i">
<li>You have a choice as to which parts of the greeting play for your callers. There are three parts to the greeting:<ol id="l19">
<li>Department name</li>
<li>Department greeting</li>
<li>A standard greeting that says &ldquo;please leave a message after the tone&rdquo;.</li>
</ol></li>
<li>At a minimum, please record your department name. If you don&rsquo;t record a department greeting, then just the department name and the standard greeting will play.</li>
<li>If you don&rsquo;t want your department name to play because you will say it in the greeting, please record the department name and then turn it off by following the instructions to un-check the Mailbox Greeting box. The standard greeting will always play &ndash; that cannot be turned off.</li>
</ol></li>
</ol></li>
<li>Once the department mailbox has been set up, forwarding is already set up. You will receive an email from Telephone Services with instructions and the temporary password. Callers can now be transferred to the departmental mailbox.</li>
<li>Access the new mailbox by pressing the&nbsp;<strong>Messages&nbsp;</strong>key on the department phone.</li>
</ol>
<p>Use the directions under&nbsp;<span class="s1">Manage Voice Messages&nbsp;</span>to access and listen to voicemail messages.</p>
<h4><a id="removedeleted"></a>Remove Deleted Voicemail Messages from Phone</h4>
<p>Even after voicemail messages are deleted from your mailbox, they are still saved in a &ldquo;recently deleted&rdquo; folder on the unified messaging server. To expunge deleted emails, follow the steps below.</p>
<ol id="l20">
<li>Press the&nbsp;<strong>Messages&nbsp;</strong>key</li>
<li>Enter your five-digit passcode and the&nbsp;<strong>#&nbsp;</strong>key</li>
<li>Press&nbsp;<strong>5&nbsp;</strong>for &ldquo;Administrative Options&rdquo;</li>
<li>Press&nbsp;<strong>7&nbsp;</strong>for &ldquo;Manage Recently Deleted Messages&rdquo;</li>
<li>Press&nbsp;<strong>5&nbsp;</strong>for &ldquo;Erase Deleted Messages&rdquo;</li>
<li>Press&nbsp;<strong>1&nbsp;</strong>for &ldquo;For Voicemail Messages&rdquo;</li>
<li>Press&nbsp;<strong>1&nbsp;</strong>for &ldquo;Confirm Deletion&rdquo;</li>
</ol>
</div>
<div style="clear:both"></div>
</div><!--.row-->
</div><!-- end main content area-->{% include_relative _includes/survey.html %}
{% include_relative _includes/footer.html %}
</div>
</body>
</html><hr>

<p>&nbsp;</p>
<p>&nbsp;</p>


<div class="well">
<p class="lead">Answer three questions to help us improve your experience</p>

<iframe name="confirm" id="confirm" style="display:none;" onload="if(typeof sent_confirm!='undefined'){window.location='https://googledrive.com/host/0B5e4Smfyuda_dEJRRlZ1UmhSTGM/thank-you-webex.html';}"></iframe>
<form action="https://docs.google.com/forms/d/1XYrNCfwy4w_Cx_k7FkaTN5LhYN8e2920DOna_n7l-jQ/formResponse" method="POST" id="ss-form" target="confirm" onsubmit="sent_confirm=true">

    <div class="form-group">
  		<p><label>Would you recommend WebEx to a colleague or friend? *</label><br>
    		<select class="form-control" name="entry.535955540" id="entry_535955540" placeholder="Yes">
    		<option selected disabled hidden value=''></option>
    		<option value="Yes">Yes</option> 
    		<option value="No">No</option>
  		</select></p>

  		<p><label>Do the included instructions lead naturally to an expected outcome? *</label><br>
    		<select class="form-control" name="entry.1059610721" id="entry_1059610721" placeholder="Yes">
    		<option selected disabled hidden value=''></option>
    		<option value="Yes">Yes</option> 
    		<option value="No">No</option>
  		</select></p>

  		<p><label>Are the included instructions clear and understandable? *</label><br>
    		<select class="form-control" name="entry.1188770357" id="entry_1188770357" placeholder="Yes">
    		<option selected disabled hidden value=''></option>
    		<option value="Yes">Yes</option> 
    		<option value="No">No</option>
  		</select></p>

  		<p><label>Feedback</label><br>
  		<textarea name="entry.1986528048" class="form-control" rows="3" id="entry_1986528048" placeholder="Survey responses are anonymous. So if you want personal followup, add your contact information here."></textarea></p>
		<p>&nbsp;</p>
		<button type="submit" name="submit" value="Submit" id="ss-submit" class="btn btn-primary">Submit response</button>
		</form>
	</div>
</div>


<hr>

<div class="pull-right">
<p>&copy; 2015, Case Western Reserve University</p>
</div>
<div class="clearfix"></div>

</div>
</body>
</html>