<!DOCTYPE html>
<html lang="en">
<head>
{% include_relative _includes/header.html %}

</head>
<body>
<div class="container"><span><!-- navigation object : Page Name template -->ITS KBA 19522 Print2Here</span>
</section>
</div>
</div>
  
<div class='displayNone'><!-- navigation object : Breadcrumbs hidden template -->
  <div class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- navigation object : Home Link template --><a href='SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27574'><img src='https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=275331620' alt="Go to Home" /></a><!-- navigation object : Breadcrumbs Template --> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=27574&amp;chid=144&amp;lang=en">ITS</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=41906&amp;chid=144&amp;lang=en">ITS Development</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67312&amp;chid=144&amp;lang=en">rpretzer</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67341&amp;chid=144&amp;lang=en">KBA</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67413&amp;chid=144&amp;lang=en">ITS KBA 19522 Print2Here</a>
  </div><!-- .breadcrumb -->
</div>
  
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-col">
    
    <div class="row"><a id="d.en.200385"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200385"></a>
<h2>About WEPA</h2>
  

  
<p>The WEPA program is available through CaseCash to the entire campus community. Through collaboration with Housing, Residence Life &amp; Greek Life and Educational Services for Students, undergraduate students receive limited free printing.</p>
</div>
<a id="d.en.200388"></a>


<div class='tinyMCE   col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200388"></a>
<h3>Additional Resources</h3>
  

  
<p><a href="http://studentaffairs.case.edu/services/print2here/" target="_blank">List of available printers and their status</a></p>
<p><a href="http://studentaffairs.case.edu/services/print2here/freeprint.html" target="_blank">Cost of printing, free printing quotas for undergraduates</a></p>
<p><a href="http://studentaffairs.case.edu/services/print2here/howitworks.html" target="_blank">How to use WEPA</a></p>
</div>
<a id="d.en.200389"></a>


<div class='tinyMCE   col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200389"></a>
<h3>Questions?</h3>
  

  
<p>For further assistance contact the administrators of the WEPA program by email at&nbsp;<a href="mailto:print2here@case.edu" target="_blank">print2here@case.edu</a>&nbsp;or call the Service Desk at 216.368.HELP (4357).</p>
</div>
<div style="clear:both"></div>
</div><!--.row-->
</div><!-- end main content area-->{% include_relative _includes/survey.html %}
{% include_relative _includes/footer.html %}
</div>
</body>
</html>