<!DOCTYPE html>
<html lang="en">
<head>
{% include_relative _includes/header.html %}

</head>
<body>
<div class="container"><span><!-- navigation object : Page Name template -->ITS KBA 6367 Xbox Live Issues</span>
</section>
</div>
</div>
  
<div class='displayNone'><!-- navigation object : Breadcrumbs hidden template -->
  <div class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- navigation object : Home Link template --><a href='SiteManager?ctfn=publish&amp;fnno=30&amp;chid=144&amp;lang=en&amp;sid=27574'><img src='https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=804193328' alt="Go to Home" /></a><!-- navigation object : Breadcrumbs Template --> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=27574&amp;chid=144&amp;lang=en">ITS</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=41906&amp;chid=144&amp;lang=en">ITS Development</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67312&amp;chid=144&amp;lang=en">rpretzer</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67341&amp;chid=144&amp;lang=en">KBA</a> > <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=67385&amp;chid=144&amp;lang=en">ITS KBA 6367 Xbox Live Issues</a>
  </div><!-- .breadcrumb -->
</div>
  
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-col">
    
    <div class="row"><a id="d.en.200193"></a>


<div class='tinyMCE noLine  col-xs-12 col-sm-12 col-md-12 col-lg-12' >
<a class="anchor" name="200193"></a>
<h3>Xbox Live Issues</h3>
  

  
<h4>What is NAT?</h4>
<p>NAT, or Network Address Translation, is a networking concept that, in part, allows your router to share a single IP address across multiple devices. Instead of your ISP assigning you an IP address for every single device that you want to use to connect to the Internet, NAT provides your ISP a more efficient way to assign a single IP address to your router. Your router will then generate its own set of IP addresses, which it will manage.</p>
<h4>How does NAT affect online gaming?</h4>
<p>NAT issues can manifest them in many ways on Xbox LIVE. These issues are primarily caused by the way that routers talk to one other. Unfortunately, not all routers handle network traffic exactly the same way. Therefore, the routers do not "talk" to each other in the same way. When this occurs, you may experience some of the following symptoms:</p>
<ul>
<li>You may have problems trying to play a game together with a particular friend. You cannot join his game or he cannot join yours.</li>
<li>You may not be able to hear a certain person within a game, but you can see that he is talking.</li>
<li>You may not be able to accept a friend's game invite. Some things that you should be aware of:</li>
<li>NAT does not affect lag within game play. It affects only the ability to connect with other players</li>
<li>If you do not have a router, so that you are connecting to Xbox LIVE by using a modem only, you should not experience NAT issues.</li>
<li>If you are connecting from a corporate network or from a college dormitory, there is a good chance that you are behind a proxy or firewall. Therefore, you may run into NAT issues.</li>
</ul>
<h4>Resolution</h4>
<p>These issues are outside of the university&rsquo;s control. Contact Xbox support to see if you can get a reinstall of the NXE pushed to you machine.</p>
</div>
<div style="clear:both"></div>
</div><!--.row-->
</div><!-- end main content area-->{% include_relative _includes/survey.html %}
{% include_relative _includes/footer.html %}
</div>
</body>
</html>