<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
 	<meta http-equiv="X-UA-Compatible" content="IE=edge">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

		<style>
		h2 { padding-top: 30px; }
		h3 { padding-top: 20px; }
		</style>

	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container"><!DOCTYPE html>
<html lang="en">


<h2>Subscribe to the CWRU YouTube channel</h2>
  

  
<p>Subscribe to the&nbsp;<a href="http://www.youtube.com/user/case" target="_blank">CWRU&nbsp;YouTube channel</a>&nbsp;to catch the latest public lectures, lab demonstrations, research seminars and more.</p>
<p>CWRU's presense on YouTube is one component of a suite of services managed by CWRU ITS that supports academic exploration and excellence.&nbsp;To contact the Case Western Reserve University&nbsp;YouTube Channel administrator or to learn more about video production for the web, email&nbsp;<a class="s2" href="mailto:help@case.edu" target="_blank">help@case.edu</a>.</p>


{% include_relative _includes/survey.html %}
{% include_relative _includes/footer.html %}
</div>
</body>
</html><!-- <iframe src="https://docs.google.com/forms/d/1TlL5J4nLLgHuz4HqhUJRUzRcxdC7UFEX9lsHDT0U2mw/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
 -->


<hr>

<div class="pull-right">
<p>&copy; 2015, Case Western Reserve University</p>
</div>
<div class="clearfix"></div>

</div>
</body>
</html>